[2016-02-13 12:58] cjb commented on #2068
Very sorry about that.  Back up now.

@maxtaco Same crash -- your fix will make it into a Linux package at 12pm ET, and I'll upgrade to it after that.

[2016-02-13 13:12] NoSubstitute commented on #1650
It's been five months and Keybase still can't verify against the largest social network in the world. Nor against Google+, which sits with an equally enormous userbase, and isn't even listed among the "accepted". Both sites have the ability to post any long unformatted text (or simply formatted, with newline), only editable by the actual user, but neither can force the url beforehand. Though, both

[2016-02-13 13:12] timmc commented on #2019
I think it's fixed, although there's another bug to file or find.

Using version 1.0.11-20160212170047+3050b64 I can do the encryption without `--no-self`, and `gpg --decrypt` works on the resulting ciphertext, but keybase cannot decrypt it:

[code]

[2016-02-13 13:15] maxtaco commented on #2019
Great news. Ish.

Can you rerun keybase pgp select --only-import

I think it failed to import your elgamal subkey the last time.

On Saturday, February 13, 2016, Tim McCormack <notifications@github.com>
wrote:

[2016-02-13 13:16] cjb commented on #2067
(It's back now.)

[2016-02-13 13:26] timmc commented on #2019
Yes, that worked, thanks! After `keybase pgp select --only-import` I was able to run `keybase pgp decrypt` successfully.

[2016-02-13 13:26] #2019 closed

[2016-02-13 13:27] NoSubstitute commented on #518
What's the hold-up?
It's been five months and Keybase still can't verify against the largest social network in the world. Nor against Google+, which sits with an equally enormous userbase, and isn't even listed among the "accepted". Both sites have the ability to post any long unformatted text (or simply formatted, with newline), only editable by the actual user, but neither can force the url befo

[2016-02-13 13:29] cjb commented on #2069
Hm, you can run `somescript | keybase unlock --stdin`, would that work?

[2016-02-13 13:30] maxtaco commented on #2019
Excellent.  Yeah it was about 3 related bugs in the go pgp library that
masked each other.  Glad it is fixed!

On Saturday, February 13, 2016, Tim McCormack <notifications@github.com>
wrote:

[2016-02-13 13:45] maxtaco commented on #2068
@dametenshi you caught us on the weekend before we've fully operationalized keybase.pub! pretty duck-taped together as we ramp up...

[2016-02-13 13:50] maxtaco commented on #2070
I put a ticket in Jira, I'll take a look when I can. Thanks @yipal!

[2016-02-13 14:00] timmc commented on #2067
Figured it out, doc problem actually.

[2016-02-13 14:07] timmc opened #2071 "`/keybase/public/<myname>` does not implicitly exist"
According to the launch announcement and other KBFS docs, public or private directories implicitly exist and can simply be written to. For example, from the launch announcement:

On Debian 7 (Wheezy) I'm not finding that to be true. For example, even though `/keybase` exists, I cannot list my private dir contents:

[code]

If I first do `mkdir -p /keybase/private/timmc` then I can.

[2016-02-13 14:22] zQueal commented on #518
This list is just a community list. It has nothing to do with Keybase and certainly isn't official. Just something compiled to keep tickets clean, really. The only reason why Google+ isn't listed as "accepted" is because I've yet to see any actual proof that it's being worked on, or that it's on a roadmap somewhere. Although I'm sure it is, but like I said, I haven't seen it.

[2016-02-13 14:22] zQueal commented on #1650
Everything said, Keybase is going through a refactoring right now. From the old client which was written in Node to a new client which is now written in Go. Additionally, focus from the team also seems to be centered around the Keybase file system which could attract a serious number of new users. Not many services allow you to assert ownership of files via cryptographic proofs.

Other than that,

[2016-02-13 15:38] malgorithms commented on #2071
hey @timmc - that should've worked! hmm.  you don't need to mkdir, so there's a bug.

when hitting bugs can you run `keybase log send` which will package up your logs and also generate a link to post in our keybase/client issues (with the log id for the admins to access)?

[2016-02-13 15:45] timmc commented on #2071
Aha! OK, here's a log ID: d421f79901ad1646c87fa61c

This is on Debian 7 (Wheezy).

I'll change the topic and description to match.

[2016-02-13 15:51] timmc commented on #2071
Possibly related: I can write to the public folder, but nothing appears on keybase.pub.

[code]

Separate ticket, or possibly related?

[2016-02-13 15:57] cjb commented on #2071
KBFS isn't running due to:
[code]

[2016-02-13 15:58] cjb commented on #2071
Does `sudo apt-get install fuse` help?

[2016-02-13 15:59] cjb commented on #2071
(and then `run_keybase`)

[2016-02-13 16:01] NoSubstitute commented on #1650
I wish I could code, so I could help out for real.

[2016-02-13 16:02] NoSubstitute commented on #518
Understood.

[2016-02-13 16:05] timmc commented on #2071
`fuse` is already installed at the latest version.

So you're saying that the mountpoint has been created, but no KBFS mounted over it. That... would explain a lot. :-)

Where can I look at these logs myself?

[2016-02-13 16:06] maxtaco commented on #2071
Maybe the mount point was created by a different user?

On Saturday, February 13, 2016, Tim McCormack <notifications@github.com>
wrote:

[2016-02-13 16:07] cjb commented on #2071
They're in `$HOME/.cache/keybase`.  That one was from `keybase.kbfs.log`.

Maybe your fusermount isn't SUID and it should be?  I don't know why that would happen.  Or what @maxtaco just said.

[2016-02-13 16:10] NoSubstitute commented on #1383
@cgarrigues , I think someone spoke against that just the other day. Unless you also force a check on all UIDs in the key, anyone can put any email address in their key. So, I guess that's why the "verify email addresses" feature still isn't available. (So far) It needs to be a separate proof than the GPG key.

[2016-02-13 16:12] timmc commented on #2071
The mountpoint itself is owned by root and has 777 permissions:

[code]

And here's my /etc/fuse.conf if it helps:

[code]

[2016-02-13 16:16] strib commented on #2071
What are the results of:

[code]
?

[2016-02-13 16:28] timmc commented on #2056
I think this is a great idea. Maybe we should make a list here of the points we'd like to see covered. Here are mine:

- When you can trust a device enough to sign it on to your graph using the paper key (e.g. how fast and effective are revocations, what prep is required in order to effect them)
- Why you should not upload your private key to keybase,io, and when you might want to anyhow

[2016-02-13 16:40] timmc commented on #2071
Not found, but then apparently I would need to be root or fuse to x it:

`-rwsr-xr-- 1 root fuse 30864 May 21  2015 /bin/fusermount`

[2016-02-13 16:52] rmoxley opened #2072 "Error encrypting: cannot encrypt a message to key id ... because it has no encryption keys"
I'm unable to encrypt messages to other keybase users from the command line or the web interface. Using the command line, I get the same error message regardless of the recipient: `ERROR openpgp: invalid argument: cannot encrypt a message to key id 252a59a26ab0bd86 because it has no encryption keys` (same key id in each case).

When I try to encrypt with the web interface, I get `Error: no valid p

[2016-02-13 16:53] strib commented on #2071
This is what mine looks like, on Ubuntu 14.04:

[code]

So I guess you're missing the other executable bit.  It looks like Wheezy did things a bit different:

https://superuser.com/questions/466304/how-do-i-make-sshfs-work-in-debian-i-get-dev-fuse-permission-denied

Can you try running `sudo gpasswd -a $USER fuse`, re-run `run_keybase` and see if that works?

[2016-02-13 16:54] maxtaco commented on #2072
Likely your key is expired or had expired subkeys.

On Saturday, February 13, 2016, rmoxley <notifications@github.com> wrote:

[2016-02-13 16:56] strib commented on #2071
Oh, and as per the link, you either have to log out and log back in again after you add yourself to the `fuse` link, or using `newgrp fuse` might work too.

[2016-02-13 16:56] timmc commented on #2071
(I can also check later on my Debian 8 (Jessie) machine; 8 is now stable, and 7 is oldstable, and I'm not sure what versions you're going to support for how long...)

[2016-02-13 16:58] strib commented on #2071
(You might also need to do `rm -rf /keybase/*` to clear out the stuff you made in there before it was mounted.)

[2016-02-13 17:03] strib commented on #2071
We don't have an official list of distros we're supporting.  We're just working with individuals for now trying to get it running in their environments.  Let us know if the above suggestion (adding yourself to the `fuse` group) fixes your wheezy issues.

[2016-02-13 17:20] maxtaco commented on #2070
Alex when you get a chance can you do a 'keybase log send' on the t60?

Btw have you ever changed your password on keybase? I can look it up on the
DB but while I am thinking about it was just curious.

On Saturday, February 13, 2016, Maxwell Krohn <themax@gmail.com> wrote:

[2016-02-13 17:24] flamsmark commented on #2069
Trying that gives me:
`▶ ERROR Bad passphrase: server rejected login attempt`

[2016-02-13 17:27] maxtaco commented on #2069
Are you sure there is no trailing newline?

On Saturday, February 13, 2016, Tom Lowenthal <notifications@github.com>
wrote:

[2016-02-13 17:27] flamsmark opened #2073 "CLI shows DNS proofs in yellow, not green"
DNS proofs should be green if the result can be verified with DNSSEC.

[2016-02-13 17:30] rmoxley commented on #2072
Thanks. My key was expired. I extended its expiration and then used `keybase pgp update`. I still get the same error when I try to encrypt with the command line, but now I'm getting a different error when I try to encrypt using the web interface: `Error: cannot encrypt with the given KeyManager (i=1)`.

[2016-02-13 17:32] maxtaco commented on #2069
I should also mention that you can specify an alternate pinentry program
via configuration file or environment variable.  See 'keybase help
advanced'.  You will have to 'keybase ctl reload' after changing your
config or restart your device.   On a phone so can't help out too much more
right now.

On Saturday, February 13, 2016, Maxwell Krohn <themax@gmail.com> wrote:

[2016-02-13 17:34] maxtaco commented on #2072
Ok I can take a look later but am away from my computer now.

On Saturday, February 13, 2016, rmoxley <notifications@github.com> wrote:

[2016-02-13 18:10] dametenshi commented on #2068
No worries. Looks good again. If there's a better way to report outages, just let us know.

[2016-02-13 18:42] yipal commented on #2070
Ok, I uploaded the logs with ID: cdc1fe060084c5b72fabf01c

I did change my keybase password once, but I may have changed it to the same value.

[2016-02-13 18:49] cjb commented on #2068
@maxtaco Now running today's build with your fix from last night included.

[2016-02-13 19:03] maxtaco commented on #2068
Colon of death!

On Saturday, February 13, 2016, Chris Ball <notifications@github.com> wrote:

[2016-02-13 19:36] maxtaco commented on #2072
Almost. Both your primary and your subkey were expired, and you only increase the expiration time of the primary:

[code]

Use `gpg --edit-key 252A59A26AB0BD86`
Then issue:
[code]

Then do another keybase update.  So yeah, PGP is really hard to use, we're trying to steer people of of it in the future and to use [saltpack](https://saltpack.org) instead.  But just getting that effort off the ground.

[2016-02-13 20:33] timmc commented on #2071
Partial success!

- Needed to add myself to `fuse` group and logout/in again on Debian 7
- Debian 8's permissions on fusermount match the Ubuntu 14.04 sample above
- Had to clear out contents of mountpoint and re-run `run_keybase`
- `/keybase` now has expected contents:

[code]

However, I can't list any implicit folders. (Log ID 1888fcb6afa71d3dcc62171c)

[code]

I've seen other issues around tha

[2016-02-13 20:37] cjb commented on #2071
[code]
Our GUI isn't working because of your older glibc.  We use the GUI to prompt you for your Keybase passphrase, which unlocks KBFS.  You can unlock it manually with `keybase unlock`, and KBFS will sort of work, but the GUI's an important component.

[2016-02-13 20:45] timmc commented on #2069
This might work for pasting your passphrase at the command line, although it pastes in the clear so you'd want to close the terminal afterwards to clear the scrollback:

`tr -d $'\n' | keybase unlock --stdin`

[2016-02-13 21:35] rmoxley commented on #2072
Yep, that did it. Thanks Max. I'll definitely steer towards saltpack going forward. In the meantime, I wonder if it's possible for keybase to provide more helpful error messages when a PGP key/subkey has expired?

Thanks again.

[2016-02-13 21:35] #2072 closed

[2016-02-13 21:36] maxtaco commented on #2072
you are right, we shoudl be a lot better about error messaging!

[2016-02-14 00:00] cgarrigues commented on #1383
I see.  That makes sense.

[2016-02-14 03:23] jlb1234 commented on #2069
I might suggest that having a long and complex password is a good idea, but if it's impossible to type out and you need to copy and paste it - that's not particularly secure at all.

[2016-02-14 03:27] jlb1234 opened #2074 "After upgrading to 1.0.11 (Homebrew) now gives error message whenever trying to use keybase"
I upgraded to the latest version (1.0.11) via brew but now I'm getting the following error message whenever trying to run a command, such as:

keybase id max
▶ WARNING Restarting after upgrade; service is running v1.0.9-0, while v1.0.11-0 is available
▶ WARNING Failed to register as a logger: EOF
▶ ERROR EOF

[2016-02-14 03:27] timmc commented on #2069
There's also an upper limit on how much entropy is *useable* in a passphrase, since it eventually gets crunched down to a key of some number of bits. :-)

...but my keybase passphrase is like 20 chars of random printable ASCII and I just don't *want* to type it each time. I certainly don't have it memorized. Maybe I'll change it to something memorizable if I end up using KBFS to any degree.

[2016-02-14 03:32] maxtaco commented on #2074
Quick fix via 'pkill keybase' but I will look further into it. Sigh I
thought I had fixed this bug!!!!

On Saturday, February 13, 2016, Jason Lustig <notifications@github.com>
wrote:

[2016-02-14 03:45] maxtaco commented on #2074
Also, if you can do a `keybase log send`, I'd like to see what's going on.  I unfortunately can't repro this bug!

[2016-02-14 03:56] timmc commented on #2071
`keybase unlock` works! I consider this issue closed unless you want to keep it open for documentation work.

[2016-02-14 04:10] cjb commented on #2071
Cool.  Since the GUI won't be telling you this since it isn't running, if you ever see input/output errors cd'ing into directories, try `keybase track <thatuser>` on the command line and retry -- you have to have a good track of someone for KBFS sharing to work.

[2016-02-14 04:29] strib commented on #2071
Huzzah!  Please open a new issue if anything else trips you up.

[2016-02-14 04:29] #2071 closed

[2016-02-14 15:02] jlb1234 commented on #2074
Thanks Max - I just tried to `pkill keybase` and it doesn't seem to have done much...

`keybase log send`
▶ WARNING Restarting after upgrade; service is running v1.0.9-0, while v1.0.11-0 is available
▶ WARNING Failed to register as a logger: EOF
This command will send recent keybase log entries to keybase.io
for debugging purposes only.

These logs don’t include your private keys or encrypted data

[2016-02-14 17:09] maxtaco commented on #2074
Ok, thanks for trying this out. @gabriel do you have any suggestions here?

[2016-02-14 17:11] maxtaco commented on #2074
(It might also be useful to see the end of your service log:

[code]

)

[2016-02-14 17:43] maxtaco commented on #2070
@yipal looks like your passphrase update was botched.  Can you remember how you went about changing it? Did you use the CLI or the website? Did you reset or just update?  Thanks, sorry about this!

[2016-02-14 18:28] ChrisBuchholz commented on #2074
This is happening to me too. I tried uninstalling and installing keybase again, via homebrew, and now I'm getting this error:

``ERROR dial unix /Users/cb/Library/Caches/Keybase/keybased.sock: connect: no such file or directory```

[2016-02-14 18:30] maxtaco commented on #2074
@ChrisBuchholz if you can send me a log as above, that would be helpful.  I guess `log send` won't work, but tailing the end of your brew log will help me figure out what's going on. Thanks..

Also, you might try `keybase launchd start homebrew.mxcl.keybase` as described above. Thanks

[2016-02-14 18:38] ChrisBuchholz commented on #2074
Here is some output from the keybase log. I guess that should be of help to you: https://gist.github.com/ChrisBuchholz/c59c9f728d999a2c642d

(re)starting the service doesn't work btw.:
[code]

[2016-02-14 19:00] maxtaco commented on #2074
Are those log messages recent or just very old?  My guess is that's from an old service that's no longer running, since I believe we added a date to the log output.  Can't tell since it's just a time, unfortunately.

Can you also try a `keybase -d status`?  I'm sorry to be asking you lots of questions, but I can't seem to repro this issue.

Also, can you `cat ~/Library/LaunchAgents/homebrew.mxcl.k

[2016-02-14 19:05] jlb1234 commented on #2074
keybase log: https://gist.github.com/jlb1234/d0b4d58c72a975903a3e <https://gist.github.com/jlb1234/d0b4d58c72a975903a3e>
keybase -d status: https://gist.github.com/jlb1234/20a59952e1b2d50af058 <https://gist.github.com/jlb1234/20a59952e1b2d50af058>
keybase plist: https://gist.github.com/jlb1234/992a4a470fd284f3d767 <https://gist.github.com/jlb1234/992a4a470fd284f3d767>

[2016-02-14 19:07] ChrisBuchholz commented on #2074
@maxtaco Output from `keybase -d status`: https://gist.github.com/ChrisBuchholz/5286963385d4a5e7a4bc, and content from `~/Library/LaunchAgents/homebrew.mxcl.keybase.plist`: https://gist.github.com/ChrisBuchholz/80873e00031d67d073ba

I simply did `tail -1000 /Users/cb/Library/Logs/homebrew.mxcl.keybase.log`, just as @jib1234, to get the keybase log content, so it should be all new. The time also ma

[2016-02-14 20:07] maxtaco commented on #2074
I think there's a workaround over in keybase/client#2019.  Try:

[code]

And then try again to login / or whatever you had in mind.

We'll work on a fix for 1.0.12. Thanks for your help1

[2016-02-14 20:44] jlb1234 commented on #2074
@maxtaco That seems to work

[2016-02-14 21:50] maxtaco commented on #2074
Glad it worked.  We will hopefully get a bug fix out tomorrow.  Thanks for
letting us know!

On Sunday, February 14, 2016, Jason Lustig <notifications@github.com> wrote:

[2016-02-15 03:11] jooize commented on #1697
Could this be used to build a [single sign-on](https://en.wikipedia.org/wiki/Single_sign-on) solution and replace [OpenID](https://en.wikipedia.org/wiki/OpenID)/[OAuth](https://en.wikipedia.org/wiki/OAuth) systems?

[2016-02-15 06:52] xiashali opened #2075 "How to rename my device"
I input the wrong name of my laptop.But I can't find how to rename or remove the device.

[2016-02-15 07:34] ChrisBuchholz commented on #2074
@maxtaco: `keybase launchd unload homebrew.mxcl.keybase` did not work for me, but
[code]
did, and now it seems everything is working again as it should.

[2016-02-15 16:47] wbcurry commented on #1598
Same thing with Yubikey 4:
ERROR ImportKey error: openpgp: unsupported feature: unknown S2K GNU protection mode: 2

[2016-02-15 18:49] jc00ke opened #2076 "Can't login via CLI on Linux: put PGP key on this machine"
I have `gpg` installed to `/usr/bin/gpg` and I'm running `keybase version 1.0.11-20160214170030+d9662a2`

[code]

I still find `gpg` to be quite confusing, so any help on logging in would be greatly appreciated. I'd like to avoid resetting my account, and I don't have a paper key (oops!)

[2016-02-15 19:44] oconnor663 commented on #2076
It might be that you have the _public_ version of your key on your machine, but the _secret_ version is missing. What's the output of `gpg --list-secret-keys`?

[2016-02-15 19:52] thenaterhood opened #2077 "New Account Periodically Vanishes"
This seems to be like something that's a result of caching on some level.

I have a brand new account (made within the hour of my posting this) with a few verifications. Every so often when I try to load my profile, Keybase tells me that it can't find me. This happens whether or not I'm signed in. It keeps happening for a few minutes before it resolves itself and I can view my profile again.

[2016-02-15 19:54] oconnor663 commented on #2075
By design, you can't rename an existing keybase device. But you can revoke that device by running `keybase deprovision` on it, and then you can provision it again with a new name using `keybase login`. (Note that you can't reuse the old name -- it will be occupied forever.)

[2016-02-15 19:54] #2075 closed

[2016-02-15 20:15] roryhewitt opened #2078 ""protocol not found" error when trying to recover passphrase"
Hmm. I forgot my passphrase, so I tried the passphrase recover option, and here's what I got:

Password recovery will put your account on probation for 5 days.
You won't be able to perform certain actions, like revoking devices.
Continue with password recovery? (type 'YES' to confirm): yes
- ERROR Not confirmed

Password recovery will put your account on probation for 5 days.
You won't be able to

[2016-02-15 20:21] cjb commented on #2077
Thanks for the report, would it be possible to post a screenshot of the page where Keybase is saying it can't find you?

[2016-02-15 21:04] thenaterhood commented on #2077
Sure! It's just the generic user not found page.

![keybase-not-found](https://cloud.githubusercontent.com/assets/2584772/13060199/bf499e22-d3fd-11e5-94e0-e7c48ba44188.png)

[2016-02-15 21:08] cjb commented on #2077
Huh! @maxtaco, want to check the web server logs for 404s on keybase.io/thenaterhood ?

[2016-02-15 21:11] thenaterhood commented on #2077
Scared me the first time, I hopped on to add a device and it couldn't find me! Kept getting the same for a minute or two over a couple tries then it worked again. Same thing happened again a few minutes later.

[2016-02-15 21:11] thenaterhood commented on #2077
Re-logging in while it couldn't find me was a bust as well.

[2016-02-15 21:19] patrickxb commented on #2078
This was fixed in 1.0.9.  Can you update and try again?  The latest version is 1.0.11.  You can download it for windows here:

https://dist.keybase.io/windows/keybase_setup_1.0.11-201602111011+b5a91f4_386.exe

Thanks!

[2016-02-15 21:22] roryhewitt commented on #2078
Do I need to uninstall the existing version?

On Mon, Feb 15, 2016 at 1:19 PM, Patrick Crosby <notifications@github.com>
wrote:

--
Rory Hewitt

http://www.linkedin.com/in/roryhewitt

[2016-02-15 21:31] maxtaco commented on #2077
Small downtime at that hour since I was cycling the databases!  I think that explains it.  Saw other people in the logs who had a 404 too....

[2016-02-15 21:32] maxtaco commented on #2077
Yeah, here's what the logs show at that time:

[code]

[2016-02-15 21:32] #2077 closed

[2016-02-15 22:00] jc00ke commented on #2076
You are correct... I don't seem to have... any.

[code]

I guess I'll have to go searching on a backup drive. :frowning:

[2016-02-15 22:39] thenaterhood opened #2079 "Provide a more prominent link to graph and chain"
Getting to the graph and chain on a user's profile is not at all obvious unless you accidentally stumble on it going through the devices link.

[2016-02-15 23:06] gabriel commented on #1921
@ceeblet There was an upgrade bug (unrelated to tmux issue)... to fix you can run:

[code]

We also have a brew update pending (version 1.0.12) which also fixes the upgrade issue.

[2016-02-16 05:08] pkirkovsky opened #2080 ""Hardcore mode" key verification gives bad terminal command"
The CLI command block provided by the manual key verification process seem to bomb on my machine. In the middle of the process I'm prompted with a pinentry dialog (I use a Yubikey for sig/enc subkeys + an offline master), which is followed by a bunch of bash errors.

![screen shot 2016-02-15 at 8 55 46 pm](https://cloud.githubusercontent.com/assets/8731045/13067707/32f41b02-d428-11e5-9920-b317c252

[2016-02-16 07:13] yipal commented on #2070
I changed my password on the keybase website.  I may have chosen the same password as the original password though.  I don't know what the difference is between reset and upgrade.

[2016-02-16 07:37] pkirkovsky commented on #1822
Seeing the same issue here. I use an offline main key along with separate encryption and signing subkeys (stored on a Yubikey Neo). I'd like to be able to use Keybase without having to load the main key onto my daily-use computer, which would defeat the entire purpose of this kind of setup.

[code]

[2016-02-16 14:28] maxtaco commented on #2070
Thanks for writing in @yipal. I've repro'ed the bug. There's definitely an issue here.  When I make a little more progress I'll try to manually fix your account. BTW, are you having any residual issues?

[2016-02-16 17:54] yipal commented on #2070
I haven't tried to use it since then, but I'll update this bug report if I notice anything wrong.

[2016-02-16 18:08] gabriel commented on #2074
We tracked down the issue to an invalid launchd plist being generated if you installed version 1.0.9, and upgraded. We pushed a fix, and did a new version (1.0.12) which is now live in brew.

We missed this during our testing since it doesn't happen if you installed from and earlier version and then upgraded which is how we were testing. Thanks for helping us track down this issue.

[2016-02-16 18:08] #2074 closed

[2016-02-16 18:52] crw commented on #2031
:+1: Works. Thanks!

[2016-02-16 23:22] zanderz commented on #2078
It would be safest to uninstall the current one first. Your settings and local account info will remain intact.

[2016-02-17 13:30] bdunbar opened #2081 "ERROR Error installing KBFS: exit status 1"
Signed up for keybase.
Setup profile.
Went through the key & identity proving process.
Installed app.
Applied for alpha for kbfs.
Accepted invitation.

➜  ~  keybase ctl stop
➜  ~  keybase ctl start
➜  ~  keybase install
▶ INFO Checking /usr/local/bin/keybase (/usr/local/opt/keybase/bin/keybase)
▶ INFO Checking service
▶ INFO Service: Installed (Action: None)
▶ INFO Checking KBFS
▶ INFO KBFS: Not

[2016-02-17 14:01] blalor commented on #941
My email address *is* verified, and I get the same error.

[2016-02-17 14:02] maxtaco commented on #941
Hi Folks, we disabled this feature.  It was too much of a security and administrative hassle.  Now we recommend that people embed their real email addresses in their PGP key.

[2016-02-17 15:59] oconnor663 commented on #2080
@pkirkovsky do you have a large public key, for example with an image in it? This could be the same issue as https://github.com/keybase/keybase-issues/issues/2026.

[2016-02-17 16:07] #2076 closed

[2016-02-17 19:40] flamsmark commented on #2069
@jlb1234 I think you're making some unwarranted assumptions about passwords. In particular: humans shouldn't have to memorize many many of them. I've decided that my keybase passphrase is not among those that I need to memorize.

[2016-02-17 19:42] flamsmark commented on #2069
@maxtaco & @timmc: Yes, the trailing newline was the problem; I had to trim it. I'd suggest that newlines not be permissible passphrase characters, and that all clients automatically remove them before performing passphrase operations?

[2016-02-17 19:48] flamsmark commented on #2069
Regarding `keybase help advanced` and `keybase help`. Having read `keybase help` I didn't expect that advanced would show me a pinentry config flag. I did expect instead that there'd be a `man keybase`, and I'd love it if the keybase documentation were accessible as a man page.

Also: I don't see a place where I can set global config options. is `~/.config/keybase/config.json` supposed to be that

[2016-02-17 20:12] gabriel commented on #2081
This was fixed a little while ago, you can ignore that error...

I recommend upgrading your keybase client (currently we're at 1.0.12).

[2016-02-17 20:12] #2081 closed

[2016-02-17 20:25] maxtaco commented on #2069
Hi! Our docs are lagging, sorry about that.  The config file is a JSON file as you might guess.  To configure your pinentry, you can add a:

[code]

to the top level of the JSON file.

[2016-02-17 20:26] maxtaco commented on #2069
(In general, almost everything tunable has a CLI flag, an environment variable, and a config variable)

[2016-02-18 02:28] timmc commented on #2066
You can't prevent misleading information in the profile picture or bio. I could prove a github account that uses your photo as the profile photo, and it would show up on keybase, and that's just not something you can stop. (It's really unfortunate, because people trust their eyes...)

However, keybase might put a warning on or around the pic/bio saying "unverified" or something.

[2016-02-18 02:31] rmd6502 opened #2082 "Unable to import private key "Error: Subkey 1 wasn't found in public key""
I have a key with two subkeys:
sec   4096R/93484BA9 2013-08-18
uid                  Robert Diamond <rmd6502@gmail.com>
uid                  Robert Diamond <rmd6502@gmail.com>
ssb   4096R/6357F89B 2013-08-18
ssb   4096R/2AB41216 2015-06-13
ssb   4096R/E8F84991 2015-06-13

When I try to import using the web interface I get the message shown above, before I can even click "upload"
When I try to impor

[2016-02-18 15:20] callumd789 opened #2083 "Unable to recover passphrase; fails with "ERROR EOF""
I've managed to forget my passphrase, and am attmepting to recover it from the command line.

This is what happens when a correct paper key is used:

[code]

When an incorrect paper key is used:

[code]

version information:

[code]

[2016-02-18 15:27] maxtaco commented on #2083
Seems like your daemon crashed :( Can you do a `keybase log send`

[2016-02-18 15:30] callumd789 commented on #2083
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Hello Max,

I've done as requested. It generated a couple of errors:

▶ WARNING error opening log
"/home/callumd/.cache/keybase/keybase.kbfs.log": open
/home/callumd/.cache/keybase/keybase.kbfs.log: no such file or directory
▶ WARNING error opening log
"/home/callumd/.cache/keybase/Keybase.app.log": open
/home/callumd/.cache/keybase/Keybase.app.log:

[2016-02-18 15:42] maxtaco commented on #2083
Took a quick look, it looks quite solvable (phew!) we'll report back soon with more details.  Service dump is here:

[code]

[2016-02-18 15:54] dametenshi opened #2084 "[ERRO keybase standard.go:225] 0ac GETPIN response didn't start with D; got "ERR 83918950 Inappropriate ioctl for device <Pinentry>" when decrypting"
Whenever I try to decrypt from my pasteboard, I get:

[code]

Full log attached:
[Inappropriate_ioctl.txt](https://github.com/keybase/keybase-issues/files/136471/Inappropriate_ioctl.txt)

[2016-02-18 16:51] oconnor663 commented on #2084
Could you please do a `keybase log send` and give me the log ID it generates? Also please let me know how you installed gpg and pinentry (from homebrew?) and what versions they are. Finally, could you give me a description of how you're running the Keybase background service (did it start up automatically on boot, or did you start it explicitly in another terminal?) and the decrypt command itself

[2016-02-18 17:09] jc00ke commented on #2076
Once I imported my key option `4) GPG` was available during `keybase login`. All set, thanks!

[2016-02-18 18:05] jwieder commented on #1877
Did this last update get rolled back at some point? I just signed up, and was able to figure out what needed to go where, but I did not see the popup shown above, and the instructions that dump out at the command line aren't that helpful (Please update your Coinbase profile to show this proof. Click here: https://coinbase.com/username#settings).

[2016-02-18 18:51] oconnor663 commented on #2076
Cool.

[2016-02-18 21:12] RyanSinger opened #2085 "Blockchain checker tool is throwing errors"
Check it out:

[code]

[2016-02-18 21:18] maxtaco commented on #2085
Gah thanks for the bug report.  We changed the leaf format.  We will check
it out.....

On Thursday, February 18, 2016, Ryan Singer <notifications@github.com>
wrote:

[2016-02-18 22:08] maxtaco commented on #2085
Remind me... where is this script? :)

[2016-02-18 22:13] RyanSinger commented on #2085
https://github.com/keybase/blockchain

[2016-02-18 22:34] maxtaco commented on #2085
Thanks for the bug report, should be fixed.

[2016-02-18 22:34] #2085 closed

[2016-02-18 22:45] RyanSinger commented on #2085
Still broken

info: Most recent TX from 1HUCBSJeHnkhzrVKVjaVmWg2QtZS1mdfaz is 8aa70ab2cd112742057780db1b24d020dbaa01f66e4a279b1b264da43cfbb25c

info: Got BTC to address: 1E3YfpUNUrv8RYxejKVcfGjvibGB7BRjjS

info: to hash -> 8f14e73ea7989400e5c6c30a756718afac2c99a6

debug: + lookup userid Ryan_Singer

info: Map: Ryan_Singer -> 295af46f507c858f3b24747ebc2e3700

debug: - lookup userid

info: Lookup me

[2016-02-18 22:48] maxtaco commented on #2085
Did you install out of npm or out of the git repo?

[2016-02-18 22:48] maxtaco commented on #2085
I get:

[code]

[2016-02-18 22:52] RyanSinger commented on #2085
I downloaded the zip file of the git repo and opened index.html

On Thu, Feb 18, 2016 at 5:48 PM Maxwell Krohn <notifications@github.com>
wrote:

[2016-02-18 22:57] maxtaco commented on #2085
Forgot all about that!  @malgorithms would not be happy with such a monstrosity.  Anyways, try again?

[2016-02-18 23:08] RyanSinger commented on #2085
It now works!

Good work!

[2016-02-19 03:28] timmc opened #2086 "Symbolic links in KBFS should be restricted to a safer set"
I would encourage the Keybase developers to restrict what symlinks can be written to KBFS as a security precaution: Symlinks should only point outwards from more private areas to less private ones; from places definitely under the user's control to places possibly not under their control.

From the [KBFS docs](https://keybase.io/docs/kbfs/understanding_kbfs#symbolic-links-can-lead-outside-a-tlf),

[2016-02-19 03:48] strib commented on #2086
@timmc, thanks very much for the thoughtful writeup!  I tend to agree with your points. The technical reason we haven't restricted symlinks more is that they can be moved arbitrarily by users after they are created.  For example:

[code]

So we can't just police this at symlink-creation-time, we have to do it on moves, and probably on client reads as well to protect against malicious clients.  But

[2016-02-19 12:05] lez commented on #992
jcroy can you suggest what the solution was to this problem?

[2016-02-19 14:33] malgorithms commented on #2086
agreed - this is a very thoughtful writeup. I tend to agree with the suggestions, too.  In the short term, if we need to choose between all symlinks or no symlinks, I'd still choose for them to exist.  But I like the 4 rules above for possible restrictions. I guess the only one I question is unshared private symlinks.

Given that you're writing and reading private symlinks only for yourself, it se

[2016-02-19 14:43] timmc commented on #2086
Ah, fair -- unshared private should be unrestricted. I'll make that change.

[2016-02-19 16:22] snorerot13 opened #2087 "Unresolved dependency under xubuntu 15.10"
$ curl -O https://dist.keybase.io/linux/deb/keybase-latest-amd64.deb \

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 5479k  100 5479k    0     0  3606k      0  0:00:01  0:00:01 --:--:-- 3607k
Selecting previously unselected package keybase.
(Reading database ... 208129 files and dir

[2016-02-19 16:26] oconnor663 commented on #2087
Ack, my fault, thanks for reporting. I added a dependency in our internal builds that shouldn't have made it into prod. For now you should be able to finish the install by running `sudo apt-get install -f`. I'll fix this in the next prod build.

[2016-02-19 16:29] snorerot13 commented on #2087
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

On 02/19/2016 08:26 AM, oconnor663 wrote:

That looks good.

Thanks for the quick reply!

- --
http://www.lunabase.org/~faber
http://www.lunabase.org/~faber/blog
-----BEGIN PGP SIGNATURE-----
Version: GnuPG v2

iQEcBAEBCAAGBQJWx0LpAAoJELKW6dHrttp3I98H/2GuTpnSESGEjq8rCUMMG5D8
3CjqD2ucfwL3ufbPESrM+KfuIduXE837tbFR3Oxze72bbnhDeQOvv23smi13xFUW
YegzCxCwdJ

[2016-02-19 16:44] #2087 closed

[2016-02-19 17:06] patcon opened #2088 "Profile redirects for keybase.io/on/:service/:handle"
Gittip used to have a useful feature like this for looking people up, and it was pretty helpful.

I realize that the cli has this, but I'm in a chat trying to encourage folks to sign up for keybase, and it would be really nice to say:

[2016-02-19 19:04] cr0bar commented on #1984
Confirmed issue is resolved on keybase 1.0.13 :)

[2016-02-19 19:08] oconnor663 commented on #992
@lez [this comment](https://github.com/keybase/keybase-issues/issues/992#issuecomment-54730804) was the solution.

[2016-02-19 19:09] jlb1234 commented on #2086
I think it might be more prudent, and simpler, to disallow symlinks for the time being. Add them later as a feature. Focus now on getting the key security and usability issues ironed out. This is, IMHO, an edge case which can be more or less mitigated for the time being by simply not having symlinks.

[2016-02-19 19:15] maxtaco commented on #1984
w00t! Thanks @cr0bar.

[2016-02-19 19:15] #1984 closed

[2016-02-19 20:40] maxtaco commented on #2083
We have a fix coming in v1.0.14. Thanks for this bug report!

[2016-02-19 22:49] cajuntechie opened #2089 "Tracked users are not pulled into gpg"
When I issue the command to track a user, that users key is not pulled into my pgp keyring. For example, I issued:

keybase track shannonmorse

and Keybase told me it tracked her. However, when I look at my pgp keys, she is not listed. I'm confused because, as I understood it from the documentation, tracked users are supposed to be pulled into pgp automatically.

[2016-02-19 23:05] maxtaco commented on #2089
You have to run pgp pull

On Friday, February 19, 2016, Anthony Papillion <notifications@github.com>
wrote:

[2016-02-19 23:09] oconnor663 commented on #1999
This should be work as of https://github.com/keybase/client/compare/59578b80b93bef2c78522e9f424cad6fd82aad68...fdbf6eeed4a3b255e9762f33f3024fb18cff3539, which will go out with the next production release.

[2016-02-19 23:17] lyoshenka commented on #2049
I've love to try this out but I could not find any instructions for getting on the list. Could you please add me or point me in the right direction?

[2016-02-19 23:18] strib commented on #2049
@lyoshenka: Under "Getting access" on the link above:

[2016-02-19 23:23] lyoshenka commented on #2049
:bow:
must have missed that

[2016-02-20 07:16] edgard commented on #1999
Awesome, thanks a lot!

[2016-02-20 07:16] #1999 closed

[2016-02-20 10:57] pts commented on #105
+1

[2016-02-20 17:24] sbriskin opened #2090 "Encrypted notifications"
Every user have the key and email. It would be nice to have an option to receive encrypted notifications from the website. The only one moment when it is not necessary - if the user forget the password.

[2016-02-20 18:33] dametenshi commented on #2084
Log ID: `6b84e7a16f79f60babe8d71c`

gpg and pinentry are both installed via homebrew, and I also have pinentry-mac installed.
[code]

In fact, I *should* be using pinentry-mac for my pinentry according to my `gpg-agent.conf`:
[code]

keybase background service looks like it started on boot:
[code]

The decrypt command I'm using is: `pbpaste | keybase decrypt` from a local terminal running zsh

[2016-02-20 23:47] geofflee opened #2091 "Gist proof worked and then failed 41 minutes later"
Last night, I posted keybase.md as a public gist at: https://gist.github.com/geofflee

I initially got an email at 11:10pm PST saying "your github (@geofflee) proof just succeeded!", then followed by another email 41 minutes later saying "your github (@geofflee) proof just broke".

I tried deleting and re-posting the gist, but that hasn't helped.

I am using Windows, and copy/pasting the proof fro

[2016-02-21 02:24] sbriskin commented on #2091
Try https://sourceforge.net/projects/conemu/ or https://sourceforge.net/projects/console/ - it's much better then cmd.exe when you need to copy and paste a lot of text

[2016-02-21 02:55] danconde opened #2092 "signed by unknown author but key fingerprint is known to system"
Web verify shows result "signed by unknown author (key fingerprint: foo)"
where foo is a 64-bit ID.
Searching for key foo under web encrypt does provide a match (it seems to display the long fingerprint since the autocomplete match shows some prefix text from fingerprint and properly resolves to the proper user
When I do a command line: "keybase pgp verify < doc.sig" where doc.sig is the content I

[2016-02-21 03:06] zQueal commented on #2091
Working with Windows as much as I do, the main reason I switched to [Cmder](http://cmder.net/) is to copy and paste al la Linux via CLI.

[2016-02-21 06:03] geofflee commented on #2091
I retried with PowerShell, and it worked.

[2016-02-21 06:03] #2091 closed

[2016-02-21 07:03] MattRK commented on #1598
+1 Same issue

[2016-02-21 10:21] sbriskin commented on #298
I had the same problem while NoScript extension was active. After NoScript deactivation logo changed it's size to  normal.

[2016-02-21 18:28] SevereOverfl0w commented on #1598
Me to, :+1:

[2016-02-21 18:30] maxtaco commented on #1598
Which keybase version are you guys using?  I've heard that newer versions (1.0.13 and above) seem to work with SK2 protection mode 2.  I unfortunately haven't been able to test even with a yubikey neo.  I seem to be getting a different protection mode.

[2016-02-21 18:34] SevereOverfl0w commented on #1598
I'm on 1.0.13-0

[2016-02-21 18:39] maxtaco commented on #1885
@alex my slight concern is that i'll have to consume data from the stream, so it's not left there to confuse subsequent parsing routines. I think...

[2016-02-21 18:41] alex commented on #1885
Mmm, so we probably need to figure out what format the serial number is in, and then read that much off of `r` and discard it. I'll investigate the GNU source to see if it's fixed-length, length prefixed, or what.

[2016-02-21 18:44] paultag commented on #1885
IIRC it's a size_t -1, but it's worth double checking

On Sun, Feb 21, 2016 at 1:41 PM, Alex Gaynor <notifications@github.com>
wrote:

--
:wq

[2016-02-21 18:44] paultag commented on #1885
Nevermind, opened the source, that's wrong. You should be able to read the
packet length, anyway.

[2016-02-21 18:45] maxtaco commented on #1885
Code [here](http://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=blob;f=g10/parse-packet.c;h=50da17cb922f5944c1b084448b34d7395966449c;hb=50da17cb922f5944c1b084448b34d7395966449c#l2188), I think...

[2016-02-21 18:49] alex commented on #1885
It looks like the format is `byte` which is the `snlen` (serial number len I guess), and then `max(snlen, 16)` bytes of `iv`. I'm not totally sure I know what `iv` is in this context.

[2016-02-21 18:53] maxtaco commented on #1885
I think `iv` is just a buffer that's normally uses as the initialization vector for key stretching.

I agree with what you wrote.  I can give a whirl, though I still don't have a good way to test it :(  Have so far failed to get a good repro with my yubikey neo...  Is there a doc that I should be following BTW, when it comes to setting up my yubikey?

[2016-02-21 18:54] alex commented on #1885
I set it up with the fellow who wrote these guides: https://github.com/matthewjweaver/mjw-toolbox/tree/master/crypto/yubi I give it a 50/50 that the guide matches what I ran. I'll take a whirl at this and send a PR for the "read and discard"

[2016-02-21 18:56] maxtaco commented on #1885
Cool! Thank you!

On Sunday, February 21, 2016, Alex Gaynor <notifications@github.com> wrote:

[2016-02-21 19:04] alex commented on #1885
PR sent!

[2016-02-21 19:19] alex commented on #1885
(If there's some way I can export the relevant state for you so it's more reproducible, let me know!)

[2016-02-21 21:24] darwin opened #2093 "Proposal: proof of existence system using sigchains"
One can use services like https://proofofexistence.com to permanently record a document hash to be able to later prove its existence at given date.

Since keybase state is recorded in the Bitcoin blockchain, we could achieve similar feature by recording the document hash in user's sigchain.

I believe implementation would be quite easy by adding a new sigchain link type (something along these line

[2016-02-21 21:31] strib commented on #2093
Great idea! Have you seen section 5 of https://keybase.io/docs/crypto/kbfs?  It may be that we're already working on something good enough. Our motivation is to be able to tell that a version of a folder was signed by a key before that key was revoked.  But a side-effect will be that all folders get hashed in the keybase-wide merkle tree, and then put into the block chain, about once an hour.  Wit

[2016-02-21 22:42] MattRK commented on #1598
I was on 1.0.11. I will upgrade the client and try again tonight.

[2016-02-21 22:44] maxtaco commented on #1598
I would wait a bit.  We have something to try in 1.0.14.  I can't repro so
I am flying blind but hopefully.

On Sunday, February 21, 2016, MattRK <notifications@github.com> wrote:

[2016-02-21 23:15] TheReverend403 opened #2094 "Go client will not accept my password"
[code]

Password is pasted from `pass` directly into the pinentry dialog.

The exact same password copied into my clipboard from `pass` works fine when pasted on the keybase website.

[2016-02-21 23:17] maxtaco commented on #2094
Are you sure there aren't leading or trailing spaces?

On Sunday, February 21, 2016, Lee Watson <notifications@github.com> wrote:

[2016-02-21 23:21] TheReverend403 commented on #2094
Positive, I've even manually copied `pass` output from my terminal with a mouse selection.

[2016-02-21 23:27] maxtaco commented on #2094
Sadly this type of issue is impossible for us to debug without knowing your
passphrase which we obviously don't want to.  This is the first complaint
like this we have ever gotten with the go client.  You can try changing
your passphrase via the website.

On Sunday, February 21, 2016, Lee Watson <notifications@github.com> wrote:

[2016-02-21 23:28] maxtaco commented on #2094
Can you send the output of 'keybase -d login' ? There might be another
issue that isn't about your passphrase.

On Sunday, February 21, 2016, Maxwell Krohn <themax@gmail.com> wrote:

[2016-02-21 23:30] TheReverend403 commented on #2094
[code]

[2016-02-21 23:39] maxtaco commented on #2094
Do you have any no ascii characters in your passphrase?

On Sunday, February 21, 2016, Lee Watson <notifications@github.com> wrote:

[2016-02-21 23:49] TheReverend403 commented on #2094
Nope, they're all ASCII characters generated from `pass generate`

[2016-02-21 23:53] maxtaco commented on #2094
What if you sign in using your username?

On Sunday, February 21, 2016, Lee Watson <notifications@github.com> wrote:

[2016-02-21 23:55] TheReverend403 commented on #2094
Well, I have to wait for the API to reset my request counter now.

[2016-02-22 00:06] TheReverend403 commented on #2094
Same thing happens when using my username.

[2016-02-22 00:49] paulproteus opened #2095 "String fix request: s/Getting a pair/Getting a keypair/"
Hi all,

Today I was helping a friend set up Keybase so he can identify himself as part of a Sandstorm app he is published; see https://sandstorm.io/news/2015-11-12-authenticated-app-packages for details on that.

I found that the Keybase website had a section labeled "Getting a pair", which I think is a little crude. See https://www.urbandictionary.com/define.php?term=get+a+pair if you're unfamil

[2016-02-22 01:15] maxtaco commented on #2094
One more thing to try.  Maybe pinentry isn't working properly. Can you try this?

[code]

I'm grasping at straws a little bit here, but worth a try....

[2016-02-22 01:25] TheReverend403 commented on #2094
That worked perfectly.

[2016-02-22 01:52] maxtaco commented on #2094
Hmf.  A first time for everything. We have our own pinentry in the works but we support legacy pinentries until that is launched for everyone.  I will take a deeper look tomorrow. Thanks!!!

[2016-02-22 02:46] pkirkovsky commented on #2080
@oconnor663 I don't have an image in it. Not sure what constitutes a large key -- mine is ~19kb. Is that large enough to trigger the issue seen in #2026?

https://hkps.pool.sks-keyservers.net/pks/lookup?op=get&search=0x4328CFD67B46A8FB32270F4F0CE4A0B83F3FC81F

[2016-02-22 02:48] pkirkovsky commented on #2066
+1 on a statement next to the bio explaining that it's a freeform field and that URLs, key fingerprints, handles, etc. are not verified. @timmc

[2016-02-22 07:53] decibyte commented on #327
+1 from me as well.

[2016-02-22 11:06] RyanMcG opened #2096 "Twitter validation failing (306)"
[The validation tweet.](https://twitter.com/Ryan_VM/status/701707566439501824)

Proof fails.

[code]

My twitter handle is normally capitalized like *Ryan_VM*, I'm not sure if that can be it.

[2016-02-22 11:58] maxtaco commented on #2096
You left out "Verifying myself." Just post the tweet again but put in that
prefix.  Then ask the server to recheck on the website.

On Monday, February 22, 2016, Ryan McGowan <notifications@github.com> wrote:

[2016-02-22 13:20] rudeworks commented on #1957
I just experienced this issue running ```keybase 1.0.13-0``` on Mac OS X 10.11.3 when running ```keybase pgp gen```. Let me know if logs or whatever may be helpful.

[2016-02-22 13:27] pkirkovsky commented on #1839
I encountered this issue after removing all proofs from my account (full reset). Since my account has no proofs to verify, why is keybase still trying to access old ones?

[2016-02-22 14:08] ZaphodB commented on #2058
I was able to keybase login today and also register an additional pgp public key so i guess this was a issue of temporary API availability rather than a bug and can probably be closed.

[2016-02-22 14:08] #2058 closed

[2016-02-22 14:41] maxtaco commented on #2094
@TheReverend403 I'm glad that worked, phew.  If you have a moment to help us debug, can you try:

[code]

Then type something in the pinentry dialog.  Don't type your actual passphrase, but just see what's doing on.  If your passphrase is `foo bar 333`, then pinentry should send back on that pipe:

[code]

Hard for me to debug from here, but if you see something that's stands out, let me know.. Th

[2016-02-22 14:52] TheReverend403 commented on #2094
I think that just solved the issue. My password is so long, pinentry is actually splitting it across multiple lines.

![https://a.pste.pw/4zc.png](pinentry)

[2016-02-22 16:42] pipermerriam commented on #1598
I'm using 1.0.13.  Same issue.

`▶ ERROR ImportKey error: openpgp: unsupported feature: unknown S2K GNU protection mode: 2`

Thanks for working on this.  I'll keep an eye out in 1.0.14.

[2016-02-22 17:05] oconnor663 commented on #2084
Thanks! Digging...

[2016-02-22 18:28] westonruter commented on #2047
I just installed `1.0.13` and I have the same issue.

My key is already linked to my Keybase account and it worked in an older version of `keybase` (prior to the new key model), but the newest version can't find my private key when I try the “Use my Keybase passphrase” option:

utility cannot access the corresponding private key. You need to prove
you're you. We suggest one of the following:

If I

[2016-02-22 18:44] maxtaco commented on #2047
Can you paste in the output of `gpg --export -a <your-GPG-key-ID>` here?

[2016-02-22 18:55] westonruter commented on #2047
@maxtaco My key ID `0x632FBCAE` and here is the output: https://gist.github.com/westonruter/2cab7b0244a0cc9a003b#file-0x632fbcae-key-txt

[2016-02-22 18:57] maxtaco commented on #2047
Thanks.  No guarantee when I can get to it.  The Go PGP library is crapping out on your key.  Thanks...

[2016-02-22 19:56] maxtaco commented on #2047
@westonruter can you also do a `keybase log send` ? Thanks

[2016-02-22 20:43] westonruter commented on #2047
@maxtaco thanks, yeah, log ID is 6700878f0c86cf65d1883f1c

[2016-02-22 21:07] oconnor663 commented on #1999
No problem, let me know if it gives you any trouble.

[2016-02-22 21:13] maxtaco commented on #2047
Seems like it's a server-side error on our part.  Will investigate further!

[2016-02-22 21:28] goatandsheep opened #2097 "Encrypting messages with public keys not username"
Is there a way to encrypt a message that you're sending to someone who isn't a user of Keybase?

[2016-02-23 01:51] maxtaco commented on #2047
@westonruter can't repro this issue.  Do you have several local keys?  Which one are you selecting?  So see, try `gpg -K`.   We ask you to pick, maybe you're picking the wrong one that's expired?

[2016-02-23 02:11] maxtaco commented on #2047
I managed to repro, your key on our server is expired.  Update it via the web site, and then try again.  See the attached screenshot

Note to team: we should make better debugging in this (common) case....

![screen shot 2016-02-22 at 9 09 00 pm](https://cloud.githubusercontent.com/assets/866815/13239499/d463711a-d9a8-11e5-8658-0e74ef10ba87.png)

[2016-02-23 02:11] #2047 closed

[2016-02-23 07:04] westonruter commented on #2047
@maxtaco thanks. I updated my key. I was then able to login by signing the install via GPG and with the “Keybase can use GPG commands to sign the installation” option. When I tried to authenticated via Keybase passphrase I got the  same error as before, and when I tried GPG with the option to export the secret key into the local encrypted keyring, it also gave the same error as before. In any case

[2016-02-23 07:05] westonruter commented on #1901
I'm getting a different error:

[2016-02-23 15:24] oconnor663 commented on #1957
@rudeworks could you please do a `keybase log send` and tell us the log ID it generates for you?

[2016-02-23 17:30] oconnor663 commented on #1957
Filing https://keybase.atlassian.net/browse/CORE-2604 internally. @patrickxb, any chance this regressed?

[2016-02-23 17:41] rudeworks commented on #1957
@oconnor663 it generated this ID: ```4864bfce7276d57717849b1c```

[2016-02-23 20:12] oconnor663 commented on #1957
@rudeworks, looking through that log, I don't see anything from a `keybase pgp pull`. Instead it looks more like a `pgp select` or a `pgp pull`, which are expected not to work if you don't have GPG installed. Any chance that's what happened?

[2016-02-23 20:31] oconnor663 commented on #2080
Ah I'm sorry, this is a totally different error. "No such file or directory" and "file name too long" look like quoting errors. I haven't seen those before. Any chance you only pasted part of the whole command into your terminal? Or maybe you're running `fish` or something with new and exciting syntax?

[2016-02-23 21:10] oconnor663 commented on #2084
Ok, I realize I asked you for the wrong logs, sorry about that. Could you please run `pbpaste | keybase -d decrypt`, and paste all the output from that somewhere for us? That should let us see more about what the client (as opposed to the daemon) is doing with your TTY.

[2016-02-23 22:38] dametenshi commented on #2084
It was already attached in the first report: https://github.com/keybase/keybase-issues/files/136471/Inappropriate_ioctl.txt

[2016-02-23 22:43] oconnor663 commented on #2084
Ack you're totally right, my bad.

[2016-02-23 23:15] oconnor663 commented on #2084
Ok a few more questions (thanks for putting up with all of this):

1. What's the output of `tty` in your terminal?
2. What's the output of `/usr/local/bin/pinentry --version`? (I'm trying to figure out whether that's referring to pinentry-curses or pinentry-mac.)
3. If you add the following lines to the top-level object in `~/.config/keybase/config.json`, and then restart the daemon with `keybase

[2016-02-23 23:42] pkirkovsky commented on #2080
I've narrowed this down to an issue with large pastes (it's somewhat related to GPG key size) and iTerm2: https://gitlab.com/gnachman/iterm2/issues/3160
Setting paste speed at ~20kb/sec appears to be the most stable option:

![screen shot 2016-02-23 at 3 12 29 pm](https://cloud.githubusercontent.com/assets/8731045/13270088/90bb90c6-da40-11e5-9116-c600d9c6a38a.png)
![screen shot 2016-02-23 at 3 32

[2016-02-23 23:42] #2080 closed

[2016-02-24 00:10] oconnor663 commented on #2080
What's the theory here? Is it bash that's mishandling the fast paste? I've never seen/heard of/conceived-of-in-all-my-life an issue related to paste speed, so I'm kind of at a loss here :|

[2016-02-24 00:30] pkirkovsky opened #2098 ""Error in your post" response with blank fields when adding key via GPG + curl (Yubikey)"
I'm trying to add my key using the GPG/curl method, but after submitting the curl request I get a GPG pinentry dialog (for the Yubikey PIN) followed by a blank error:

[code]

I suspect this is related to currently unresolved issues #1598, #1822, and #1885. It would be helpful to provide a useful error message to "hardcore mode" users in the interim.

[2016-02-24 00:36] maxtaco commented on #2098
I will look into it but no guarantees I can get to it right away.

On Tuesday, February 23, 2016, Pavel Kirkovsky <notifications@github.com>
wrote:

[2016-02-24 01:19] pkirkovsky commented on #2080
It has to do with the underlying tty system as well as how we're interacting with it:

**Line editing.** Most users make mistakes while typing, so a backspace key is often useful. This could of course be implemented by the applications themselves, but in accordance with the UNIX design philosophy, applications should be kept as simple as possible. So as a convenience, the operating system provides

[2016-02-24 07:07] mitar opened #2099 "Support for integration of state issued certificates"
In some European countries (to my knowledge, maybe also elsewhere) governments are issuing certificates which can serve as a way to sign documents with digital signatures which are legally equivalent to normal signatures.

The issue is that there is little support for tooling around such certificates (which are normal public/private keypair, signed by state CA). So it would be great if one could i

[2016-02-24 07:16] mitar opened #2100 "Availability of certificates in the browser"
There is a huge lack of support for client-side certificates in browsers. It seems [this will not change](https://lists.w3.org/Archives/Public/public-webappsec/2016Feb/0076.html). Some European countries on the other hand are strong in e-government, you can fill taxes online, you get state issues digital certificates which you can use to sign documents and signatures are equivalent to normal signa

[2016-02-24 08:24] rudeworks commented on #1957
@oconnor663 I just tried again and it worked perfectly, maybe a reboot helped?

[2016-02-24 08:28] dametenshi commented on #2084
`/dev/ttys000`

[code]

There is no `~/.config/keybase` on my machine, but I placed it into `~/Library/Application\ Support/Keybase/config.json` as so:
[code]

and now I get:
[code]

When I try to restart the service a second time, I get a similar error:
[code]

[2016-02-24 11:59] maxtaco commented on #2084
But after that, is it working?

[2016-02-24 12:01] maxtaco commented on #2084
(you hit a bug that we've fix in which the `restart` command was broken on OSX)

(there's another bug that we've fixed in `keybase config set` so that it doesn't require restarts anymore).

But after you restarted via launchd, your problem should be fixed.  Also, I noted that your terminal detection has started to work:

[code]

Were you running from inside of screen or tmux or something like it b

[2016-02-24 14:32] nigelm opened #2101 "Unable to login to keybase on Mac OS X after upgrade from 0.8.23 to 1.0.13"
I have had a keybase account/install for a while but not made any real use, so left it to fester...

Today having realised that the docs on keybase do not reflect the version I am running I upgraded - directly from 0.8.23 (so no devices etc within that) to 1.0.13.  The system was working prior to the upgrade (I logged in and proved my github account).  Subsequent to the upgrade I cannot login with

[2016-02-24 14:47] maxtaco commented on #2101
You have found yet another short-coming in the Go OpenPGP library.  You have included a primary key packet twice in your PGP public key, and our server-side javascript can handle it, but the Go library is interpreting it as two keys.

Probably the right solution is to fix the OpenPGP library, but for the short-term, can you reexport your primary key from GPG, update it via the Website, and then tr

[2016-02-24 16:45] oconnor663 commented on #1957
Interesting, I'll close for now.

@gabriel could this have been a failure to auto-restart the old running daemon after an upgrade? How does this work on OSX?

[2016-02-24 16:45] #1957 closed

[2016-02-24 17:21] dametenshi commented on #2084
After full reboot, it looks like everything is working again.

While reproducing, I'd never used screen nor tmux.

[2016-02-24 20:49] johkelly opened #2102 "API Rate Limits"
What is the current rate limiting scheme on the Keybase API? e.g., Requests/second, burst queueing, rate limit headers, etc.

I found a previous issue (#1804) that talks about the nginix config in use, but it's a few months old and isn't really clear on what the API is configured for. The comment that it `doesn't explicitly specify rate` is odd given that the nginx docs seem to assume `rate` is se

[2016-02-24 20:58] PierreZ opened #2103 "Proposal: Docs improvements about what to save"
Hi,

I'm currently looking to format my unique desktop device. I have two Paper keys, and I didn't find any information about what I need to save, and more generally, what I need to do before completely wipe my hard drive. Should I:

* revoke my device before?
* simply login with my paper key and then revoke it?
* etc...

Could you please add more informations about this process on the documentati

[2016-02-25 04:24] jethrogb opened #2104 "Debian repository invalid Packages files"
The Debian repository at https://dist.keybase.io/linux/deb/repo/ contains invalid `Packages` files with an empty `Depends:` line:
[code]

[2016-02-25 05:10] therealkbhat commented on #2104
I can second this.
OS: Ubuntu 14.04.4 LTS

[code]

[2016-02-25 07:20] sbrl commented on #2104
This also affects the Ubuntu 15.10 repos! I'm going to have to disable the repo temporarily in order to keep everything else up to date.

[2016-02-25 08:14] tombrossman commented on #2104
I can confirm this also affects me on 64-bit Ubuntu 15.10 with the same errors as above. The usual workaround is to delete the merge lists (assumes they are corrupted) and re-update: `sudo rm -vf /var/lib/apt/lists/* && sudo apt-get update` which does not resolve the issue. On my 64-bit machine the contents of `/var/lib/apt/lists/dist.keybase.io_linux_deb_repo_dists_stable_main_binary-amd64_Packag

[2016-02-25 09:28] aramboi commented on #2104
Same issue here on Ubuntu Gnome 15.10 64bit during `sudo apt-get update`:
[code]
Doing the usual `sudo rm -vf /var/lib/apt/lists/* && sudo apt-get update` does not solve the issue as @tombrossman pointed out. Might be that Keybase people are preparing for a new release and they messed up the update channel by mistake.

[2016-02-25 09:56] maribert commented on #2104
Same problem here. The temporary work-around is to disable the repository (comment out the "deb" line in the corresponding file in /etc/apt/sources.list.d -- keybase will keep working but is no longer kept current.

[2016-02-25 10:15] nigelm commented on #2101
Going nuclear on the website using the "Reset the keys and start from scratch" option sort of worked...

However since that was an ancient gpg key which was too short for current use, had too much history (attached addresses for a company that rebranded) etc, I went for the nuclear option on that too - revoked it and have started a new key.

[2016-02-25 10:15] #2101 closed

[2016-02-25 13:16] sigvei commented on #2104
Earlier versions have had ```Depends: libappindicator1```. I am also experiencing this bug.

[2016-02-25 14:55] oconnor663 commented on #2104
This should be fixed in the latest 1.0.14-1 release. Sorry for the trouble. (Also reported at keybase/client/issues/2129)

[2016-02-25 17:08] sbrl commented on #2104
@oconnor663 Yep, that seems to have fixed it.

[2016-02-25 19:52] andyfleming commented on #1502
Ran into this as well.

[2016-02-25 21:10] Rithari opened #2105 "Electronic Mail Issues"
Greetings Keybase Folks !

I've recently noticed this problem with the Keybase email and my own one.
I'm using an Outlook Mail Account, I'm not sure if it occurs on any other email host.
So what happens is that every email Keybase sends will be stored under junk.
In my opinion that should be solved with Outlook before a Public Release, or everyone will be having problems with verifying something,

[2016-02-26 15:40] maxtaco commented on #2098
I think it's fixed, give it a whirl?

[2016-02-26 15:50] melalj commented on #105
+1

[2016-02-26 20:20] zmanian opened #2106 "Unable to stay persistently logged in on device"
▶ WARNING device id mismatch session <-> env
▶ WARNING device id mismatch session <-> env

I'm up to two of these errors.

I've tried blowing away "~/.keybase"

I've tried "keybase logout".

Keybase GUI Version: 1.0.14-20160226170046+fe0b418

Linux Ubuntu 14.04

[2016-02-26 21:05] maxtaco commented on #2106
Hi @zmanian thanks for the feedback.  Seems like a bunch of different things are going on.  First off, for all Linux users reading this ticket, *we strongly discourage nuking your `~/.config/keybase` directory*, for the simple reason that's where the only copy of your device secret keys are.

The `~/.keybase` directory hasn't been in use for a very log time, that's from an early version of our nod

[2016-02-26 21:11] patrickxb commented on #2106
One other suggestion I would have to attempt to fix your current state would be `keybase ctl restart` to restart the service daemon.

[2016-02-28 02:01] pkirkovsky commented on #2098
Nope, same error.

[2016-02-28 02:03] maxtaco commented on #2098
The same error, meaning an empty error output?  or does the error output show?  If you could, can you send me the full post so I can repro the issue?  You can use PGP or saltpack. It's all public with the exception of your session cookie, which the site operators know anyways. Thanks

[2016-02-28 02:13] pkirkovsky commented on #2098
Yes, I got the same exact "Error in your post" response as seen in my first post. Another point of interest: I repeated the curl command about 5-6 times before before the website told me it timed out, and on one of the tries got a "Success!" message. All other attempts failed with that same blank error message.

Did you want me to post the entire command & output here or in an email?

[2016-02-28 02:14] maxtaco commented on #2098
An email is better, so you don't leak your session cookie. Thank you!

[2016-02-28 02:16] maxtaco commented on #2098
max@keybase.io ...

[2016-02-28 02:22] pkirkovsky commented on #2099
Are these like Estonian IDs, which are basically full-size SIM smartcards with a photo? Those can integrate with OpenSC and therefore GPG:
https://github.com/OpenSC/OpenSC/wiki/Estonian-eID-%28EstEID%29

[2016-02-28 02:35] pkirkovsky commented on #2098
Email sent.
I tried it again a couple of times and managed to get a "Success!" message again...

[2016-02-28 02:41] maxtaco commented on #2098
Gah, my bad.  I forgot to push my code live.  Should be live now.  The error, I'm guessing from the server logs, would say that there's a bad input, error 'Bad base64 string'.  Meaning it could be the post was truncated and the base64 body of the key or sig wasn't 4-byte aligned.

[2016-02-28 02:57] pkirkovsky commented on #2098
Great, it looks like errors are showing up now! I sent some intentionally malformed API requests and got these back:

[code]

[code]

Thanks for looking into this, Max.

[2016-02-28 02:57] #2098 closed

[2016-02-28 02:58] maxtaco commented on #2098
No worries, thanks for your bug report. We previously showed the first error type but weren't properly showing the error type in the second case, since it goes through a different code path (input parameter checking) that never even got to the `key/add.json` handler.

[2016-02-28 15:54] dtiersch commented on #2106
Sorry for hijacking this issue

This means, it is safe to delete `~/.keybase` entirely?

[2016-02-28 16:06] dtiersch commented on #2103
Your device key is in `~/.config/keybase` so you should carry that over if you don't want to revoke and create a new device.

The folder `~/.cache/keybase` should be save to remove. What`s in there could be recreated (although nuking this should require a re-login). And there is also `~/.local/share/keybase` which has a database in it but I don't know if it is safe to delete it. (Maybe one of the

[2016-02-28 16:10] dtiersch commented on #2097
With public key cryptography this is not possible because you need to have the public key of the person you want to send the message to - and they need the according private key, so simply generating a key on the fly wouldn't solve this

[2016-02-28 19:01] maxtaco commented on #2103
:+1:

As for `.local/share/keybase`, that's where you keep a LevelDB that caches the sigchains of your contacts, and also states of the sitewide Merkle tree.  It's used to speed-up operations and also to catch the server if it ever tries to roll back state.  It's safe to delete this if you're switching machines but we don't recommend you do so during ordinary operation.

@dtiersch is right on the

[2016-02-28 19:02] maxtaco commented on #2106
Yes, thanks for clarifying!

[2016-02-28 19:42] mitar commented on #2099
In my case (Slovenia) there are simply [signed certificates](http://www.sigen-ca.si/eng/eng-index.php). You can use a smart card to store them, but it is not required.

[2016-02-28 20:43] PierreZ commented on #2103
Cool thanks for all the informations!

[2016-02-28 20:43] #2103 closed

[2016-02-28 22:05] goatandsheep commented on #2097
@dtiersch I never suggested generating a key on the fly. I have multiple contacts who I have the GPG public key of and they obviously have their private key. I was wondering if there is a way to encrypt a message using somebody's public key who is not a keybase user.

[2016-02-28 23:18] dghubble commented on #100
@mitar I too think a verb change is needed.

It is important to distinguish "tracking" from an actual signature of someone's public key, which occurs only when their identity can be confirmed in real life. Tracking seems to be a Keybase-specific and user-specific signed snapshot meant to save me from repeatedly checking Github, Twitter, etc proofs for a frequent contact. I'd call that "pinning", "

[2016-02-29 08:44] bturrubiates opened #2107 "Passphrase prompt when adding pgp key is unclear"
I was trying to import a key using `keybase pgp select` and after choosing a key and entering the passphrase for the secret key I got another passphrase prompt:

[code]

It was really unclear to me what it was asking for. Eventually I found that it seemed to have been asking for my keybase passphrase. Could this be made more clear?

[2016-02-29 10:42] dainnilsson opened #2108 "keybase login does not detect gpg private key on OpenPGP card"
I'm on Ubuntu, trying to run keybase login, and I'm not getting the option to use gpg. My private key is on a YubiKey 4.

Some (hopefully) relevant output:

[code]

[code]

[code]

[2016-02-29 13:04] revi commented on #1953
I just upgraded to Windows version 1.0.11 and [it works](https://keybase.io/reviwm/sigchain#0a7c3cc21006b99c9dea1edfc7c8dd7e0d5fdfa4b38f162253bc3af5b0b3c6a00f)! Closing.

[2016-02-29 13:04] #1953 closed

[2016-02-29 13:06] maxtaco commented on #2108
Thanks for this useful debug dump, I'll take a look!

[2016-02-29 13:19] maxtaco commented on #2108
@dainnilsson looks like your key expired on `1444907030` AKA `Thu Oct 15 2015 07:03:50 GMT-0400 (EDT)`

[2016-02-29 13:30] dainnilsson commented on #2108
Interesting... The output of gpg --fingerprint -K does indeed show an expired key, but gpg --fingerprint shows the correct (not expired) date. Deleting my .gnupg/secring.gpg and re-creating it using "gpg --card-status" seems to have resolved the issue. Thanks!

[2016-02-29 13:30] #2108 closed

[2016-02-29 16:24] RichJeanes commented on #2097
From the Keybase website, no. But if you're talking about using the client to do so, then why not use a dedicated PGP client directly?

[2016-02-29 18:10] zmanian commented on #2106
So the device in question is a secondary device and I've been provisioning it via a Shared Secret from my primary device.

I've been running various versions of keybase on this machine since pretty early days. So there are lots of possibilities for inconsistent state.

It's currently ZakiBigDesktop in my device list.

I've tried the following flow.

keybase ctl restart
keybase logout
keybase login

[2016-02-29 20:04] zmanian commented on #2106
I backed up .config/keybase. I also had .config/Keybase directory that had Electron related artifacts in it.

I backed both up and then re provisioned the device.

I'm able to stay logged in now/

[2016-02-29 21:12] samrocketman commented on #1342
In my case, my friend aggressively filters email and accidentally missed the email but still wants in.  What do I do then @malgorithms?  I can't resend them an invite and they can't be invited any longer.

[2016-02-29 22:02] malgorithms commented on #1342
@samrocketman - we're unlikely to put much work into changes to the invitation system because we're going to remove it. the simple solution is to invite a throwaway email address and just give them the invite code. They can still join under the email that they want. For example, if you invited them before as them@example.com, just invite them as them+kbinvite2@example.com and email them the code y

[2016-02-29 23:58] sebastiannielsen commented on #2051
@smoyer64 : If you read the article you quoted, you will have found: "printers behind a firewall would be safe."
Thus, its a non-issue as long as you have something in front that protects the printer from hacking. Its enough with a NAT router.

If your computer, which you display the paperkey on, is infected with malicious software, your'e "owned", regardless of if you print or write the paperkey

[2016-03-01 00:14] pseudosavant opened #2109 "Can't login on Windows with passphrase. Imported GPG private key."
I had to do a passphrase reset on my Keybase account because I couldn't remember my passphrase for some reason. After doing the email reset I tried to log in from the CLI. It said I needed the private key for my public key. After installing GPG and doing `gpg --import keybase-private-key.txt` I validated that the key is listed in `gpg --list-secret-keys`

[2016-03-01 00:31] nbarbettini commented on #1956
I also have version
[code]

and `keybase passphrase recover` doesn't work.

Is `keybase update check` the right way to get the latest version?

[2016-03-01 00:36] maxtaco commented on #1956
What platform are you on?  Also, why did recover fail?

[2016-03-01 00:39] nbarbettini commented on #1956
Sorry, should have included more information. I get the same error as simotek:
[code]

I'm on OS X El Capitan. Happy to provide any further info!

[2016-03-01 00:40] maxtaco commented on #1956
Ah ok.  Yeah, I'd upgrade via `brew` since presumably that's the way you installed it, right?

[2016-03-01 00:52] nbarbettini commented on #1956
Ah, makes sense. Yep, installed via `brew`. All good! Thanks.

[2016-03-01 00:58] #2023 closed

[2016-03-01 01:24] goatandsheep commented on #2097
@RichJeanes

1. I don't want to have 2 public keys.
2. I don't want to have so many different tools
3. If the client already does it, then why would I want a second client?

[2016-03-01 02:28] froeschele opened #2110 "Passphrase conflict"
I had a public key uploaded to Keybase, and I decided later to also add the private key from the Keybase cli. That worked, but it left my Keybase account in a strange state because the passphrase for the key (pre-established outside Keybase) didn't match my Keybase account password. I ended up in a state where (1) the key passphrase was used for decryption, (2) the Keybase password was used for lo

[2016-03-01 02:33] maxtaco commented on #2110
I took a quick look at your account.  Do you recall how you posted the last signature to your account?  Was it through the Web interface?

[2016-03-01 02:36] froeschele commented on #2110
I'm not sure, but I was probably using the cli since I didn't have a private key stored in Keybase previously?

[2016-03-01 03:02] maxtaco commented on #2110
I think I see. You're still using our super old node.js client, that we've discontinued support for. Do you want to try out new client?  Install instructions here: https://keybase.io/download

[2016-03-01 07:07] a11enh commented on #2047
I may be experiencing a similar issue (somewhat less experienced user here) - I just now managed to remove macports, install homebrew, and of course wanted to install keybase (item that finally pushed me over the edge to homebrew).  I am using a key on a Yubikey4, so I have no actual access to the secret key, other than by way of access to the hardware key.  For some reason I'm also getting the se

[2016-03-01 15:19] RichJeanes commented on #2097
1) You don't have to have two public keys. You can use the same key in Keybase and elsewhere. I'm using the same key with Keybase that I have been for a couple years.
Use `keybase pgp select` to select a keypair from your GPG keyring and use that as your PGP key for Keybase. The public half will be pushed to the server and associated with your account and the private half will be imported into you

[2016-03-01 18:43] jaquer commented on #2024
I can confirm this. My site at https://jaquer.net is failing also.

[2016-03-01 19:04] jaquer commented on #2024
Ooops, this is a dupe of #1925.

[2016-03-01 21:09] froeschele commented on #2110
I'll try it, thanks!

[2016-03-02 11:56] groveld opened #2111 "your dns (groveld.com) proof has failed"
I've checked my DNS TXT records against multiple servers, and all of them recognize the correct record for "_keybase.groveld.com"

I have used a DNS proof before on the same domain, but after a key reset it didn't validate anymore...

[2016-03-02 13:36] maxtaco commented on #2111
I'm not seeing a DNS resolution against Google's DNS servers (picked a neutral party):

[code]

or

[code]

[2016-03-02 17:00] zanderz commented on #2109
Paul,
Can you provide a little more information about how your original keypair was generated, where the private half was stored, whether you have used more than one device/computer for these operations, where exactly you got `keybase-private-key.txt` in your above description and which client version you are using.
Thanks,
Steve

[2016-03-02 17:42] pseudosavant commented on #2109
I don't think I had ever installed the CLI client on any device until I wanted to try to recover my account. The version I have installed is 1.0.11-201602111011+b5a91f4.

The original keypair was created when I signed up for Keybase on keybase.io. I saved off the private key at that point into an encrypted archive I keep. Obviously I won't post the private key here but here is the header:

	-----B

[2016-03-02 19:27] OliverCole opened #2112 "openpgp: invalid argument: cannot encrypt because recipient set shares no common algorithms"
Seeing the following:

    $ keybase -version
    keybase version 1.0.14-1
    $ keybase pgp encrypt spiros -m "Test"
    ▶ ERROR openpgp: invalid argument: cannot encrypt because recipient set shares no common algorithms

If I run this key through gpg locally, I can send and receive messages just fine.

[2016-03-02 22:53] adolgov opened #2113 "device list crash"
Upon successfully logging into a new device (i.e. adding new device), running ```keybase device list``` crashes with a runtime error. Subsequent call to ```keybase device list``` succeeds.

OS: Windows 10
keybase version 1.0.11-201602111011+b5a91f4
[code]

[2016-03-03 01:54] maxtaco commented on #2109
Paul, can you show me the output of:

[code]

Also, can you issue `keybase log send` after a failed login attempt?  I'm guessing that Keybase can't find GPG due to path problems.

[2016-03-03 03:43] yous opened #2114 "Proof fails with signature not found in body error"
Hi, I recently updated to latest keybase client, `keybase version 1.0.14-0` on Arch Linux. I logged in and ran `keybase id yous`, but I got following results:

[code]

I don't understand what's the problem since I can't find anything erroneous, and this problem still occurs even if I refresh my HTTPS proof.

Thanks in advance.

[2016-03-03 11:49] maxtaco commented on #2114
Did you also try a proof via DNS? That one could be falling.

On Wednesday, March 2, 2016, Chayoung You <notifications@github.com> wrote:

[2016-03-03 15:44] pseudosavant commented on #2109
# `gpg -k`

	C:/Users/paul/AppData/Roaming/gnupg/pubring.gpg
	-----------------------------------------------
	pub   4096R/AD8A81FB 2015-04-14
	uid       [ unknown] keybase.io/paulellis <paulellis@keybase.io>
	sub   2048R/ACD0D6C8 2015-04-14 [expires: 2023-04-12]
	sub   2048R/BE186474 2015-04-14 [expires: 2023-04-12]

# `keybase log send`

	This command will send recent keybase log entries to keyb

[2016-03-03 15:55] maxtaco commented on #2109
I meant upper-case K:

[code]

[2016-03-03 17:13] yous commented on #2114
I just tried a proof via DNS and it succeeded. But `keybase id yous` still prints an error:

[code]

[2016-03-03 17:42] maxtaco commented on #2114
Our bug, we'll fix it. Thanks!

[2016-03-03 17:55] yous commented on #2114
Thanks for handling this!

[2016-03-03 18:11] pseudosavant commented on #2109
# gpg -K

	C:/Users/paul/AppData/Roaming/gnupg/secring.gpg
	-----------------------------------------------
	sec   4096R/AD8A81FB 2015-04-14
	uid                  keybase.io/paulellis <paulellis@keybase.io>
	ssb   2048R/ACD0D6C8 2015-04-14
	ssb   2048R/BE186474 2015-04-14

[2016-03-04 05:59] DrKat123 opened #2115 "Website verification failed"
I have added the keybase.txt file to my website's (http://drkat.gwiddle.co.uk) public_html directory.
Should i add the file to the root directory instead?

[2016-03-04 14:44] timmc opened #2116 "Cannot update prerelease via apt"
I installed the prerelease, but I cannot get updates via apt like I can the normal version:

[code]

This is on Debian 7 (wheezy).

[2016-03-04 14:50] cjb commented on #2116
Huh, works here on Ubuntu:
[code]

[2016-03-04 14:54] cjb commented on #2116
Is your apt-get not urlencoding the `+` to a `%2B`?

This URL works:

http://s3.amazonaws.com/prerelease.keybase.io/deb/pool/main/k/keybase/keybase_1.0.14-20160302170044%2Bfa02591_amd64.deb

[2016-03-04 14:55] cjb commented on #2116
https://bugs.launchpad.net/ubuntu/+source/apt/+bug/1003633

[2016-03-04 15:34] pnelsen opened #2117 "encrypt hangs in osx"
Here is the version information:
Patricks-MacBook-Pro:hub-pic-test patricknelsen$ keybase version
Client:  1.0.5-0
Service: 1.0.5-0

With any user that I am tracking I see the following behavior:
keybase pgp encrypt -s <username> -i <in_file>
...
Your key passphrase:
Store your key in Apple's local keychain? [Y/n] Y
You last tracked ...
<tracked> public key fingerprint

(hangs forever)

[2016-03-04 15:35] dburman opened #2118 "I can encrypt files that other people can decrypt, I can not decrypt files that other people encrypt"
Platform OSX

keybase version
Client:  1.0.13-0
Service: 1.0.13-0

keybase pgp decrypt -i foo.asc -o foo
▶ ERROR unable to find decryption key for this message (error 924)

also:

▶ ERROR unable to find decryption key for this message (error 924)

[2016-03-04 15:36] mamayer commented on #105
+1

[2016-03-04 15:42] maxtaco commented on #2117
This is a super old version of keybase, can you upgrade?

[2016-03-04 15:43] pnelsen commented on #2117
Hmmm, I just did a brew update and a brew upgrade? Do I need to add another source for brew?

[2016-03-04 15:44] maxtaco commented on #2117
`brew update` first

[2016-03-04 15:49] pnelsen commented on #2117
Patricks-MacBook-Pro:hub-pic-test patricknelsen$ brew update && brew upgrade
Already up-to-date.
Patricks-MacBook-Pro:hub-pic-test patricknelsen$ keybase version
Client:  1.0.5-0
Service: 1.0.5-0

[2016-03-04 15:49] maxtaco commented on #2117
@gabriel  / @patrickxb  any ideas?

[2016-03-04 15:52] timmc commented on #2116
Aw jeez, that's terrible. S3, what are you doing...

[2016-03-04 16:04] pnelsen commented on #2117
Made a little bit of progress. Had to run brew cleanup, brew prune, and brew link.  Still see same issue:
Patricks-MacBook-Pro:hub-pic-test patricknelsen$ keybase version
Client:  1.0.13-0
Service: 1.0.13-0

[2016-03-04 16:06] pnelsen commented on #2117
Disregard, things working now after moving -s after username

[2016-03-04 16:07] maxtaco commented on #2117
I was thinking it was something along those lines, but didn't want to debug an old version. Thanks!!!

[2016-03-04 16:08] pnelsen commented on #2117
This is kind of misleading:
eybase pgp help encrypt
NAME:
   keybase pgp encrypt - PGP encrypt messages or files for keybase users

USAGE:
   keybase pgp encrypt [command options] <usernames...>

[2016-03-04 16:26] dburman commented on #2118
keybase pgp select --only-import
fixed my issue after i updated to 1.0.13 (was failing on 1.0.5)

[2016-03-04 16:26] #2118 closed

[2016-03-04 17:59] maxtaco commented on #2109
One more thing we can try:  can you post the output of `keybase -d login`?  You can kill it once you get ot the initial prompt.  Thanks.

[2016-03-04 18:59] oconnor663 commented on #2116
Is is possible Debian 8 fixed this? I wasn't able to repro it there.

[2016-03-04 19:01] cjb commented on #2116
Yes, the launchpad link above shows it was fixed in apt in 2013.

[2016-03-04 19:16] offbyone opened #2119 "Keybase GUI client update should allow a retry"
When the kbfs mount is in use, the updater offers "Force" or "Later" options, but not a "Retry". I'd like to be able to fix the in-use issue and retry the update right then.

[2016-03-04 19:22] oconnor663 commented on #2116
I just landed a hack to fix this, which should go out with tomorrow's daily build. @timmc could you try it tomorrow afternoon and let us know how it goes?

(If you want to test by hand *right this very second*, you can repoint `/etc/apt/sources.list.d/keybase` to https://s3.amazonaws.com/jack-testing.keybase.io/index.html instead of https://s3.amazonaws.com/prerelease.keybase.io/index.html.)

[2016-03-04 19:26] oconnor663 commented on #2116
Scratch that: I'm going to publish a manual build right now, so that we avoid running into any problems over the weekend.

[2016-03-04 19:34] pseudosavant commented on #2109
# `keybase -d login`

	2016-03-04T10:18:56.362472 - [DEBU keybase json.go:50] 001 + loading config file: C:\Users\paul\AppData\Roaming\Keybase\config.json
	2016-03-04T10:18:56.364461 - [DEBU keybase json.go:58] 002 No config file found; tried C:\Users\paul\AppData\Roaming\Keybase\config.json
	2016-03-04T10:18:56.367463 - [DEBU keybase globals.go:225] 003 Created LinkCache, max size: 65536, clean d

[2016-03-04 20:13] oconnor663 commented on #2116
Ok, the new build is out, and it seems to work for me on Debian 7. @timmc can you confirm?

[2016-03-04 21:22] timmc commented on #2116
Yup, that works!

(And I'll get around to upgrading to Debian 8 one of these days...)

[2016-03-04 21:32] oconnor663 commented on #2116
Woo!

[2016-03-04 21:32] #2116 closed

[2016-03-04 21:35] zanderz commented on #2109
Paul,
The keybase client seems unable to locate gpg.exe, as per this entry in your log: `"gpg": executable file not found in %PATH%`
though I do see your path contains `C:\Program Files (x86)\GNU\GnuPG\pub`
Sometimes, if the service has been running for a long time, it can fail to pick up environment changes. In that case, one thing to try might be to restart it:
`keybase ctl restart`
Also, is it

[2016-03-04 23:39] pseudosavant commented on #2109
Running `where gpg` returns `C:\Program Files (x86)\GNU\GnuPG\pub\gpg.exe`.

I tried doing `keybase ctl restart` and then `keybase login` and still experienced the same error. Here is the result of `keybase -d login`:

	2016-03-04T15:38:36.290436 - [DEBU keybase json.go:50] 001 + loading config file: C:\Users\paul\AppData\Roaming\Keybase\config.json
	2016-03-04T15:38:36.293439 - [DEBU keybase json

[2016-03-05 00:58] gabriel commented on #2117
@maxtaco we might want to make usernames a flag

[2016-03-05 09:40] DrKat123 commented on #2115
Hello...?

[2016-03-05 11:30] dtiersch commented on #2115
You should add the file in the appropriate directory, so that it is accessible with the address http://drkat.gwiddle.co.uk/keybase.txt. What directory that is depends on the config of the webserver, but public_html usually sound like a good idea.
In your case though it didn't seem to do the trick... You have to look where the other files are that are accessible from the web, that's probably the we

[2016-03-05 14:52] jacoscaz commented on #105
+1

[2016-03-05 15:29] NoSubstitute commented on #2107
I concur. It should be made obvious which password is referred to. This goes for other times passwords are asked for too.

[2016-03-05 15:32] NoSubstitute commented on #2115
The url mentioned by @dtiersch resolves fine. Perhaps you should ask Keybase to verify it again.

[2016-03-05 16:09] dtiersch commented on #2115
Sorry, I had a typo in the address when trying to `curl` it. Using the correct address works just fine.
Someone having access to the crawlers log should have a look into this...

[2016-03-05 16:25] NoSubstitute commented on #1495
I just posted just a simple sample proof, available at both these urls.
https://plus.google.com/109325348412536933420/posts/ZnhXT4yyuF4
https://plus.google.com/+KimNilsson/posts/ZnhXT4yyuF4

The linked content in the G+post is actually to my Twitter proof sig, so it's just a sample.

[2016-03-05 16:25] NoSubstitute commented on #727
If I'm not mistaken GAM uses OAuth2 to verify access to a Google Apps domain, so I don't see why Keybase shouldn't be able to do the same.
https://github.com/jay0lee/GAM/wiki

[2016-03-05 16:42] step21 opened #2120 "keybase update computes wrong prefix on windows"
when `keybase update` the prefix of npm is calculated wrongly

[code]

[2016-03-05 16:44] xme opened #2121 "How to force web verification over HTTPS?"
Hi,
I received a notification from Keybase about a failed verification of my website. Nothing changed for a while and I see the Keybade bot coming to grab keybase.txt.
However, it connects via HTTP and my webserver redirects to HTTPS (HTTP code 301). Unfortunately, Keybase does not follow and fails.
Any tip?

[2016-03-05 22:33] zanderz commented on #2113
Thanks for the report, we have seen this intermittently and don't believe it is specific to the command you ran - unless you can reproduce it that way? We're working on a fix and will keep you updated.

[2016-03-05 23:04] zanderz commented on #2120
The node client is no longer supported. You can get the newer Go client here:
https://keybase.io/download

[2016-03-05 23:07] step21 commented on #2120
Oh okay... sorry. I thought maybe the go client could upgrade to the newer one :)

[2016-03-06 01:49] bturrubiates commented on #2107
Agreed. :+1:

[2016-03-06 04:05] zanderz commented on #2109
It certainly does look like your two keybase processes are started in different environments, with different paths, only one of which has gpg:
[code]
There is a mechanism for conveying new path entries between the two processes, but as you have discovered, it doesn't work on Windows. We have scheduled a fix. Meanwhile, you may be able to proceed by trying one of the following:

- Make sure the key

[2016-03-06 08:40] DrKat123 commented on #2115
@dtiersch i'm gonna try to put the keybase.txt to the root directory

[2016-03-06 08:46] DrKat123 commented on #2115
Let me try to verify the keybase.txt again...

[2016-03-06 08:50] DrKat123 commented on #2115
Never mind it's working now.

[2016-03-06 08:50] #2115 closed

[2016-03-06 17:36] #1142 closed

[2016-03-07 15:29] oconnor663 commented on #2121
For various security reasons, the Keybase proof checker doesn't follow redirects, like you noticed. You'll need to revoke your HTTP proof and re-prove your web identity to be explicitly HTTPS.

[2016-03-07 15:32] oconnor663 commented on #2115
Thanks for the help, @dtiersch.

[2016-03-07 18:14] FroehlichMarcel commented on #387
+1

[2016-03-07 22:11] iambrosie commented on #2046
I just stumbled across this issue myself.
I would also like to mention the fact that I like your proposed solution.

[2016-03-07 23:06] zanderz commented on #2109
This latest CLI release contains a fix for conveying the current path from client to service:
https://dist.keybase.io/windows/keybase_setup_1.0.14-1_386.exe

[2016-03-08 09:21] Danielurson opened #2122 "'keybase decrypt' cli command incorrect syntax"
h/t [honus](https://keybase.io/honus) - "keybase decrypt pgp -m "-----BEGI..."" should actually be "keybase decrypt -m "-----BEGI...""

[2016-03-08 09:36] NikonMcFly opened #2123 "old account locked out. Created a new one."
Created a new account and I am locked out on my old account on my computer. I am running ubuntu 14.04. Is there anyway of removing the old account on my computer and using the newest one?

[2016-03-08 10:43] NikonMcFly commented on #2123
Fixed it all I had to do is run *keybase reset* in my command and sign in again

[2016-03-08 10:43] #2123 closed

[2016-03-08 12:41] adiroiban commented on #92
After each upgrade I do

[code]

an replace node with nodejs

[2016-03-08 12:45] cjb commented on #92
We've stopped making releases of the old nodejs client, there's a new Go one to replace it.

[2016-03-08 13:51] adiroiban commented on #92
Ah... I see...

I run keybase and it asked me to run keybase-installer to update to latest version... it did not mention anything about Go :)

maybe keybase-installer should also be updated to emit a warning that nodejs client is obsolete and that people should go for go :)

So basically this should be closes as won't fix. Right?

Thanks!

[2016-03-08 15:23] ryanturner commented on #327
+1

[2016-03-08 19:25] tuxlife opened #2124 "unknown SymmetricallyEncrypted version during keybase pgp select"
I get during keybase pgp select the following Import error:

ERROR ImportKey error: openpgp: invalid data: subkey signature invalid: openpgp: unsupported feature: unknown SymmetricallyEncrypted version

[code]

thank for your help

[2016-03-08 20:13] tuxlife commented on #2124
[The public key](https://gist.github.com/tuxlife/9ca3187a34b9f21aea79)

[2016-03-08 20:18] tuxlife commented on #2124
Here a other Error Message, with the key

[code]

I create the Key by following the [Blog post from Eric Severance](https://www.esev.com/blog/post/2015-01-pgp-ssh-key-on-yubikey-neo/)

[2016-03-08 21:55] brokenseal commented on #1554
Still same error here

[2016-03-10 15:34] fvalle1 commented on #2090
+1

[2016-03-10 15:36] #1217 closed

[2016-03-10 16:50] tuxlife commented on #2124
Issue found. Layer 8 Problem :smiley:

The crucial clue was the way via Bash+GnuPG+cURL. There create a signuature, but that was not possible with my YubiKey.

My fist key setup includes 2 signing subkeys (one per yubikey). But gnupg used seeming only the last.

[2016-03-10 16:50] #2124 closed

[2016-03-10 17:11] roelvanderplank commented on #2055
Have the same problem, but now on windows:
C:\Program Files (x86)\Keybase>keybase update client
Error parsing command line arguments: No default destination path for this environment

[2016-03-10 17:29] maxtaco commented on #2055
Cc: @zanderz

[2016-03-10 18:11] anarcat commented on #1444
does the client actually fail to find the file? i would assume it would fallback properly...

[2016-03-10 22:54] brianjwagner opened #2125 "CLI twitter verify text is incorrect"
To verify my twitter account, I tried the CLI, but it kept telling me that it was not found. The text that was supposed to be copied from the terminal to twitter is *different* than the text when verifying in the browser.

The browser text was successful, the CLI text was not.

[2016-03-11 13:56] dtiersch commented on #2125
It is expected behaviour that the text is different. As you can see in other proofs (e.g. for [GitHub](https://gist.github.com/dtiersch/85b4a459a7064af0be51) the current time is part of the proof. And with different times in the proof the signature of it changes as well. That's why you get different outputs.

[2016-03-11 16:48] Sondsara commented on #1901
`keybase pgp select --only-import`
gives me
`ERROR No PGP keys available to choose from.`

[2016-03-11 18:27] zanderz commented on #2055
A fix for this has been merged and will be included in the next build, stay
tuned.

On Thu, Mar 10, 2016 at 9:29 AM, Maxwell Krohn <notifications@github.com>
wrote:

[2016-03-13 14:31] alex commented on #1885
We have a new error to contemplate:

[code]

https://github.com/keybase/go-crypto/blob/master/openpgp/packet/packet.go#L158-L169 looks to the site of the offender.

[2016-03-14 03:45] virgil opened #2126 "Feature Request: Estonian E-resident proof"
I recently got an Estonian e-residency card.  The card has a private key on it.  I would like to be able to prove my e-residency identity on Keybase.  As a bonus, this gives Keybase.io a *passport level* verification of my identity.

[2016-03-15 00:59] jkingsman commented on #1264
Has this option been moved/removed?

[2016-03-15 04:12] Sondsara opened #2127 "Error when decrypting from message"
When running

`keybase decrypt -i message`

I get this:

`ERROR KID 010151554a39dbec68b1ad59d93ed15e84037f652137c487ee50284fc585785dee110a not in cki.Infos`

followed by the message, which is seemingly intact.

[2016-03-15 11:20] n0use opened #2128 "Cannot verify twitter account"
I've used the CLI command to generate the twitter post, tweeted it, then checked with the keybase.io web interface but it repeatedly says "Failed" - you can view the succession of tweets it was unable to pick up at

https://twitter.com/j0hn0ah

[2016-03-15 11:58] maxtaco commented on #2128
We don't support protected tweets for good reason.

On Tuesday, March 15, 2016, John Newman <notifications@github.com> wrote:

[2016-03-15 12:32] golddranks opened #2129 "An idea for a feature: cryptographically secure clipboard/copy-paste between devices"
Hi, it just occurred to me that you have basically all the infrastructure to do this pretty easily.

I just had moments of swearing how hard is it to transfer some secret keys from a device to another, without sending them through some third party service. Of course, this applies to non-secrets too, like URLs of snippets of text. Today I even sent an URL to my girlfriend in Line on my laptop (a Wh

[2016-03-15 13:28] dotwaffle opened #2130 "http/2 causes http verify to fail"
I've recently updated my webserver to support http/2. The "http" check on "waffle.sexy" now fails. It works with curl (and of course, in a web browser) for both http, https, and http2 (with ssl).

[2016-03-15 14:08] maxtaco commented on #2130
Looks like we're blocked on this: https://github.com/request/request/issues/1982

[2016-03-15 15:57] oconnor663 commented on #2127
This should be fixed in 6be7ce4975591752e5f0abed2f0a5b7311b16d16. In the meantime, it's safe to ignore that error.

[2016-03-15 16:23] killtheliterate commented on #1885
A buddy of mine has not had this issue with a key he generated *on* the Yubikey. I'm not sure if that is useful/relevant. cc/ @legittalon

[2016-03-15 17:05] dtiersch commented on #2128
You may find detailed information on why the proofs needs to be public [here](https://keybase.io/docs/server_security)

[2016-03-15 18:32] balupton commented on #1982
@offbyone this issue is open, there was an issue that referenced it, which is closed

[2016-03-15 18:32] balupton commented on #1982
Would be very nice as I'd like to add the blog to feedly.

Is there a repo for the blog currently? I'd happily PR this.

[2016-03-16 08:17] cr0bar opened #2131 "Authentication with HTTP Proxy"
Possibly user error so happy for you to shoot me down.

I seem unable to use the keybase windows client with a proxy server which requires authentication. Proxy requires username and domain to be passed.

I've fiddled with the --proxy parameter with no success.

[2016-03-16 08:31] aleininger opened #2132 "ERROR ImportKey error: GPG error: exit status 2"
`prompt ~ $ keybase login`

`prompt ~ $ keybase pgp select`

`\#    Algo    Key Id             Created   UserId`

`\=    ====    ======             =======   ======`

`1    4096R   CFB251E356B27251             my e-mail addresses associated with the key`

`Choose a key: 1`

**`▶ ERROR ImportKey error: GPG error: exit status 2`**

Anyone got any idea what is going wrong here?

I have the most recen

[2016-03-16 09:39] daveewart opened #2133 "Twitter won't verify: what's wrong?"
After using 'keybase prove twitter' I copy/pasted & tweeted the resulting output as https://twitter.com/DaveEwart/status/709809946976722944

This continually fails to verify.  This is my second attempt after the first attempt continually failed similarly.  I got an email stating "[The tweet] is either (a) not there, or (b) not posted precisely".  It's definitely there, it's public and as far as I

[2016-03-16 10:45] maxtaco commented on #2133
You left out "verifying myself"

On Wednesday, March 16, 2016, Dave Ewart <notifications@github.com> wrote:

[2016-03-16 10:51] daveewart commented on #2133
Ah, I see.  For some reason I didn't think that was part of the tweet. I stand corrected and have now successfully verified.  Thanks @maxtaco :-)

[2016-03-16 10:51] #2133 closed

[2016-03-16 12:56] golddranks opened #2134 "Annoying popup: /keybase/Keybase.app is not a Keybase folder"
<img width="364" alt="2016-03-16 21 54 16" src="https://cloud.githubusercontent.com/assets/2675542/13812856/c19f9e02-ebc1-11e5-8280-003eab7e90dd.png">

A popup like this shows up fairly often.

[2016-03-16 12:59] maxtaco commented on #2132
Please post the same thing with `-d` so we can help debug.

[2016-03-16 13:44] aleininger commented on #2132
#    Algo    Key Id             Created   UserId
=    ====    ======             =======   ======
1    4096R   CFB251E356B27251             my-email addresses
Choose a key: 1
2016-03-16T14:39:37.482909 ▶ [DEBU keybase log.go:30] 090 SelectKey result: {KeyID:CFB251E356B27251 DoSecretPush:false}
2016-03-16T14:39:37.486536 ▶ [DEBU keybase log.go:30] 091 GPG version:
gpg (GnuPG) 2.1.6
libgcrypt 1.6.3

[2016-03-16 13:46] maxtaco commented on #2132
Looks like you're having pinentry problems.  GPG 2.1 has different policies on key export and requires a pinentry prompt for it.   @oconnor663  what's the workaround here?

[2016-03-16 14:05] cjb commented on #2134
I think this should be fixed in five hours (that's when the build containing the fix will roll out).. please try running `keybase update check` then.

[2016-03-16 15:26] oconnor663 commented on #2132
It's possible that you could force your GPG agent to load this key as a workaround, with something like:

    gpg --sign --output /dev/null /dev/null

But I don't know what's causing `error receiving key from agent: No pinentry - skipped`. That doesn't sound like a 2.1-specific problem. What do you see from `which pinentry`?

[2016-03-16 15:31] oconnor663 commented on #2132
Just for good measure, could you run `keybase log send` and give us the ID it generates?

[2016-03-16 21:41] OliverCole commented on #2112
Issue remains in alpha:
[code]

[2016-03-16 22:26] OliverCole opened #2135 "Warn on protected Twitter accounts"
It would be great if proof generation could check a Twitter account to see if it's protected and warn the user.

It would eliminate issues such as #2128.

[2016-03-16 22:28] OliverCole commented on #2126
I don't know much about the Estonian implementation. If I had a signed statement, via keybase, that claimed your keybase account was owned by the Estonian citizen represented by key X, how would I verify that specific proof?

Are all the corresponding public keys available online?

[2016-03-16 22:29] OliverCole opened #2136 "keybase log send should offer to show you the logs before sending"
Several apps that send potentially risky details in bug reports allow you to inspect the raw report before sending - even Windows does this.

`keybase log send` should show you the raw report before asking for approval, or give you a path to look at.

[2016-03-16 22:34] strib commented on #2136
Dup of keybase/client#2350.

[2016-03-16 22:34] #2136 closed

[2016-03-17 02:31] zQueal commented on #2135
We could levy the use of `GET account/settings` [in the Twitter API](https://dev.twitter.com/rest/reference/get/account/settings);

    {
        "always_use_https": true,
        "discoverable_by_email": true,
        "geo_enabled": true,
        "language": "en",
        "protected": false,
        "screen_name": "theSeanCook",
        "show_all_inline_media": false,
        [...]

Particularly

[2016-03-17 07:02] dorfsmay opened #2137 "exclude list for the keybase filesystem"
I added a document to an area in the keybase FS, and realised I needed to edit it. As I was editing it, keybase kept sync'ing the editor's temp file up.

It'd be great to have an exclude / ignore file list, where we could add ".*.swp" for example to avoid having the vim swap files sync'ed.

[2016-03-17 09:11] aleininger commented on #2132
`arndt@arndt-ThinkPad-X1-Carbon ~ $ which pinentry`

`/usr/bin/pinentry`

Log ID: ed25fae098af4709de01411c

Thanks for your help, guys.

[2016-03-17 10:59] NaEaP opened #2138 "reddit Verification Link not working"
I'm always getting a 502 Bad Gateway using the provided link

Could you also give me the option to copy-paste the message to reddit?

[2016-03-17 12:40] maxtaco commented on #2138
are you logged in?

[2016-03-17 12:42] NaEaP commented on #2138
Ah... stupid me
Yes, you're right.

Thank you very much!

[2016-03-17 12:42] #2138 closed

[2016-03-17 12:51] maxtaco commented on #2138
on our part, the error message and flow could use work though....

On Thu, Mar 17, 2016 at 8:42 AM, NaEaP <notifications@github.com> wrote:

[2016-03-17 17:19] maxtaco commented on #2114
BTW, it's [this signature](https://keybase.io/_/api/1.0/sig/get.json?sig_id=c0c98d0a56fbcd2d6596cdf7d58326eb788f78fd41ba24beeba977f86a03c1250f) that's failing; it's not revoked, and it's a proof of http://yous.be via HTTP.  I guess it's an open question if the client should ignore that HTTP proof since you have an HTTPS proof as well.  But it could be the easiest thing is to just:

[code]

[2016-03-17 17:27] yous commented on #2114
Now `keybase id yous` doesn't print an error. Thank you for the notice. Closing.

[2016-03-17 17:27] #2114 closed

[2016-03-17 20:31] crumpled opened #2139 "Joining via web: no text in passphrase validation error"
While joining via the web, I may have used a passphrase that was too weak, or maybe the validation field didn't match.  After submitting my username, email and passphrase, I was shown a validation error with no text in it.

[2016-03-17 20:49] ruipacheco opened #2140 "Install without brew"
I'm a macports user and found it's not recommended to have macports alongside brew. Can you provide an installation of the command line client that does not involve brew? Maybe cover brew and macports?

[2016-03-17 22:46] #2134 closed

[2016-03-17 22:52] strib commented on #2137
Hi @dorfsmay, good suggestion, though it may have to wait a while to be implemented.  At the moment, KBFS is an entirely networked file system, and doesn't use your local disk storage at all.  That means we don't have anywhere to store files that are on the exclude list!  In the future, we may consider offline reads and writes, in which case we'll have some section of your disk dedicated for Keyba

[2016-03-17 23:20] Ardakilic commented on #808
+1 to this

[2016-03-17 23:21] Ardakilic commented on #77
+1

[2016-03-18 00:00] pkirkovsky commented on #2130
Maybe enabling NPN will resolve this issue? My site is also http/2 enabled and Keybase verified it successfully.

Here are the differences I see:

[code]

[code]

[2016-03-18 01:48] dotwaffle commented on #2130
NPN? Do you mean ALPN? I believe it's enabled and working...

On Fri, 18 Mar 2016, 00:00 Pavel Kirkovsky, <notifications@github.com>
wrote:

[2016-03-18 02:58] pkirkovsky commented on #2130
NPN is the predecessor to ALPN, and was mainly used for SPDY. With ALPN, the client sends a list of supported protocols. With NPN, the server sends the client a list of supported protocols.

For compatibility reasons it's probably best to support both ALPN and NPN (in that order). NPN is deprecated but many clients and servers still use it, and I think the Keybase verifier is one of those (@maxtac

[2016-03-18 09:32] anthonygelibert commented on #2140
Hi Rui,

Normally there is already a port file for Keybase : https://trac.macports.org/browser/trunk/dports/security/keybase/Portfile.

It seems to be up-to-date.

Regards,
[Anthony GELIBERT](https://keybase.io/anthonygelibert)

[2016-03-18 10:13] anthonygelibert commented on #2140
For me (at list) there is a problem with the port, it lacks of a service file.

You can use this one (inspired by the one of Homebrew), save it as custom.keybase.plist and put it in ~/Library/LaunchAgents. Don’t forget to update the username according to your own install.

After that, you load/start it and normally keybase will work.

[code]

[2016-03-18 12:47] maxtaco commented on #2130
Hi folks, a good unit test for this is:

[code]

This fails for me on dev (node 4.3.2 and request 2.69) and also on prod for waffle.sexy. @pkirkovsky's site seems to work.  We don't update request super aggressively because it's so massive and scary. Prod is a few versions earlier, but given it doesn't work in 2.69, we're not rushing the upgrade.

[2016-03-18 19:32] master412160 opened #2141 "I keep hitting refresh images to get my profile avatar updated but no results"
I have verified my github and twitter acc in the browser and hit the "Refresh my photo" and nothing happens.

[2016-03-18 19:37] mendhak commented on #849
Other ideas:

![](https://img.shields.io/badge/Keybase-mendhak-blue.svg)

or

![](https://img.shields.io/badge/PGP-76CBE9A9-blue.svg)

+1 on this anyway - I sign my releases and would like downloaders to verify or be aware I'm on Keybase.

[2016-03-18 19:56] malgorithms commented on #2141
I'm doing an across-the-board resize of images of the site right now so shit is slow on that front. I think yours is updated on your profile now? if not it will be shortly.

[2016-03-18 20:36] phryneas commented on #1946
+1

[2016-03-18 20:40] PunKeel commented on #312
+1

[2016-03-18 20:42] PunKeel commented on #518
+1 for all of them.

[2016-03-18 23:02] master412160 commented on #2141
Yeah, it shows up now.

[2016-03-18 23:02] #2141 closed

[2016-03-19 00:19] levidurfee opened #2142 "Getting started from the command line"
When I try this command:

[code]

![image](https://cloud.githubusercontent.com/assets/10798199/13895169/880feabc-ed46-11e5-8a28-90e4045f5483.png)

[2016-03-19 00:21] maxtaco commented on #2142
Try double rather than single quotation marks.

[2016-03-19 00:22] levidurfee commented on #2142
Thanks, that worked. It might need updated on the website.

![image](https://cloud.githubusercontent.com/assets/10798199/13895224/2fd939ec-ed47-11e5-89da-d604bd1d8a4d.png)

[2016-03-19 00:27] maxtaco commented on #2142
cc: @malgorithms, I'll fix this one!

[2016-03-19 00:32] #2142 closed

[2016-03-19 07:52] SRabbelier opened #2143 "dns verification of rabbelier.com failed for https://keybase.io/srabbelier"
$ dig rabbelier.com TXT

; <<>> DiG 9.9.5-3ubuntu0.7-Ubuntu <<>> rabbelier.com TXT
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 43300
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 1024
;; QUESTION SECTION:
;rabbelier.com.                 IN      TXT

;; ANSWER SECTION:
rabbe

[2016-03-19 13:52] fvalle1 opened #2144 "User unknown when verify message"
If you try to verify the message at https://gpgtools.org/keybase.txt

`-----BEGIN PGP MESSAGE-----
Comment: https://gpgtools.org

owFtkr9rFEEUx9fTBDx/YCoLLWQKMXKEmdnZ+XGthZaColVyzOy82QyJO5vdzWk4
AgZEAuKPoGClVSwtrEQQK8EijWBhYasQ/wVBdPbQRpxmmPe+38+b93iPjh1M+nPj
zw9nko9n3x/Y+26Sqy9e7kyQCXYDDSdoBaaX82UBdVX7skVDJDNIpeMKM24Yywnk
yhksjOBWSIczjC2mPGdogJZD0zkixugGFnyIsfgYeRuj/9GvTBOYEKJAZ5w7KV3G
mIxwRmia5Y

[2016-03-19 14:40] levidurfee commented on #2142
https://keybase.io/docs/command_line

This page needs some double quote love.

[2016-03-19 16:22] maxtaco commented on #2144
Interestingly it works on the CLI. Looks like a website bug that is
probably new. I will take look when I get a chance. Thanks Filippo!

  Cc @malgorithms.

On Saturday, March 19, 2016, Filippo <notifications@github.com> wrote:

[2016-03-19 18:55] gerrymiller opened #2145 "Can't verify github"
Here's my proof: https://gist.github.com/gerrymiller/e8578dda803872e4482c

[2016-03-19 18:58] maxtaco commented on #2145
you generated two sigs, but posted the first.  our server is looking for the second (seqno=10)

[2016-03-19 21:07] virtualdxs opened #2146 "HTTPS Proof failed on client but not website"
When IDing myself, for my website I get:

    Proof for k7dxs.xyz failed: No server-given hint for sig=2f7185072ad69a460d6aba7f62cff14fb632c3ba33c21fa897f286ba62e0d9d10f (code=306)

But on the site it says it's fine. What's going on?

[2016-03-19 21:25] maxtaco commented on #2146
It's an arguable bug in the client, but I think you can solve it by revoking that defunct proof:

[code]

[2016-03-19 21:28] virtualdxs commented on #2146
That fixed it. Thanks! Closing this issue.

Duncan X. Simpson
Amateur Radio callsign: K7DXS
Visit my site at http://www.virtualdxs.tk/

Removal of this tagline is a violation of Federal Law.

On Sat, Mar 19, 2016 at 2:25 PM, Maxwell Krohn <notifications@github.com>
wrote:

[2016-03-19 21:28] #2146 closed

[2016-03-20 06:50] peterood opened #2147 "username.keybase.pub no longer defaults to serving over https"
As of March 20, 02:50 EDT peterood.keybase.pub no longer defaults to serving over https which I believe was previously the case.

[2016-03-20 08:59] zQueal commented on #2147
Every other profile I try, including my own, defaults to HTTPS. When I initially tried yours, I saw that it was no longer loading on HTTPS by default--however now when I try, it does but only in Chrome. If I try in IE/Opera, the issue is as stated.

Very peculiar situation if you ask me.

[2016-03-20 12:53] maxtaco commented on #2147
Can't repro!

[2016-03-20 18:38] peterood commented on #2147
Yeah, definitely peculiar. When I filed the issue, I noticed it on my iPhone using Brave and Safari.

Right now I'm using OS X and tried [zqueal.keybase.pub](http://zqueal.keybase.pub) and [peterood.keybase.pub](http://peterood.keybase.pub).
**defaults to https**
Chrome Canary

**does not default**
Firefox Developer Edition
Safari

[2016-03-20 19:39] cjb commented on #2147
Hi folks, I think I've just fixed this, please could you retest?  We weren't enforcing a redirect to https on subdomains.  (

I'd guess the cross-browser differences are just that some browsers, when given 'foo.com', will try HTTPS and fall back to HTTP, and some will do it the other way around.

[2016-03-20 20:59] peterood commented on #2147
Thanks for the fix, Chris. I retested peterood.keybase.pub and zqueal.keybase.pub in Brave and Safari on iOS and both now redirect to HTTPS.

[2016-03-20 20:59] #2147 closed

[2016-03-21 04:39] Jeffreycitron opened #2148 "New request , prove telephone number"
I believe that if you can verify your phone number like many two factor Auth apps require via SMS, it will really help indentify users , as I know all my friends cell numbers.

[2016-03-21 09:18] dtiersch commented on #2148
proofs have to be public verifiable, everybody regardless of knowing the person or not has to be able to check if the proof is correct. With a phone number such a proof is not possible

[2016-03-21 13:14] maxtaco commented on #2144
I tried some basic repros for other accounts and circumstances.  In general the feature works, but here, it isn't.  Investigating further...

[2016-03-21 14:27] maxtaco commented on #2144
Can't find an easy solution, I'm going to make a (low priority) ticket.  My guess it has to do something with subkey rotation or subkey expiration, but haven't spent much time on it. Thanks for the report!

[2016-03-21 14:32] fvalle1 commented on #2144
I also noticed that in general it works fine!

Let me know when you find a solution, I'm curious:-)

 I'm happy to be useful!

Filippo

https://fvalle1.github.io

[2016-03-21 19:23] pkirkovsky commented on #2130
@maxtaco Could you clarify whether this is an NPN issue or something else entirely?

[2016-03-21 19:25] maxtaco commented on #2130
I haven't spent much time debugging it, so unfortunately @pkirkovsky I don't know! But it seems like there's a brokenness in the library that causes the program to exit before the callback fires.

[2016-03-22 08:54] kyanha opened #2149 "Website: Updating PGP key warns that "keybase pgp update" is not yet available, but it is."
I updated my PGP key on the website to add a new ID.  It provided me a list of 3 options to claim the update.  The option to use the keybase client warned me that the command would not be available until the new client was released; however, I have the latest Go client, and "keybase pgp update" worked perfectly.

Suggested solution: remove wording warning about the command's unavailability.

(Than

[2016-03-22 16:23] RobClap opened #2150 "Problem with OpenDyslexic font"
When browsing the website with a font set to improve readability for dyslexic people (http://opendyslexic.org/) most of the symbols do not render, making it very hard to use (to understand what a button does it is necessary to read the hover text)

![screenshot](https://cloud.githubusercontent.com/assets/1256049/13958840/ef0c015c-f051-11e5-8ef2-ffc20f4efb33.png)

i would suggest to either use icon

[2016-03-22 20:35] dtiersch commented on #2150
Related: https://github.com/modxcms/revolution/issues/12771 & https://github.com/FortAwesome/Font-Awesome/issues/6133

The Problem with symbols is, that they depend on the given font, and FontAwesome is the only one with a big set of symbols which are supported on at least any graphical outputs *if* the Font doesn't get overwritten with another one like OpenDyslexic.
As stated in the first related

[2016-03-22 22:00] jcassee opened #2151 "Unable to login on Ubuntu 16.04, keybase 1.0.14-1"
Having bought a new laptop I am trying to install keybase on it. Unfortunately, `keybase login` fails with the same message as issues #2000, #1984 and #2101. Those are closed, so I am opening a new issue.

This is the command:

[code]

The content of `keybase-login.out` is here: https://pastebin.com/9N7G6WT8

Can I do anything else to help debug the problem?

[2016-03-22 22:13] cjohansen opened #2152 "Unable to login on command-line"
I created a new Keybase account, let Keybase generate a key for me, then exported it. Now I get:

[code]

[2016-03-22 22:30] maxtaco commented on #2151
We are barfing on your PGP key.  I believe we fixed this pgp shortcoming of
the go pgp library in master but it isn't live yet on our main channel.

On Tuesday, March 22, 2016, Joost Cassee <notifications@github.com> wrote:

[2016-03-23 00:50] jcassee commented on #2151
Okay, good to know. Is there something like a beta channel I can use to get the fix?

[2016-03-23 00:55] maxtaco commented on #2151
Confirmed that I can `keybase id` you with the new client.  Decrypt the following for info on how to grab it:

[code]

[2016-03-23 08:58] jcassee commented on #2151
Cool! Thanks, Maxwell.

[2016-03-23 08:59] jcassee commented on #2151
@maxtaco Shall I close this issue or leave it open for others to stumble across if they have the same problem?

[2016-03-23 11:28] donzooles opened #2153 "Problem with twitter validation (proofing)"
Hi, I have a problem with the validation of my twitter account, I tried it multiple times (https://keybase.io/donzooles/sigchain) but it wont work.

My latest validation tweet: https://twitter.com/donzooles/status/712594264904101888

[2016-03-23 12:56] oconnor663 commented on #2153
Here's what I get if I copy-paste that tweet:

[code]

I don't think that line break in the middle is supposed to be there. Maybe that got introduced when you copied the text from your terminal? What happens if you retweet the proof without the newline?

[2016-03-23 13:01] donzooles commented on #2153
@oconnor663 Now it's working, thank you. :)

[2016-03-23 13:01] #2153 closed

[2016-03-23 13:04] oconnor663 commented on #2153
Woo :)

[2016-03-23 13:04] maxtaco commented on #2151
i'd say close it, thanks...

On Wed, Mar 23, 2016 at 4:59 AM, Joost Cassee <notifications@github.com>
wrote:

[2016-03-23 13:04] oconnor663 commented on #2153
Let me know if you figure out how the newline got there. It sounds like it must've happened more than once.

[2016-03-23 13:11] donzooles commented on #2153
You're right, it came from the terminal.

I use Keybase on Windows 8.1.

[2016-03-23 13:39] jcassee commented on #2151
Alright, thanks Maxwell!

[2016-03-23 13:39] #2151 closed

[2016-03-23 13:44] oconnor663 commented on #2153
Oh the whole block select thing that cmd.exe does? Yeah that makes sense.

@zanderz, do you think everyone on Windows is going to run into this problem? As a hacky workaround, maybe we could have the client print newlines instead of spaces, so that none of our words break on the right edge of the terminal. Hmm, or maybe have some Windows-specific code in there that automatically adds the right str

[2016-03-23 15:41] #1839 closed

[2016-03-23 17:06] pipermerriam commented on #1885
I've just updated to `1.0.14-1` and am still getting errors trying to import the key.

`ERROR ImportKey error: openpgp: unsupported feature: unknown SymmetricallyEncrypted version`

Key was freshly generated on a Nitro-Key-Pro

[2016-03-23 17:11] maxtaco commented on #1885
@alex we have good progress on YubiKeys, @jacobhaven will update.  @pipermerriam no promises about Nitro Keys, we've never played with those.

[2016-03-23 17:12] maxtaco commented on #2152
Never seen this issue before. What happens when you run `gpg -k` or `gpg -K`?  In general a `keybase log send` might help us, but no guarantees.

[2016-03-23 17:30] pipermerriam commented on #1885
@ansiwen would you guys be willing to send the keybase folk a nitrokey to play with?

[2016-03-23 18:00] lavalamp- commented on #105
+1

[2016-03-23 18:47] ansiwen commented on #1885
@pipermerriam: I'm not into the USB Nitrokeys. @jans23: what do you think, can you send them one?

[2016-03-23 19:04] chetwisniewski commented on #1885
I have the same experience and setup as @killtheliterate w/yubikey. 1.0.14-1 on Arch Linux:

[code]

[2016-03-23 20:06] jans23 commented on #1885
@pipermerriam Yes, we can send you a Nitrokey. Please send me your address. Nitrokey Pro works out of the box with GnuPG. Do you utilize GnuPG or is it your own software?

[2016-03-23 20:11] dtiersch commented on #2153
or ignoring line breaks in the signature since they are not valid characters in the first place?

[2016-03-23 20:18] ansiwen commented on #1885
@jans23: I think either @maxtaco or @jacobhaven needs the Nitrokey, @pipermerriam just organized it because he is interested in the solution, I guess.

[2016-03-23 20:19] pipermerriam commented on #1885
@jans23 , what @ansiwen said is correct.

I am hoping that you could coordinate with @maxtaco who is with keybase on sending them a Nitrokey so that they can get they client working with the device.

[2016-03-23 20:22] lynt-smitka opened #2154 ""Direct encrypt button" on the user profile page disappeared"
There was a very useful button "Encrypt" on the user profile, but it was removed with the last redesign.

It provided easy way to encrypt messages from users who aren't keen on PGP and want to send encrypted message to keybase users.

The current procedure is much more difficult:
- click on the micro icon in header
- search user by his username
- encrypt

[2016-03-23 20:23] maxtaco commented on #1885
To manage expectations, we might not have enough bandwidth to accommodate all GPG hardware, since we're focusing most of our efforts these days on our FS product.  Always happy to look at PRs though

[2016-03-23 20:26] oconnor663 commented on #2154
I still see this "PGP Encrypt" button. Are you referring to something different?

![image](https://cloud.githubusercontent.com/assets/860932/13999725/fd353cfe-f113-11e5-9d7b-8e9c23a8aa38.png)

[2016-03-23 20:27] jans23 commented on #1885
If you integrated Yubikey's OpenPGP Card feature already it may work
with Nitrokey pretty much out of the box.

Am 23.03.2016 um 21:23 schrieb Maxwell Krohn:

[2016-03-23 20:37] lynt-smitka commented on #2154
My view (Chrome 49 on Windows 7):
![Profile without Encrypt button](https://dl.dropboxusercontent.com/s/zo2x3fzjvxfjh0x/2016-03-23%2021_31_13-Vladim%C3%ADr%20Smitka%20%28smitka%29%20_%20Keybase.png?dl=0)

[2016-03-23 20:42] lynt-smitka commented on #2154
Ok, "PGP encrypt" button is displayed only for logged in users.

[2016-03-23 21:00] oconnor663 commented on #2154
Yes, though that might still be a regression. Thanks for the report. I'll ask the designers :)

[2016-03-24 12:17] generall opened #2155 "Feature request: krypto-selfie concept."
Make possibility to leave photo with fingerprint of pub key in special field. Something like this [img](https://pp.vk.me/c625829/v625829194/2c350/XKmZrwG_nEo.jpg)

[2016-03-24 18:16] hwmrocker commented on #327
+1

[2016-03-25 04:57] jdblair commented on #2046
I also just reproduced this same issue - I added a second key, but now there's no curl/raw link to the second key. I like smoyer64's proposed solution - it mirrors the way I extract the keys using the "keybase pgp" command.

[2016-03-25 17:25] Tahvohck opened #2156 "Unknown error: WARNING Failed to load <Key ID?> from storage: resource temporarily unavailable"
https://keybase.io/tahvohck
I set up keybase on two servers last night, I chose to authenticate via GPG, without exporting the secret key. The installations worked last night, but today they are unable to perform any actions related to keys. Errors given based on the context have been either
`▶ WARNING Failed to load <Key ID?> from storage: resource temporarily unavailable` or
`▶ ERROR resource te

[2016-03-25 17:26] maxtaco commented on #2156
Likely you have two instances running at once and they are both fighting over LevelDB.

[2016-03-25 17:31] Tahvohck commented on #2156
Are you sure? I was getting this error on both servers, with one logged in and one logged out. I couldn't even log in/out on either until reinstalling, despite having attempted service stop/start/reloads.

[2016-03-25 17:34] Tahvohck commented on #2156
Oh, I see what you were saying. I'm still not sure that's the case; I'm pretty sure I also tried killing every keybase instance on the machine before I resorted to a reinstall.

[2016-03-25 17:39] maxtaco commented on #2156
In general that's the only time I've ever seen that error.  LevelDB only allows one process to open it at once, so if you have 2 keybase services running at once, you'll see that error.  @oconnor663 any other ideas (on Linux?)

[2016-03-25 17:43] Tahvohck commented on #2156
Linux, yes, specifically `CentOS Linux release 7.2.1511 (Core)` kernel `3.10.0-327.10.1.el7.x86_64` (I think). So a separate issue doesn't need to be opened, is there any way to re-use a device name?

[2016-03-25 21:16] mhykes opened #2157 "Add to invite email command line instructions for accepting invite"
I was invited to join keybase.io and I am excited.
This is very much what I need for a project I am involved with.

The invite email states that I can accept the invitation by clicking the link, or by using the keybase app.

Naturally, I decided to test the second option, assuming that it is the road less taken.
I installed the windows app and launched it, but typing the invitation code at it's co

[2016-03-25 21:37] aaronorosen opened #2158 "keybase logout should also forget username"
If you run:

$ keybase logout
then
$ keybase login

it asks you to put in the passphrase for the previous account they you were logged in with. How do you get it to forget the user that it used to login with?

[2016-03-25 21:40] strib commented on #2158
If you just want to log in as another user, you can do `keybase login <otherusername>`.  But if you literally want all local data about the other user to be erased, I don't think we have any easy solution for that yet -- right now you'd need to clear out some stuff from disk manually.

[2016-03-25 21:42] aaronorosen commented on #2158
ah okay that's what i wanted to do. Thanks!

[2016-03-25 21:42] #2158 closed

[2016-03-25 21:44] maxtaco commented on #2158
Is `keybase deprovision` what you want?

[2016-03-25 21:44] maxtaco commented on #2158
cc: @oconnor663

[2016-03-25 21:46] oconnor663 commented on #2158
It should be. We don't advertise the `deprovision` command too prominently, because it *really* removes all your local account state, including deleting secret keys.

[2016-03-25 21:47] aaronorosen commented on #2158
I didn't realize the client supported multiple accounts at once. That's awesome :+1:

[2016-03-26 17:15] mhykes opened #2159 "Windows CLI prove -o failed to create file. Need to revoke the proof."
I am attempting to add proofs using the Windows CLI.
I first added github with
[code]
and walked through the process of creating a gist successfully.  However, it was a bit challenging as the output is taller than my CLI window, so I had to copy the output to the gist in two chunks.  Since the help for prove offers the -o [outfile.name] flag, I figured I would learn my lesson and do that with the

[2016-03-27 18:52] bglusman opened #2160 "Local private key issues"
This is embarassing and I'm aware there may be nothing you can do to help me, but I'm unsure if this is an issue with my local NPM install, my .keybase files or something else... I eent several konths wihout using the keybase CLI and possibly/probabky updated Mac OS X and/or my version of NPM/node, and now for several months I've been unable to authenticate locally, and I didn't upload my private

[2016-03-27 19:04] Redrield opened #2161 "502 Bad gateway when trying to prove reddit identity"

[2016-03-27 19:04] maxtaco commented on #2161
try to log in first, and then click..

we really need to fix this, but i think this workaround should work...

[2016-03-27 19:48] bglusman commented on #2160
Actually, I may be unstuck, I just tried again from my home computer (was on mobile before) to provide a more specific description of the errors I was seeing, and somehow my issues have resolved themselves!  However, a more comprehensive troubleshooting/checklist guide of some kind may still be useful for others who get into odd states with the client and/or local configuration issues.  All I see

[2016-03-27 22:22] Tahvohck commented on #2156
Had this happen again. It is duplicate services as suggested, but I'm not sure why two are starting. I do know that one is starting from `/usr/bin` and the other is starting from `/bin`. After having killed all instances and started the service manually via `keybase ctl start` I've been unable to recreate this, though it seems like time is a factor as well. I'll keep an eye on these installs and s

[2016-03-27 23:03] oconnor663 commented on #2156
@Tahvohck that's interesting, you have an install in `/bin`? Or does CentOS just symlink `/bin` now?

The only other theory I have is fancy juggling with your user account. Do you ever run keybase with `sudo`/`su`, or anything else like that that might affect the `$HOME`/`$XDG_RUNTIME_DIR` vars?

[2016-03-27 23:07] Tahvohck commented on #2156
Looks like it: `lrwxrwxrwx.   1 root root    7 Mar 15 15:57 bin -> usr/bin`
I haven't, no. Everything has been done on my primary user account. As for `$HOME`: dunno, don't think so, and I didn't even know that `$XDG_RUNTIME_DIR` was a thing. I doubt it, there's _very_ little installed on this system.

[2016-03-27 23:30] Tahvohck commented on #1099
I've had similar problems to this before, I think. I access my machines over SSH, so I end up on different `/dev/pts`-s often: I have this in my `~/.zshrc` file to solve direct logins:
`export GPG_TTY=$(tty)`
This makes sure the GPG agent always knows what terminal to open on. Additionally, problems arise when `su`-ing from another user. If you bump into this, `chmod o+rw $(tty)`. Note that I can'

[2016-03-28 00:03] Tahvohck opened #2162 "Where does the public key in a http verify come from?"
I have a verification for kaeva.info here: http://kaeva.info/.well-known/keybase.txt
Where did the public key used in this come from? I have a public key with the fingerprint `08BF A8FC CCBB C09E 1192  9FA9 6AC4 28A5 EE2C 5FDD`. I do not, to my knowledge, have a key fingerprint of `ASA13t02GQ4AmLPIDwXcdHLHN5E1t_m_35DF1n8VK8wYYQo`, I've never seen a key identified that way. If this is a conversion

[2016-03-28 00:21] malgorithms commented on #2162
This should explain it, I think:

https://keybase.io/tahvohck/sigchain#a1a05f3839713b104a17a6f64b381e582ac5000f10198cb43b992088bc99227a0f

If you're looking for more info on how this works, this could be a helpful post from a few months ago:

https://keybase.io/blog/keybase-new-key-model

[2016-03-28 00:22] malgorithms commented on #2162
a link to the specific sig:

https://keybase.io/tahvohck/sigchain#1a022076af6fb3c658fdf320af8cf80cd77082b229216ae7cc9d4808114782810f

[2016-03-28 00:37] Tahvohck commented on #1985
While I understand the thinking behind this, I feel like it should be reconsidered. A device name is a user-friendly way to identify a device and may need to be reused: a keybase/OS reinstall, replacing one machine with another that performs the same function, etc. They already have an immutable internal ID, why do they need a second immutable ID? Since you're worried about adversarial attacks, th

[2016-03-28 00:42] Tahvohck commented on #2162
That does make a little more sense now. So it was signed with the kserver device key, which was authenticated with my PGP key, correct?

[2016-03-28 01:09] malgorithms commented on #2162
yeah, your PGP key signed kserver (and kserver accepted by countersigning; both in https://keybase.io/tahvohck/sigchain#4d87b0758c285cf48eca286c725c66e108f848c7a4d66abe1bbc221986b90ae80f )

then kserver did the domain proof.

you've since removed kserver, but it did the proof before it was subsequently revoked. logically that's still valid since the key that revoked it can also remove the domain p

[2016-03-28 02:35] Tahvohck commented on #2162
How would the revoking key remove the domain proof, exactly? I assume I could remove the file itself, but that wouldn't be the key revoking it.

[2016-03-28 06:24] cjb commented on #2162
On the command line, `keybase sigs list; keybase sigs revoke`.

[2016-03-28 07:18] martinpaljak commented on #2126
I once asked about it: https://twitter.com/martinpaljak/status/695487376966164481

Every certificate owner has a personal id code (something like SSN, except it is public information) which could be considered as a username. So if I can provide a signature for a statement with a valid certificate, I "claim" the username (which is unique, unlike my real name for example). For me this would be 38207

[2016-03-28 07:41] blandco commented on #2155
Please forgive my ignorance, but what problem would that correct?

[2016-03-28 07:43] zQueal commented on #2126
It seems possible, however, it doesn't seem to be free to [validate identities](https://www.sk.ee/en/services/pricelist/certificate-validation-services). Obviously cost overhead isn't very ideal to validate identities. Additionally, it would require both Keybase and the end user to trust the verification system already in place.

[2016-03-28 07:46] generall commented on #2155
It will make harder to fake user account.
28 марта 2016 г. 10:41 пользователь "Joel" <notifications@github.com>
написал:

[2016-03-28 08:25] zQueal commented on #2155
I'm not entirely sure. As it stands you can't simply upload an avatar image from your PC for obvious reasons. Avatars come from already authenticated user accounts. Adding a fingerprint in them programmatically would be pretty cool, but as far as I can think it would solve no practical purpose further than what avatars already do outside of adding another verification vector. Which is nice, but is

[2016-03-28 10:13] martinpaljak commented on #2126
Certificate validation based on OCSP is not freely available, unfortunately. But as the *identity* in the certificate does not change and the claim itself is not time-critical, CRL can be used instead (which is freely available).

[2016-03-28 15:03] petethomas opened #2163 "keybase.pub returning 404 for files"
At the moment keybase.pub seems to return 404 when I request from /keybase/public:
[code]
As a proof-of-concept I realize it may be down occasionally but just wanted to note the behavior as keybase.pub has been always available in my limited experience.

[2016-03-28 15:05] cjb commented on #2163
@petethomas Thanks, fixed, sorry about that.

[2016-03-28 15:05] #2163 closed

[2016-03-28 18:27] Tahvohck commented on #2162
Gotcha. Well, that answers everything I needed to know about this, closing it before it scope creeps further.

[2016-03-28 18:27] #2162 closed

[2016-03-28 19:45] travcunn commented on #1050
I am not seeing this problem on Node 0.10.42

[2016-03-28 21:09] zanderz commented on #2153
Windows 10 has a new terminal with improved select/copy, so this will eventually go away.

[2016-03-28 22:02] myitcv commented on #1614
Agreed (tested as of right now). Specifically at the point where the user is instructed:

If it's relevant, I was following the Bash + GPG + curl flow.

[2016-03-29 01:45] mhykes commented on #2148
As a point of curiosity, would this become possible if someone spun up a site where people registered and claimed telephone numbers?  What would be the minimum amount of public information that would need to be posted in order for a telephone proof to work?

[2016-03-29 06:16] cjohansen commented on #2152
[code]

[2016-03-29 12:01] maxtaco commented on #2152
Upgrade from the old node client to our [Go client|https://keybase.io/download]

[2016-03-29 12:10] cjohansen commented on #2152
I just installed it a week ago, but it is some time since I upgraded homebrew. Checked the "binary", and surely, it is the node version. Will switch over, thanks!

[2016-03-29 12:12] maxtaco commented on #2152
BTW, it still might have a problem with your GPG keychain corruption.  I really don't know what could have caused that.  You might have to move your old `.gnupg` directory out of the way and start fresh....

[2016-03-29 12:12] maxtaco commented on #2152
(I'll leave this issue open since there will likely be more issues!)

[2016-03-29 14:14] cjohansen commented on #2152
Once I installed the right version of keybase, everything has worked fine!

[2016-03-29 15:43] libeclipse opened #2164 "Revoked BTC address not shown as revoked in chain"
https://keybase.io/eclipse/sigchain#fb0464afe68c78ca5845ebea8d6326c03f65cdb762b6e1b704729601ed3633090f

26 says that 13 is revoked, but 13 isn't shown as revoked on that same page.

[2016-03-29 15:54] oconnor663 commented on #2164
Nice catch. This should be a quick fix. Taking a look...

[2016-03-29 16:06] FirefighterBlu3 opened #2165 "keybase.io sending emails via Amazon from IP explicitly disallowed by SPF"
[code]

And keybase.io explicitly disallows anything not listed here:
[code]

The source IP `54.240.8.60` is not in the approved sources list and `-all` is specified.

[2016-03-29 16:14] maxtaco commented on #2165
thanks so much for catching this.  I just updated that SPF record to:

[code]

do you think that would fix this issue?  Many thanks!!!

[2016-03-29 16:46] FirefighterBlu3 commented on #2165
no prob :) i don't recommend a global include of amazonses.com because a whole lot of spam and phishing comes through there. i recommend you explicitly list the IPs/hostnames of your mail servers instead.

[2016-03-29 18:52] #2164 closed

[2016-03-29 18:59] oconnor663 commented on #2164
This should be fixed now. Please let me know if you see any cases I missed.

[2016-03-29 19:47] zanderz commented on #2159
`C:\Program Files (x86)\Keybase` is not user-writeable by default, which you can verify by writing a file there with some other application, e.g. `C:\Program Files (x86)\Keybase>echo foo > foo.txt`. It should work if you change to somewhere writeable, like `cd %USERPROFILE%\Documents`.

The client should give some kind of indication that the file wasn't written, though, so we'll file that part as

[2016-03-30 03:36] mhykes commented on #2159
Yes, of course, now that you mention it, Windows went with making the program directories hard to write to in recent versions.  I should have thought of that.

Thank you for suggesting ```keybase sigs```.  Unfortunately,
[code]

Maybe it won't revoke it because the process of confirming it is incomplete?

[2016-03-30 05:07] jtokoph commented on #2165
I don't think you can specify specific IPs if you're using Amazon SES. Doing that include of amazonses.com is the best you can do apart from discontinuing use of SES.

[2016-03-30 09:06] techypaul opened #2166 "Cannot decrypt via keybase.io, sitewide.js error"
Hi,

I am unable to decrypt on the keybase.io website. I get the following message in console:

`sitewide-js.js:90 Uncaught TypeError: Cannot read property 'toString' of undefined
(anonymous function) @ sitewide-js.js:90
window.iced.Deferrals._Class._fulfill @ sitewide-js.js:93
(anonymous function) @ sitewide-js.js:90
CryptoForm._click_submit @ sitewide-js.js:90
(anonymous function) @ sitewide-js.

[2016-03-30 12:41] maxtaco commented on #2166
@malgorithms remind me how to turn minimization off?

[2016-03-30 15:47] maxtaco commented on #2166
Can you go to https://keybase.io/?no_minify=1 ; try again; and then resubmit this bug report?

[2016-03-30 15:55] malgorithms commented on #2166
To clarify, you need to append ?no_minify=1 to whatever page you're doing the decrypt on, not just go to the site at that URL and then navigate to it. It only serves the unminified version on whatever page you're on.

So for example, if you're using this page:

https://keybase.io/decrypt

You'll want to visit

https://keybase.io/decrypt?no_minify=1

[2016-03-30 17:10] zanderz commented on #2159
You have to use the id, as in `keybase sigs revoke f67b85a9`. Maybe the prompt could be more clear.

[2016-03-30 19:08] techypaul commented on #2166
Hi guys,

Thank you. Here is the new report:

[code]
Thanks,
Paul.

[2016-03-30 20:18] maxtaco commented on #2166
Cool, seems like it's in `_show_success` below:

[code]

[2016-03-30 20:41] malgorithms commented on #2166
@techypaul - do you know anything about this message that you're trying to decrypt? Is there any chance it's completely empty of anything? Can you ask the sender?

[2016-03-30 20:53] techypaul commented on #2166
@malgorithms ironically I was promoting keybase to my colleagues so we can share passwords easily. One of the guys sent me one as a password as a test. They encrypted on my keybase public page and sent to me via email. Here is the message I am trying to decrypt:

-----BEGIN PGP MESSAGE-----
Version: Keybase OpenPGP v2.0.51
Comment: https://keybase.io/crypto
wcFMAyylv/gydWEJAQ/9FI5+sT8zr+aHyH+Dyor/

[2016-03-30 21:44] maxtaco commented on #2166
Can you decrypt this?  (dropped newline added back in):

[code]

[2016-03-30 21:51] techypaul commented on #2166
Yes, I can.

[2016-03-30 21:52] maxtaco commented on #2166
Nice.  We will provide an error in the case you pasted.  I can repro it
now!!!

On Wednesday, March 30, 2016, Paul Grimshaw <notifications@github.com>
wrote:

[2016-03-30 21:59] travcunn opened #2167 "keybase encrypt large file memory usage"
I am using keybase to backup my home directory. After about 50 GB has been written to the disk, I notice keybase is using about 4.5 GB of memory. How can I encrypt large files without running into memory problems?

Here is the command I use:
```tar -zcvf - /home/travis | xz -8 | keybase encrypt travcunn > backup.bak```

[2016-03-30 22:06] lp0 opened #2168 "error: Can't find a key for c8975f2043ca5d24: No keys match the given key IDs"
The keybase client is unable to use my most recent PGP signing subkey:

[code]

[2016-03-30 22:13] maxtaco commented on #2167
Well at least it is less than 50Gb!

We should look into this.

Thanks for the bug report.

Cc: @oconnor663

On Wednesday, March 30, 2016, Travis Cunningham <notifications@github.com>
wrote:

[2016-03-31 03:00] #1239 closed

[2016-03-31 03:01] #1682 closed

[2016-03-31 03:01] #756 closed

[2016-03-31 03:01] #820 closed

[2016-03-31 03:02] #1107 closed

[2016-03-31 03:02] #529 closed

[2016-03-31 03:02] #512 closed

[2016-03-31 03:02] #511 closed

[2016-03-31 03:02] #502 closed

[2016-03-31 03:02] #383 closed

[2016-03-31 05:54] sjharrison opened #2169 "second web site via DNS verification cause first to be untrusted"
I'm not sure if this is the real issue, but I registered angrybug.com using DNS TXT record, and it succeeded.  Then I registered steveh.id.au via DNS TXT record, and it succeeded.   Later I noticed that the first one is now failing the proof.

Is this an issue?

Regards,
Steve.

[2016-03-31 05:55] sjharrison commented on #2135
It took me some time to work this one out too.    I agree with above comments.

[2016-03-31 09:22] maxtaco commented on #2169
Sounds like a coincidence or maybe a problem with your DNS provider.  Many
people have successfully proven ownership of multiple domains via DNS
(including me)

On Thursday, March 31, 2016, Steve Harrison <notifications@github.com>
wrote:

[2016-03-31 10:22] sjharrison commented on #2169
Thanks.  You are correct.  The proof just started working again without me
changing anything.
On 31 Mar 2016 20:22, "Maxwell Krohn" <notifications@github.com> wrote:

Sounds like a coincidence or maybe a problem with your DNS provider. Many
people have successfully proven ownership of multiple domains via DNS
(including me)

On Thursday, March 31, 2016, Steve Harrison <notifications@github.com>
wr

[2016-03-31 13:45] mhykes commented on #2159
That worked.
Thank you, zanderz.

[2016-03-31 14:49] patrickxb commented on #2167
@travcunn You probably want to output binary instead of armored: `keybase encrypt -b travcunn ...`

[2016-03-31 14:58] travcunn commented on #2167
@patrickxb Thanks for the tip

[2016-03-31 16:06] zQueal commented on #2167
Just an observation; is there any advantage for you to encrypt this way?

I don't really want to speak for the developers here (nor do I), but Keybase really isn't (or shouldn't) be used for anything this big (IMO). IMO if you need to encrypt something this large, especially in your home folder, you should probably be using drive encryption instead.

[2016-03-31 16:24] travcunn commented on #2167
Although it might not be the best way to backup my home directory, I don't think it's unreasonable to expect a PGP encryption tool to accept large files.

[2016-03-31 17:09] maxtaco commented on #2167
Public key is quite useful for unattended backups when the private keys
aren't available. This is a good use of saltpack in our opinion.

On Thursday, March 31, 2016, Travis Cunningham <notifications@github.com>
wrote:

[2016-03-31 17:30] pipermerriam opened #2170 "Allow populating form fields with query parameters for sign/verify/encrypt/decrypt pages"
### What is wrong?

* https://keybase.io/sign
* https://keybase.io/verify
* https://keybase.io/decrypt
* https://keybase.io/encrypt

It would be very nice to be able to specify values for the various form fields on these pages using query parameters.

### How could it be fixed?

When a user visits a url like `https://keybase.io/sign?msg=a-messag-to-sign` the page could auto-populate the form field

[2016-03-31 20:33] clem16 commented on #387
Any new thoughts on this ?

[2016-04-01 02:01] maxtaco commented on #2168
You might want to try out our new clients, rewritten in Go, and using our new per-device key model.

[Download page here](https://keybase.io/download)

[2016-04-01 02:53] lp0 commented on #2168
That's really not helpful. As far as I can tell the server has accepted an update of my PGP key signed by a new subkey, which nothing can verify because it doesn't exist on the previous version of the key that it's trying to verify the signature with.

[2016-04-01 03:05] maxtaco commented on #2168
I can verify your sigchain fine with the new client.  We're busying enough here we'd prefer to not spend time debugging software we're about to sunset.

[2016-04-01 03:08] maxtaco commented on #2168
Btw, you can verify your list signature via our [web form](https://keybase.io/verify) so the server is willing to verify signatures with your new PGP key.  Just not our old node client.

[2016-04-01 10:37] maxtaco commented on #2168
This isn't helpful and it is a waste of my time.

[2016-04-01 10:37] #2168 closed

[2016-04-01 11:20] Apophenia commented on #876
Throwing my vote in here: I agree totally with @rastus-vernon's reasoning; the current language is confusing.

[2016-04-01 11:39] maxtaco commented on #2168
Read up on our new key strategy [here](https://keybase.io/blog/keybase-new-key-model). It is strictly better than the old.

[2016-04-01 13:34] TommyJerryMairo opened #2171 "Available to cancel account?"
After registration I found that I make it a wrong username. So is it available for user to cancel a new account and register again with the username he wanted?

[2016-04-01 13:38] malgorithms commented on #2171
yeah, delete the account. use this invite code: `flock asthma rule stay` (posting this publicly...so act fast :-) )

[2016-04-01 13:38] #2171 closed

[2016-04-01 13:40] TommyJerryMairo commented on #2171
@malgorithms  Excuse me, but how to use that code? Type it in address filed?

[2016-04-01 13:43] malgorithms commented on #2171
well, it depends on whether you're signing up from the website or the keybase client. but both ask you for an "invitation code". you probably didn't see it the first time you joined, if you came by clicking an invitation link which prefilled it for you.

Click "already have a code" here:

![image](https://cloud.githubusercontent.com/assets/614943/14208576/23716b64-f7ee-11e5-9673-d2a84c77e916.png)

[2016-04-01 13:46] TommyJerryMairo commented on #2171
I register it by a invite link.
https://keybase.io/_/accept/obey_gun_scheme_whip What can I do next?

2016-04-01 21:43 GMT+08:00 Chris Coyne <notifications@github.com>:

[2016-04-01 13:51] TommyJerryMairo commented on #2171
And I have to complain that the system do not tell me the max length of the
username. And then automatically cut some letters off in the end.

2016-04-01 21:46 GMT+08:00 Tommy Mairo <tommy.mairo@gmail.com>:

[2016-04-01 13:52] TommyJerryMairo commented on #2171
@malgorithms

[2016-04-01 13:54] TommyJerryMairo commented on #2171
Okay, I have found Delete me on the website, thank you for your helping XD

2016-04-01 21:51 GMT+08:00 Tommy Mairo <tommy.mairo@gmail.com>:

[2016-04-01 16:05] laserlemon opened #2172 "Error: no valid primary key self-signature"
![screen shot 2016-04-01 at 12 03 41 pm](https://cloud.githubusercontent.com/assets/34264/14212634/db7d85fe-f801-11e5-9bc4-68395e8d3de2.png)

I can't encrypt when trying to send `indirect` a message but I can encrypt for `bryckbost`. Help, please! Thank you!

[2016-04-01 17:07] maxtaco commented on #2172
Yeah, that public key expired 2015-07-03.. We need a better error message there, and potentially a checkbox to allow you to encrypt anyway

[2016-04-01 17:19] mitar opened #2173 "My web proof has started failing"
For some reason, two days ago my web proof has started failing:

http://mitar.tnode.com/keybase.txt

The file is still available. And it still looks like it contains the file. But it is internally HTML. I am not sure if now keybase started being more strict, or did Tumblr started adding this HTML tags around?

[2016-04-01 17:23] maxtaco commented on #2173
Tumblr had a bug where they were sending back valid HTML With HTTP Code 404.  I thought it was fixed yesterday, can you try it again?

[2016-04-01 17:23] maxtaco commented on #2173
(I.e., push the "retry" button on the Web UI)

[2016-04-01 17:31] mitar commented on #2173
I just now retried. It failed again.

Is it maybe because I also clicked to regenerate the proof, but then did not upload the new proof but I am keeping the old one?

[2016-04-01 17:33] laserlemon commented on #2172
I'm not totally security-savvy, so how did you get at the expiration date of the key? Also, why would I be able to encrypt for one recipient but not another?

[2016-04-01 17:40] maxtaco commented on #2173
yes, that is what happened.  if you generated a new proof, our scraper is looking for the new proof (and not the old...)

[2016-04-01 17:45] mitar commented on #2173
But the old proof is still valid or was it revoked? I mean, conceptually, in the merkle tree, did I also submit a revocation of the old one when I generated a new proof?

[2016-04-01 17:50] maxtaco commented on #2173
You did both with the same sig, as shown, somewhat buggily, [here](https://keybase.io/mitar/sigchain#d3192b0a6c213f5227024010e89cedb869384d2df7d01f44b5d5b08ae4f1b7610f)

[2016-04-01 18:21] zanderz commented on #2159
Update: Check for your proof files in `%USERPROFILE%\AppData\Local\VirtualStore\Program Files (x86)\Keybase`
File writes may be redirected here due to [virtualization](https://support.microsoft.com/en-us/kb/927387), a security feature I wasn't really aware of.

[2016-04-01 19:44] maxtaco commented on #2172
It's not your key that expired, it's `indirect`'s key that expired

You can import his key into GPG and it will tell you

[code]

clunky, I know..

[2016-04-01 22:42] mitar commented on #2173
Fixed. Thanks.

[2016-04-02 13:28] cuvjoofs opened #2174 "keybase fails on Devuan system"
I installed from the keybase debain repo (32-bit) on a Debian stable system and keybase  works normally as expected.  I installed from the same repo with no install errors on a Devuan stable system (Debian without systemd) and keybase with any command gives only "Illegal instruction".  I understand Devuan is not exactly Debian but I expect that you intend it should work.  Again, there were no inst

[2016-04-02 20:51] mholt opened #2175 "Transparency reports"
Are there plans for Keybase to publish regular transparency reports?

[2016-04-02 22:04] lachesis commented on #2028
Yeah, I just hit this and it's quite annoying and pushy. Definite +1 to remove.

[2016-04-03 04:01] mhykes commented on #2159
I confirm.  The file ```twitter.proof```, containing the content I needed to post to twitter, was indeed at ```%USERPROFILE%\AppData\Local\VirtualStore\Program Files (x86)\Keybase```

Perhaps the Windows build for keybase.exe could know to check there as a fallback?

Alternatively, on install, create Windows users a home data directory in ```%USERPROFILE%\Documents\Keybase``` and have the Keybase

[2016-04-03 04:05] mhykes commented on #2159
On second consideration, ```%USERPROFILE%\Documents``` fails on some older versions of Windows, and due to localization.

According to [http://stackoverflow.com/questions/3492920/is-there-a-system-defined-environment-variable-for-documents-directory]:

[2016-04-03 04:06] mhykes commented on #2159
And it seems I don't know how to use the comment buttons...  I never intended to close or reopen this.  I must need to sleep.

[2016-04-04 03:29] plttn opened #2176 "Ownership implications between DNS and HTTP[s] proofs"
There's no real hard documentation on the ownership "truthiness" difference between DNS and HTTP[s] verification.

What exactly is the preferred method to verify a site, and the implications as to why that is preferred?

[2016-04-04 04:44] reem opened #2177 "No instructions for running kbfs"
I am unable to get kbfs running and can't seem to find any commands that will help me start it. `keybase status` reports it's not running, `keybase launchd list` says that there are no services for kbfs.

I have the latest version of keybase, `keybase version 1.0.14-1`, installed via brew. Any help would be much appreciated!

[2016-04-04 06:28] strib commented on #2177
KBFS is still invite-only, as explained on this page: http://keybase.io/docs/kbfs.  That link also contains instructions on how to get your name on the invite list.  KBFS is not currently included in the brew releases or the downloads from the main website.

[2016-04-04 06:28] #2177 closed

[2016-04-04 09:09] dmiotti commented on #2048
Same here, I can't validate my HN profile.
https://news.ycombinator.com/user?id=dmiotti

[2016-04-04 16:13] jasonkarns opened #2178 "GNUPGHOME isn't respected"
I have `GNUPGHOME` set to a directory under `XDG_CONFIG_HOME`. However, any of the keybase pgp subcommands are still expecting/recreating `~/.gnupg` rather than respecting `GNUPGHOME`.

[code]

[2016-04-04 16:19] jasonkarns opened #2179 "Keybase config now under "Application Support" instead of `XDG_CONFIG_HOME/keybase` ?"
I previously had the npm-installed keybase CLI and have just switched to the brew-installed CLI. Now the new cli states that the config is under: `/Users/<user>/Library/Application Support/Keybase/config.json` whereas it was previously under `XDG_CONFIG_HOME/keybase/config.json`

Is there a way to tell keybase to prefer the XDG-compliant location?

[2016-04-04 16:22] jasonkarns commented on #2179
More generally, I would prefer to have public-shareable configs stored separately from private-info config. I'm assuming that the salt should remain private. user.device and user.id can be public?

The main thing is to be able to share settings like `gpg` between machines ala dotfiles. Will keybase merge these two files and respect both? Or is there any way to split the public from private info to

[2016-04-04 16:22] maxtaco commented on #2178
this might be an issue of a restart of the service needed before the environment variable is sourced

[2016-04-04 16:23] cjb commented on #2179
No, `$HOME/Library/Application Support` is hardcoded as the location on OS X.

A difference between the npm/go versions is that we now have several different binaries who need to be able to locate each other, so we'd prefer not to allow too much flexibility here.

[2016-04-04 16:30] jasonkarns commented on #2178
I restarted the service, but it still seems to only be writing to .gnupg. (I'm basing this off the fact that `keybase pgp pull` regenerates the .gnupg directory).

[2016-04-04 16:32] jasonkarns commented on #2178
FWIW, I set up a symlink for .gnupg for now, but I would love to figure this out.

[2016-04-04 16:32] jasonkarns commented on #2179
So right now, there's no way to share configs between machines?

[2016-04-04 16:33] maxtaco commented on #2178
And the service now has the GNUPGHOME variable set?  You can ask `ps` to tell you the environment of the service.

[2016-04-04 18:47] JordanMussi commented on #1737
I can confirm this issue as I just got the same email as well.

[2016-04-04 20:20] jasonkarns commented on #2178
It appears not to. I have `GNUPGHOME` exported in `.bashrc`, which is in turn sourced by `.profile`.

How is this expected to be set? `launchctl`? Should it be launched by a different user?

[2016-04-04 20:22] maxtaco commented on #2178
Yeah, `launchctl setenv` should do it.  Annoying problem, sorry about that....

[2016-04-04 20:23] jasonkarns commented on #2178
Thanks!

Can a feature request be opened so this isn't necessary? I fully expect to
forget about this and be baffled in 6mo when I get a new computer or
reinstall, you know?

Thanks again for the help.

On Mon, Apr 4, 2016 at 4:22 PM, Maxwell Krohn <notifications@github.com>
wrote:

[2016-04-04 20:26] jasonkarns commented on #2178
Followup comment as I just realized this will be doubling annoying if my XDG_CONFIG_HOME ever changes. My GNUPGHOME is set as: `export GNUPGHOME=$XDG_CONFIG_HOME/gpg` but launchctl won't have the proper XDG_CONFIG_HOME, so I'll have to duplicate/hard-code that.

[2016-04-04 20:40] jasonkarns commented on #2178
Planning on submitting a PR to the homebrew formula to include this as a caveat:

https://github.com/Homebrew/homebrew-core/commit/efab5ca281b590ad2f6ca8ec90a903d08997cebe

thoughts?

[2016-04-05 01:34] coachferatu opened #2180 "Username change request"
Hi Max, Chris,

Could I change my keybase username please? I see some of the other users have done so by being issued a new invite and closing the existing account.

[2016-04-05 14:45] pho3nixf1re commented on #876
I just spent days trying to figure out why my key passphrase wasn't working. I almost took the nuclear option and revoked my main key and just start over when I came across this thread. Turns out it's account password for keybase! DOH! Yes, the wording absolutely must be clearer here.

[2016-04-05 15:16] malgorithms commented on #876
@Apophenia  and @pho3nixf1re - which clients are you 2 using, and where exactly did you encounter the ambiguous wording? Many of the early reports are from the Node client, which we're deprecating. I want to make sure the newer clients are fixed. (in other words, how did you get the clients?)

[2016-04-05 15:23] malgorithms commented on #2180
sure, use this invite code: `wise detail elite clarify`

[2016-04-05 15:23] #2180 closed

[2016-04-05 19:36] JordanMussi commented on #245
With the announcement of [this](https://github.com/blog/2144-gpg-signature-verification) today, I added my Keybase public key to my profile but I get:
`Email address: jordanmussi@keybase.io Unverified` - `Signed commits authored by this email address will be unverified until the email address is verified.` I know there was a plan to allow those email address to forward to our own emails, it would

[2016-04-05 19:38] strib commented on #245
@JordanMussi: you can easily add your commit-by email address to your pgp key, using gpg, if you want.  Github will list all of your addresses, and put the verified ones first.

![screenshot from 2016-04-05 12 22 49](https://cloud.githubusercontent.com/assets/8516691/14295632/44f9d2cc-fb2b-11e5-8880-9225f56c06a8.png)

[2016-04-05 19:53] jokeyrhyme commented on #1299
So, GitHub itself now supports GPG signature verification:
https://github.com/blog/2144-gpg-signature-verification

However, I suspect that it is sending verification emails to jokeyrhyme@keybase.io (given that my profile is https://keybase.io/jokeyrhyme ).

Is there a way to have these emails forwarded through to my real (and private) email address?

[2016-04-05 19:57] strib commented on #1299
@jokeyrhyme: see https://github.com/keybase/keybase-issues/issues/245#issuecomment-205961692

[2016-04-05 20:06] jokeyrhyme commented on #1299
For reference, I followed this guide: https://www.katescomment.com/how-to-add-additional-email-addresses-to-your-gpg-identity/
Then I ran `keybase push --update`.
Then I copied the new public key over to GitHub. Everything is fine now. :D

[2016-04-05 20:06] jokeyrhyme commented on #245
For reference, I followed this guide: https://www.katescomment.com/how-to-add-additional-email-addresses-to-your-gpg-identity/
Then I ran `keybase push --update`.
Then I copied the new public key over to GitHub. Everything is fine now. :D

[2016-04-05 21:33] davidcelis opened #2181 "GPG keys generated by Keybase cannot be used for GitHub's new GPG commit verification"
GitHub just recently [announced support for GPG Signature verification on commits](https://github.com/blog/2144-gpg-signature-verification). Part of this process involves uploading a GPG key to GitHub. However, there is an unfortunate issue between Keybase and GitHub's new GPG support: it's impossible to use a GPG key generated by Keybase as commit verification proof on GitHub. The reason for this

[2016-04-05 21:35] strib commented on #2181
You can easily add your commit-by email address to your pgp key, using gpg, if you want. Github will list all of your addresses, and put the verified ones first.

![screenshot from 2016-04-05 12 22 49](https://cloud.githubusercontent.com/assets/8516691/14298784/99681a66-fb3b-11e5-8c73-5eee88b5c85f.png)

As per @jokeyrhyme here: https://github.com/keybase/keybase-issues/issues/245#issuecomment-2059

[2016-04-06 00:44] mholt commented on #105
@zQueal

But [emails to keybase.io blackhole](https://github.com/keybase/keybase-issues/issues/941#issuecomment-185218865). Please let us add a working email address to the key, as I've had to export and modify my key to work with signing GitHub commits now.

[2016-04-06 01:16] maxtaco commented on #105
BTW, for those making new keys with the Web client or Go client, we now allow multiple emails of your choosing, and of course don't include the `foo@keybase.io` email address anymore. We just haven't built out tooling to modify old keys.

And just in case everyone didn't already know this, when you change your UIDs in PGP, you don't change your key fingerprint.  So you wouldn't have to retrack any

[2016-04-06 01:19] mholt commented on #105
Nice, thanks for the update @maxtaco -- would be great to have that rolled out to us early adopters too. :smile:

[2016-04-06 01:21] maxtaco commented on #105
Yeah, for you guys, the current advice sadly is to use `gpg --edit-key`. More elbow grease required... for now...

[2016-04-06 01:47] meeDamian commented on #245
`keybase push --update` didn't work for me at v1.0.14-1. `keybase pgp select --multi` did.

[2016-04-06 02:24] zQueal commented on #2181
I'm not exactly keen on how I verified all but my first address, but it seems to be working fine in my case.

![2ydnnhn](https://cloud.githubusercontent.com/assets/239193/14303975/04c40130-fb7d-11e5-898f-eb9c28407a3f.png)

I've emailed Github to ask more about the verification process, as when I added my key I never received a verification email at the listed unverified email and one has never bee

[2016-04-06 02:27] strib commented on #2181
I don't think you get verified via an email -- you get verified by pushing a commit to github with that email address in the commit.

[2016-04-06 02:29] zQueal commented on #2181
As it turns out, it's all a manual process. By entering your Github settings and adding the desired emails from your key, then verifying them, they become "Verified" on your key.

![asjmguf](https://cloud.githubusercontent.com/assets/239193/14304068/c8535c90-fb7d-11e5-8857-0f6c89a090a5.png)

It in action:

![wgfh0x9](https://cloud.githubusercontent.com/assets/239193/14304078/e4827e28-fb7d-11e5-841

[2016-04-06 03:40] balupton opened #2182 "How to use with git for signing commits and tags?"
Github announced https://github.com/blog/2144-gpg-signature-verification today. Would be nice if there was a guide on the "help" section of the website for using keybase for such a thing.

From my understanding it works like so:

1. Add your keybase public key to github
2. Save your keybase private key to your computer somewhere, and add it to git via `git config --global user.signingkey private-k

[2016-04-06 04:24] methou opened #2183 "unable to login with client 1.0.14-1 (ERROR Bad key family: No key found for xyz)"
I tried to login with gpg first, but failed:

` gpg2 --version                                     Wed Apr  6 12:25:33 2016
gpg (GnuPG) 2.1.11
libgcrypt 1.6.5
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted

[2016-04-06 04:31] balupton commented on #2182
Howewever, just doing the above on OSX produces:

[code]

[2016-04-06 04:32] balupton commented on #2182
Related https://github.com/keybase/keybase-issues/issues/2181

[2016-04-06 04:43] balupton commented on #2182
https://yous.be/2014/07/17/using-keybase/ and https://github.com/blinkmobile/docs/wiki/Process:-Signed-Git-Tags have some instructions, however they have different gpg versions they tell you to install.

I've installed keybase via `brew install keybase` and it seems to be working fine.

[2016-04-06 06:34] nikolay commented on #2181
@zQueal How did you get your username@keybase.io email verified? It doesn't forward for me.

[2016-04-06 07:16] davidcelis commented on #2181
I added an email address that _is_ verifies to my Keybase key, pushed the update to Keybase, and added it to GitHub. If I sign a commit using that email address, it works.

Looks like verifying the actual @keybase.io email isn't necessary.

[2016-04-06 07:41] nikolay commented on #2181
@davidcelis Well, I did that, too, but I still wonder how to verify nikolay@keybase.io!

[2016-04-06 14:08] maxtaco commented on #2183
This problem is fixed in Keybase 1.0.15, but it seems like you're using brainpool keys, which most versions of GPG in the while will puke on.

[2016-04-06 14:35] zQueal commented on #2181
@nikolay Mine seems to forward fine. Since I was able to get the email from `@keybase.io` proxied to my personal email, it verified with Github and then when I added my key, it was already "verified".

[2016-04-06 14:44] zQueal commented on #2182
Not sure if #2181 is related at all. My key was generated by Keybase and I was able to successfully push [this signed test commit](https://github.com/zQueal/zqueal.github.io/commit/6934a71a3b0f273b5c6f6d4f7409e1ab5910c81c). So I'm pretty sure that's bunked.

That aside; `error: cannot run gpg: No such file or directory` looks like `git` either can't find your `gpg` installation, or you simply don'

[2016-04-06 15:07] davidcelis commented on #2181
@nikolay If you joined too late to have the email relay service on for you, you can't verify that address. But you don't really need to anyway

[2016-04-06 15:25] cjb commented on #2181
And you could even remove the keybase.io user ID from the key and reupload

[2016-04-06 15:26] #2181 closed

[2016-04-06 15:51] davidcelis commented on #2181
@cjb I don't think that's true. I tried removing the @keybase.io email address from my key and running `keybase push --update`; I got an error about it not being a valid Keybase key.

[2016-04-06 15:52] maxtaco commented on #2181
@oconnor663 can you fill in some details on this?  this is a security precaution...

[2016-04-06 17:27] hkdobrev commented on #518
I think a nice addition would be a proof for GitHub organisations ownership. A good example: https://keybase.io/homebrew Homebrew account on keybase has proven ownership of one GitHub bot which is a GitHub user, but not on the more important Homebrew organisation on GitHub.

[2016-04-06 18:47] eric-zeng opened #2184 ""name" parameter in signup API endpoint does not set the profile's full name"
I made this request:

[code]

But none of the endpoints for retrieving the profile, nor the web profile page show the full name provided in the parameter.

[2016-04-06 19:00] jgrevich commented on #105
@maxtaco I removed the keybase email from the key using `gpg --edit-key` however when I try to update the key to the keybase.io server I get the following error with the keybase client

[code]

And a similar error with the curl command:

[code]

Did I do something wrong?  I tried adding a new UID with `keybase.io/jgrevich` as my real name and a blank email but that results in the same error. It se

[2016-04-06 20:10] SilverCory opened #2185 "[WEBSITE] Editing multiple keys at the same time leads to response."
If you've 2 or more keys and click edit on the lower one, than the one above it, so both open, if you click edit again the keys disappear but the page becomes slightly unresponsive and you can't edit your keys.

A reload resolves this.

`Google Chrome	49.0.2623.110 (Official Build) m (32-bit)
Revision	575538bc320e213510be1e66f3521382e615129d-refs/branch-heads/2623@{#657}
OS	Windows
Blink	537.36 (@

[2016-04-06 21:11] Zaijo opened #2186 "Inconsistence between CLI and server on host ownership"
See https://keybase.io/jurajbednar/sigchain#cbce7df553f624ecd7c12b6344ad27263fb7eec661d4b1e397ffad1067a60b000f
There is clear revocation of host ownership. His main profile page respects the revocation and hides the site.

In comparison to `keybase id jurajbednar` where the site is present.
It says `✔ admin of juraj.bednar.sk via HTTP: http://juraj.bednar.sk/keybase.txt`

I suppose this is a bug i

[2016-04-06 21:25] oconnor663 commented on #2181
We do still prohibit this in the API server. I'm actually having a hard time remembering all the reasons, and I strongly suspect that those reasons are obsolete now. We could rip this check out...

The underlying issue is that there are two ways to prove that a key is actually yours: either by signing a sigchain link with it, or by having you@keybase.io as one of the PGP key IDs. That second way m

[2016-04-06 21:37] malgorithms commented on #2186
The 6th statement in the signature chain is a revocation of the 4th but also adds a new proof for the domain. It seems the website is wrong, unless there's something I'm misreading.

[2016-04-06 21:40] malgorithms commented on #2186
the statement is here: http://juraj.bednar.sk/keybase.txt -- note this hosted file isn't the original 4th item in the sig chain, it's the new 6th one. very interesting that this is a bug, since revoking/replacing proofs isn't a new thing...I wonder what's different about this one.

[2016-04-06 22:00] maxtaco commented on #2186
It is possible it went up and down

On Wednesday, April 6, 2016, Chris Coyne <notifications@github.com> wrote:

[2016-04-07 06:28] q commented on #2182
Just generated a key today and was never asked for a passphrase
[code]
After the fact, I had to:
`$ brew install gnupg`
`$ keybase pgp export -s -o private.key`
`$ gpg --allow-secret-key-import --import private.key`

I'm unclear as to why I was never asked to set a passphrase on the key, nor am I ever asked by git to enter a passphrase, even though the commits get successfully signed. Is this inte

[2016-04-07 08:34] melix commented on #941
Correct me if I'm wrong, but this is problematic when you want to use your keybase GPG key to sign commits on GitHub. I tried to do this, I added my key on GitHub, but then it wants to verify my keybase.io email. Since I never receive the notification, GitHub doesn't validate the key, so the commits are not trusted.

[2016-04-07 08:54] klette opened #2187 "SSL Certificate for api.keybase.io has expired"
This causes the CLI-tools to not work at least

[2016-04-07 09:25] melix commented on #941
To be even clearer, here is the problem:

I have a signed commit, and I have used my Keybase GPG key:

![unverified-1](https://cloud.githubusercontent.com/assets/316357/14346522/e64b26ac-fcb2-11e5-947f-1592d0263cf0.png)

You can see that it says unverified, but I have uploaded my key on GitHub. This key has multiple email addresses as identity:

![unverified-2](https://cloud.githubusercontent.com/

[2016-04-07 10:12] klette commented on #2187
Related issue https://github.com/keybase/client/issues/2556

[2016-04-07 10:42] maxtaco commented on #2187
Should be fixed, thanks....

[2016-04-07 11:42] melix commented on #941
Update: when I first signed my commit, I didn't have uploaded my GPG key yet. Now, I have done the following in the meantime:

- associate more emails to my GPG id
- re-upload the key (those 2 steps were done when the screenshot was taken)
- **push a new signed commit**

And now it shows "verified". So it seems to be a GitHub synchronization issue!

[2016-04-07 15:08] zQueal commented on #941
Apparently you could have also told Git which subkey to use;

    git config --global user.signingkey {sub-key-id}

If you were to use another validated email address, beside your `@keybase.io` identity, then it also would have come up "Verified" without any issues.

[2016-04-07 15:10] zQueal commented on #2182
Don't quote me, but I'm almost positive that your key passphrase is also your Keybase passphrase when its generated this way.

[2016-04-07 18:58] rgardner opened #2188 "Possible Typo in keybase.io/server_security/tracking docs"
Step 2: the computer review

(**emphasis mine**)

This should be **public key**, right?

The JSON object in step 1 says the following `keybase_username` has this `public_key`, `twitter_username`, and `twitter_proof`. I get that "maria" should have the private key corresponding to that public key, but isn't that too strong a statement?

[2016-04-07 20:13] hjacobs commented on #1594
:+1: for supporting PKA, just configured my DNS too:

[code]

[2016-04-07 20:29] sarnowski commented on #1594
:+1:

[2016-04-07 22:26] mitar commented on #890
I think this is a duplicate of #327.

[2016-04-07 22:30] mitar commented on #150
I think this is duplicate of #1732.

[2016-04-07 22:31] mitar commented on #2099
Related: #1732.

[2016-04-07 22:36] mitar commented on #518
Two more suggestions:
* X.509 certificates (#1732), it would be great if I could prove with my state-issues certificate (#2099) my identity
* Estonian E-resident proof (#2126)

[2016-04-08 03:46] JokerQyou opened #2189 "Account recovery"
I forget my passphrase for keybase, as well as for my main GPG key pair. After revoking my GPG key I searched for a way to recover my keybase account. I tried the following:

* From the keybase commandline, typed `keybase passphrase recover`, error returned as `No paper key found`
* From the form on the login webpage, entered my email address, error returned as `You have active devide so we cannot

[2016-04-08 06:13] pkirkovsky commented on #1594
@hjacobs
:+1:
[code]

[2016-04-08 09:53] grawity commented on #2099
@pkirkovsky, it's not the card that matters, but the certificate in it – "integrating with GPG" would defeat the whole point.

[2016-04-08 13:46] malgorithms commented on #2188
hmm, I think this is correct with a minor clarification...

"maria" has access to the private key that corresponds to the public key in step 1, since only the holder of the private key can generate that signed statement, and only "maria" can post it on keybase, and only "maria2929" can post it on twitter. This ties them all together.

Perhaps I should change this:

to:

what do you think? I'm a bi

[2016-04-08 14:59] marcb1 opened #2190 "recover account, no e-mail"
Hi I am trying to recover my account (i forgot my password). I have completed the 'forgot password' form and am presented with the following message:
Great, we've sent you an email with password reset instructions. (Give it a couple minutes to arrive.) Once you've clicked the link in that email, you can login.

However, I have not received an e-mail from keybase and it has been a couple of days no

[2016-04-08 21:41] zQueal commented on #2190
Have you at any time unsubscribed (via the web interface, not through your mail provider) from Keybase emails?

[2016-04-08 21:42] zQueal commented on #2189
This is the second such ticket in a short period of time. It could be that the email daemon is down, or something similar.

/cc @maxtaco @malgorithms

[2016-04-08 21:53] klauern opened #2191 "Not able to disable proxy"
I looked at the options in the `keybase help advanced` command, but I can't find a way to **disable** my proxy settings.  I've put in `--proxy=""` in hopes that it would unset it, as well as unsetting my `$http/s_proxy` environment variable, but no matter what, I still get an error with it trying to go through the proxy:

[code]

[2016-04-08 22:01] zanderz commented on #2191
Those look like Windows prompts, have you checked environment variables HTTP_PROXY, HTTPS_PROXY or NO_PROXY?
`set h`
`set n`

[2016-04-08 22:14] klauern commented on #2191
I do have these set, but I've unset them explicitly (I frequently have to do this, so I've even created an alias):

[code]

[2016-04-08 22:34] zanderz commented on #2191
One more thing to try: environment variables set in the local console may not be seen by the running keybase service until it is restarted. Try:
`keybase ctl restart`

[2016-04-08 22:45] klauern commented on #2191
hm, not much different, but possibly weird:

[code]

[2016-04-08 22:47] klauern commented on #2191
In using `keybase -d login`, it looks like it's still referencing my proxy:

[code]

[2016-04-08 22:55] zanderz commented on #2191
hmm, would it work to set NO_PROXY to something non-empty? And then to `keybase ctl restart` of course.
Even if this works, it is troubling where the proxy info is coming from.

[2016-04-08 23:33] marcb1 commented on #2190
It's been quite a while since I have used keybase, so I don't remember. I might have unsubscripted from e-mails.

[2016-04-09 08:32] a3nm opened #2192 ""your web proof just broke" does not give useful explanations"
I just received a message from Keybase "your web proof just broke" (I have no idea why) and I find the message very unhelpful to help me troubleshoot the problem. I think that messages like this should indicate at least (1.) the exact URL that Keybase is trying to access, and (2.) the specific problem encountered (e.g., HTTP status code). Thanks!

[2016-04-09 13:47] pramodhegde opened #2193 "ERROR decrypt error: unable to find a PGP decryption key for this message"
On one of my devices, I am unable to decrypt any PGP encrypted messages.

[code]
[code]
[code]
So I tried exporting my PGP public & secret (private) key to gpg to see if that would help. Exporting the public key works fine.

But when I try to export the private key,
[code]
What have I done wrong to get in this conundrum?

[2016-04-09 14:02] JordanMussi commented on #245
@strib @jokeyrhyme Thank you! :smiley:

[2016-04-09 16:05] maxtaco commented on #2193
My guess is you don't have any PGP secret keys locally on your machine.
Gpg -K returns nothing right?

On Saturday, April 9, 2016, Pramod Hegde <notifications@github.com> wrote:

[2016-04-09 16:12] klauern commented on #2191
I tried to do that, too, but no change.  I'm not sure where it's pulling the proxy info from, unless it's something more deeply nested, a la Google Chrome leveraging my IE settings.

[2016-04-09 16:16] pramodhegde commented on #2193
It does return to me the public keys that ```keybase pgp pull``` pulled.
Funny thing though, I don't see my own public key in that list!

[2016-04-09 16:17] maxtaco commented on #2193
Upper case k shows you private keys

On Saturday, April 9, 2016, Pramod Hegde <notifications@github.com> wrote:

[2016-04-09 16:17] pramodhegde commented on #2193
Crap! Right you are.

[2016-04-09 16:58] bkrem opened #2194 "[WEBSITE] "Join" button on landing page is broken"
Seems like the "Join" button on the top right of the landing page is currently broken, no response onClick.
Tested on Chrome, Firefox & Safari + with/without adblocking.

<img width="1138" alt="screen shot 2016-04-09 at 18 55 41" src="https://cloud.githubusercontent.com/assets/8663099/14405024/084bb72a-fe85-11e5-84ac-09d9bee3cd40.png">

[2016-04-09 17:01] #2194 closed

[2016-04-09 17:02] bkrem commented on #2194
Turns out it does work after a bit of a wait, still a potential UX consideration

[2016-04-09 17:26] ahmadnassri commented on #941
as @zQueal mentioned, for the github usecase you can simply add your email address used with github to keybase key, import that key into github, and simply setup git to sign using the email address:

[code]

[2016-04-09 18:28] cbowns opened #2195 "Logging in on a new device: UX issues with passphrase prompts"
I'm setting up Keybase on a new computer after a few months away from the service. In the intervening time, y'all have deployed your new key model (congratulations!)

I'm having trouble understanding what's being prompted for here. Here's my whole login session:

[code]

When this prompt appeared:

[code]

I entered the passphrase I have for keybase.io, and it successfully auth'd. (I verified this

[2016-04-09 19:26] rgardner commented on #2188
I prefer your change to the original, but agree with the goal of keeping it concise.

Maybe one of these?

[2016-04-10 04:43] chortlehoort opened #2196 "Unable to sign installation of Keybase"
Today I noticed that the old Node program was obsolete, so I followed instructions to remove it, and then installed via homebrew. Then tried to login with the new program and got the following error.  Public key is still valid (not expired)

[code]

Need guidance.  Thanks in advance.

[2016-04-10 15:35] jooize opened #2197 "Username in URL in PGP key popover is capitalised"
At account creation I wrote it capitalised. From what I understand Keybase usernames are lowercase only. It doesn't cause any issue for me, but should be corrected.

![screen shot 2016-04-10 at 17 29 48](https://cloud.githubusercontent.com/assets/719371/14411220/17174dba-ff42-11e5-917b-11db0761a1d0.png)

[2016-04-10 15:41] jooize opened #2198 "Close popovers with Escape and clicking outside them"
Unless the popover requires action (as when uploading a PGP key or adding a proof) they should close when I click outside them or press `Escape`. Much more convenient than using the `x`.

When inspecting someone's PGP key is one example.

[2016-04-10 19:28] maxtaco commented on #2196
Can you send the result of running:

`keybase -d login`

?

[2016-04-10 20:38] yas375 opened #2199 "Can re-add a device after resetting everything at Keybase"
A few days ago I reset everything in my account at Keybase to start from scratch. I had my laptop added before as "MacBook Pro" and now I'm trying to login with `keybase login` and I'm getting error:

[code]

But I don't have any devices displayed in the UI at https://keybase.io/account/devices:

<img width="933" alt="2016-04-10_1336" src="https://cloud.githubusercontent.com/assets/217368/14412931

[2016-04-10 20:39] jooize opened #2200 "It's OS X, not OSX"
A common mistake.

[2016-04-10 21:18] zanderz commented on #2191
One more way to make sure environment settings are not different from the daemon is to try running without it:
`keybase ctl stop`
`keybase -standalone login`
(maybe add debug to that login command)

One other place proxy may be set is in the config file. Check `%appdata%\Keybase\config.json`

[2016-04-10 22:07] dtiersch commented on #2199
Once a device name has been used by a user once it cannot be reused later as a security measure. This carries over when the user is resetted so you have to choose another name for your device.

That the page with your devices is empty is correct as well. The reset lets your account start a new signature chain which of course has no devices in it.

Maybe the UI could indicate that the account has b

[2016-04-10 23:16] yas375 commented on #2199
@dtiersch thanks for the quick reply!

Sounds good to me. Maybe it also worth noticing about this before the reset? IIRC the reset button was saying something like "reset and start from scratch", but as it turns out it's not quite "from scratch".

[2016-04-10 23:34] klauern commented on #2191
That last one worked!  I'll try to do some more debugging to see if there's something special about that.

[2016-04-10 23:34] klauern commented on #2191
That is, I did `keybase ctl stop`, then `keybase -standalone login`.  I'll look at the `config.json` next.

[2016-04-11 12:10] devlead opened #2201 "Recover password inactive account?"
Hi,

Haven't used my account in a long while, maybe not at all :wink: but would like to start now.
https://keybase.io/devlead

Account is registered, but doing a recovery doesn't result in an email, what's the process in such cases?

Regards,
/Mattias

[2016-04-11 12:20] malgorithms commented on #2201
let's email about it. My email's on my github profile.

[2016-04-11 12:22] devlead commented on #2201
Email sent.

[2016-04-11 12:22] #2201 closed

[2016-04-11 15:01] mrandi commented on #1594
👍

[2016-04-11 15:54] SilverCory commented on #2187
Still broken for me.

[2016-04-11 15:55] maxtaco commented on #2187
`keybase log send` please?

[2016-04-11 15:55] maxtaco commented on #2187
(or does that break too with an SSL failure? If so, then `keybase -d id max` and paste me the output.  Thanks.  BTW, is your computer clock correct?)

[2016-04-11 16:23] SilverCory commented on #2187
Correct at 0.uk.pool.ntp.org.
`Keybase log send` breaks with it.

Output of your debug id max.
http://hastebin.com/karuzoneva.txt

Also fails in my browser.

[2016-04-11 16:25] maxtaco commented on #2187
According to your debug log, things are working fine w/r/t the SSL cert.  @zanderz this might be a windows issue, can you look into it?  Looks like `keybase id max` works fine.

[2016-04-11 16:28] SilverCory commented on #2187
I can confirm something wrong with windows, executing the log paste in windows cmd results in an error, however within cygwin it works.

The -d id max works in both O_O. Still doesn't work in my browser.

[2016-04-11 16:31] maxtaco commented on #2187
Oh. It's not supposed to work in your browser. We vendor the CA and don't bother to sign by verisign since it doesn't buy us anything.

[2016-04-11 16:42] SilverCory commented on #2187
Okay makes sense. Let me clear things up:

Windows:
-d id max http://hastebin.com/umalanuril.txt
log send http://hastebin.com/nixadesine.txt

Cgywin:
-d id max http://hastebin.com/omovulonek.txt
log send is running, I'll edit this when/if it finishes.

Sorry if there's no issues, my understanding is this was to work in browser as I was looking for api documentation and previous suggestions to allo

[2016-04-11 22:44] chortlehoort commented on #2196
Sorry, missed this before I resolved it, which was done by deleting my keys and then re-importing.

[2016-04-11 22:44] #2196 closed

[2016-04-12 15:30] blackxored opened #2202 "Can't import with multiple identities"
I can't import my key, it has multiple identities on it, which I can only make a guess could be related to the issue since generating a key works.

Here's the output of both keys (first is existing, second is generated by keybase):
[code]

[2016-04-12 15:34] maxtaco commented on #2202
The feature you described works, you're likely hitting a different bug.  Can you send logs or error messages?

[2016-04-12 15:35] blackxored commented on #2202
@maxtaco Thanks for the quick reply, I was editing the post just now.

[2016-04-12 15:56] blackxored commented on #2202
If it helps, I recently changed my expiry date but I don't think it'd be related.

[2016-04-12 16:32] maxtaco commented on #2202
Have you tried `keybase pgp update`?

[2016-04-12 16:35] blackxored commented on #2202
I did just now, it (re)uploaded the generated key, but I can't still select my existing key: same error.

--
Best Regards,

Adrian Perez
http://adrianperez.org

On April 12, 2016 at 6:32:27 PM, Maxwell Krohn (notifications@github.com) wrote:

Have you tried keybase pgp update?

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub

[2016-04-12 16:39] maxtaco commented on #2202
Oh, these are two different PGP keys.

If you want to associate the second with your account, then run:

[code]

Or if you don't want to import the corresponding secret key into your local keybase keyring, then:

[code]

[2016-04-12 17:05] blackxored commented on #2202
Yes I've been using `--multi` while trying to import in all subsequent attempts. Still no luck.

[2016-04-12 17:06] maxtaco commented on #2202
I'm in the dark without a debug log or a dump of error traces or both.  `keybase log send` is one possibility

[2016-04-12 17:10] blackxored commented on #2202
It gave me a warning, let me know if it uploaded successfully.

Log ID: 087fa0c83a6ba59a1720411c

[2016-04-12 17:15] maxtaco commented on #2202
Thanks, it's, as usual, a limitation of the Go OpenPGP libraries:

[code]

Can you try with the `--no-import` flag? Does that still fail?

Can you do a `gpg --export -a a598a2cc77e92d7cabb529fc7e1c9515d6421cdc`, which exports your **public key**, and then, if you don't mind, post your public key here?

Thanks!

[2016-04-12 17:23] blackxored commented on #2202
Nope, `--no-import` also fails, I tried:
[code]
and after selecting that key, fails.

Pubkey:
[code]

[2016-04-12 17:27] maxtaco commented on #2202
Ok, yeah, there's likely something slightly weird about your key that the OpenPGP libraries in Go can't handle.  We'll have to put in a fix, but I can't promise when we'd get to it.  It seems like there's a UID in your Key that doesn't have any associated signatures.  The code is just conservatively bailing out but it ought to ignore that UID and keep going (as gpg no doubt does).  We've hit about

[2016-04-12 17:31] vijayp opened #2203 "keybase fs out of sync and some files are missing"
(or maybe I don't understand how this is supposed to work).
I have two computers, "new-host-8" (don't ask) and "vijayps-macbook"

new-host-8:vijayp vijayp$ find /keybase/private/vijayp | wc -l
    3075
vijayps-MacBook:vijayp vijayp$ find /keybase/private/vijayp | wc -l
    1761

Diffing the files:

new-host-8:vijayp vijayp$ find /keybase/private/vijayp >/tmp/a
new-host-8:vijayp vijayp$ ssh vijayps

[2016-04-12 17:41] strib commented on #2203
Hi @vijayp -- could you run `keybase log send` on each of the devices so we can get a better sense about what's going on?  It could be that one of the devices is in a "conflicted" state, but we should be able to automatically recover from that, so I'll need to see the logs to know what's really going on.

[2016-04-12 17:43] blackxored commented on #2202
How can I verify/workaround this? All my UIDs seem fine 😕

[2016-04-12 17:49] blackxored commented on #2202
I've regenerated all of my user IDs and apparently I was able to import it successfully.

[2016-04-12 17:49] strib commented on #2203
Also, can you please give us some context about what you were doing to get into this state?  Were you trying to do lots of writes on both devices at the same time?

[2016-04-12 18:00] maxtaco commented on #2202
it was some weirdness in your key that gpg was papering over....

[2016-04-12 18:05] blackxored commented on #2202
Well, after a small hickup with "no secret key" error which I solved by `--only-import` I've been able to go through the examples and verify that at least signing, encryption/decryption towards my user work.

Thanks so much for being so responsive and helpful!

I've made backup of my original key, in case you need it when you decide to tackle the root cause of this. Although you already have the p

[2016-04-12 20:42] maxtaco commented on #2202
Thank you! We have an ticket in our JIRA open.

[2016-04-12 21:56] vendion commented on #2089
Unless I'm missing something running `keybase pgp pull` isn't importing the keys either.

[code]

[code]

[2016-04-12 22:03] strib commented on #2203
Hi @vijayp -- you are running version `1.0.0-20160204170048+c846d32` of KBFS on your device `mb11`, which is over two months old.  I believe the bug I describe below is fixed in later versions.  Can you please try `keybase update run`, and see if that fixes things?  Note that it might take a while to fix itself, given how far behind it is.

It seems that this device was offline/suspended for about

[2016-04-12 22:05] zanderz commented on #2191
That would seem to suggest that the keybase service is running with a different environment after all. Maybe try looking with task manager to make sure there are no running keybase.exe instances after you issue `keybase ctl stop`

[2016-04-12 22:11] vijayp commented on #2203
alright, i've update keybase and i'm leaving it plugged in with caffeinate
blocking to prevent it from going to sleep. let's see how it goes. Happy to
wipe the branch and re-upload if that would be helpful.

On Tue, Apr 12, 2016 at 6:03 PM, Jeremy Stribling <notifications@github.com>
wrote:

[2016-04-12 22:45] strib commented on #2203
Thanks @vijayp.  I can tell from our server logs that it's probably not fixed by the update.  It's possible the bug is rooted in the state that has already been written, rather than the code.  (I can't find the exact issue where we fixed this problem, but I definitely remember seeing that same error and fixing it in the last two months.)

Can you check the KBFS log for recent lines complaining abo

[2016-04-13 00:41] poncethecat opened #2204 "Need /keybase/private/poncethecat reset."
Well, the other day I removed all my other devices except my newest one, and got this wonderful message: https://gyazo.com/5e8acb0c30f033c7ac9936c59fa77c78 .

I had lost access to all my other devices a few days before, and had already revoked them.. This meant there were no devices that could re-key my new device.

So, I need the folder reset.

Here's a signed message from me saying that I need i

[2016-04-13 01:55] alex commented on #1885
This appears to be resolved.

[2016-04-13 01:55] #1885 closed

[2016-04-13 02:21] maxtaco commented on #2089
@oconnor663 remind me what we decided about the new style of tracking a PGP key explicitly?  I think it's causing @vendion's tracking statement to all seem out of date.

[2016-04-13 02:35] cjb commented on #2204
Sorry to hear that!

@strib The message looks like a bug.  I think I'm checking notification.rekeyself instead of notification.params.rekeyself.  Will send a PR.

[2016-04-13 03:38] strib commented on #2204
@cjb: thanks for fixing it.  That's probably a bug, but I also filed another internal KBFS issue for adding a new type of error for when there is absolutely no hope left for recovering a folder.

[2016-04-13 13:04] TommyJerryMairo opened #2205 "Ask me passphrase for unlock secret keys."
Science have moved all my secret keys into my Yubikey, all I use gpg asking me is the pin of my Yubikey.

But the keybase ask me passphrase to unlock the secret key for my device to do any thing related to my account.

Because I have moved my secret keys to smartcard, I have not use these passphrase for a long time, which means that I have forgotten those passphrase.

So, how can I do to let the k

[2016-04-13 17:28] oconnor663 commented on #2089
I think we moved from the client believing that "tracking statements implicitly track the eldest PGP key" to the client believing that "new-style statements with the `pgp_keys` are required", knowing that this would make lots of past tracking statements appear incomplete. We did it because the implicit key way of interpreting things broke something, but now I can't remember what it broke.

[2016-04-13 17:30] oconnor663 commented on #2089
I think the expectation is that @vendion will need to re-track all the folks above, in order to automatically fetch their PGP keys. Admittedly this is really annoying.

[2016-04-13 18:26] strib commented on #2204
Hi @poncethecat, the folder has been reset.  Please try accessing it again (you might need to restart KBFS on your new device, though I'm not sure).

[2016-04-13 18:38] vendion commented on #2089
@oconnor663 Will the retracking need to happen via the web, the client or doesn't matter?  Will I need to untrack then re-track or would a simple `keybase track <username>` be enough?  I'm happy to give this a shot just curious exactly the steps I'll need to take.