[2017-04-10 10:24] jcgruenhage commented on #2950
Well, mastodon.social blocks them, but everybody that hosts their own instance can choose for themselves what they block and what they let through. I would argue that most content federates to other instances is still better than no federation at all :P

For example, I would not block other instances at all on my instance (once I've set that up), and therefore I could follow people on wrongthink.n

[2017-04-10 11:37] 1337god commented on #2950
If it was just mastodon.social, some people are blocking others in order to not be blocked by others who block those kind of instances.

[2017-04-10 11:37] 1337god commented on #2950
And I'm working on getting OStatus on WrongThink, it will take a long time but I'll try.

[2017-04-10 11:37] 1337god commented on #2950
But ur doing good, don't block. Also what's your instance btw?

[2017-04-10 11:50] jcgruenhage commented on #2950
Non-existent, for now, mastodon.social first needs LDAP support, since I won't create a new user db for that, but that will be reachable under https://gruenhage.xyz/, like my main matrix server ^^

[2017-04-10 12:06] 1337god commented on #2950
For what I heard but it's not confirmed Allegations, if it's really true, it's very bad yeah.

[2017-04-10 12:07] 1337god commented on #2950
And some instances will block some kind of speech and limit types of uploads in order to not get blocked by others too.

[2017-04-10 12:07] 1337god commented on #2950
Also I might join yours once it's up.

[2017-04-10 12:50] zQueal commented on #2950
As far as I understand this issue the selective federation only applies to the single server. In the example above, if user1 follows user2, but user2 is "blocked" on mastodon1 (user1's server), then user2's tweets don't reach the mastodon1's federated public timeline, but user1 will still be able to view their content. If that's wrong then it might be pretty hairy to implement proofs, especially i

[2017-04-10 13:02] jcgruenhage commented on #2950
This might clear things up a bit: https://hackernoon.com/mastodon-is-dead-in-the-water-888c10e8abb1

[2017-04-10 13:12] 11mb commented on #2493
This may be related: My username has a trailing underscore, therefor my keybase url results in username_with_trailing_underscore_.keybase.pub.

On Linux: "ping username_with_trailing_underscore_.keybase.pub" results in a "ping: unkown host"

[2017-04-10 13:54] 1337god commented on #2950
@zQueal That only applies to Mastodon Instances, on GNU/Social instances they will never block anyone. Not even Qvitter does that, and they are pretty SJW.

[2017-04-10 17:07] MarcelloTheArcane opened #2951 "How does the chat API actually work?"

[2017-04-10 17:12] mlsteele commented on #2951
Try running ```keybase chat api -h```, there are a bunch of examples in there.

[code]

[2017-04-10 17:12] MarcelloTheArcane commented on #2951
(accidentally posted without description)

anyway, `keybase chat help api` returns different JSON strings and their uses, but no instructions about how keybase is expecting the JSON string. I've tried saving a string and piping it into `keybase chat api -m`, and `keybase chat api -i "[JSON string]"`, both to no avail.

what is the correct way of using this feature?

[2017-04-10 17:18] mlsteele commented on #2951
Ah, like this for files, which is fine for testing but has the drawbacks of making sure not to leave the files around readable.
[code]

For piping, omit `-m`. `-m` means you're supplying the json as a command line arg.

[2017-04-10 17:26] MarcelloTheArcane commented on #2951
thanks, I'll try that. How would you get that to work with, say, a chatbot? @malgorithms, possible update? it's not super clear on the website or CLI...

[2017-04-10 17:35] songgao commented on #2951
There are some examples [here](https://github.com/keybase/keybase-chat-bot) for building a chat bot. Hope it helps!

[2017-04-10 18:29] robison commented on #1911
Not to piggyback too much but - should I open a separate issue if I have this precise same issue? Thanks!

[2017-04-10 18:38] oconnor663 commented on #1911
@robinson one workaround here might be to `keybase pgp drop <your key>` from your account, and then do `keybase pgp select` over again with the newly-modified version of your key. Does that work for you?

[2017-04-10 19:15] robison commented on #1911
@oconnor663 I think you tagged the wrong user in there, but I think I solved my issue - will know shortly, and also share the results. Thanks!

[2017-04-10 21:11] oconnor663 commented on #1911
Woops! Sorry at-robinson, thanks @robison :|

[2017-04-11 06:15] #2951 closed

[2017-04-11 06:18] MarcelloTheArcane commented on #2945
If you have access to DNS, you could try setting a txt record there?

[2017-04-11 06:21] MarcelloTheArcane commented on #2934
I thought you had to enter your password/similar for deletion.  That should avoid any random keybashing by minors.

[2017-04-11 13:42] MarcelloTheArcane opened #2952 "HTTPS and TOR"
I noticed keybase uses an [http site for TOR](http://fncuwbiisyh6ak3i.onion), something that is [not advised](https://security.stackexchange.com/questions/105646/is-it-safe-to-access-http-sites-from-tor).

Is this something that should be changed?

[2017-04-11 14:05] malgorithms commented on #2952
from that same page:

[2017-04-11 14:53] MarcelloTheArcane commented on #2952
ahh, okay.

[2017-04-11 14:53] #2952 closed

[2017-04-11 16:55] Sigafoos commented on #2948
I already did this in an unofficial way by [tooting a signed message](https://witches.town/@dconley/117846) but it would be great to be able to have it displayed on my Keybase profile (i.e. I had to search for that way back in my timeline)

[2017-04-11 22:16] Bezoar opened #2953 "Unable to log into keybase"
I removed my earlier key pair and reset my password. However, whenever I try to log in from the GUI, I get "There was an error provisioning" with "Unknown error: DB error" underneath.

I then tried to log in with the command line tool, and got:

mw@laptopotamus:~ [543] $ keybase login
Your keybase username or email address: bezoar@gmail.com
Enter a public name for this device: laptop
▶ ERROR DB er

[2017-04-11 22:26] hashhar commented on #2953
I had the same issue today on a new machine.

[2017-04-11 22:29] maxtaco commented on #2953
This is a new issue as far as I know. Can you send a 'keybase log send'?

I will look into it tonight if I can.

On Tue, Apr 11, 2017 at 6:26 PM Ashhar Hasan <notifications@github.com>
wrote:

[2017-04-11 22:35] proxa commented on #2953
Same thing here.  Fresh install.  I just signed up

[code]
Log ID: 52a2085bc46d1abca8d98a1c

[2017-04-11 22:36] maxtaco commented on #2953
On it.

Cc @oconnor663

On Tue, Apr 11, 2017 at 6:35 PM Blake Bartenbach <notifications@github.com>
wrote:

[2017-04-11 22:38] hashhar commented on #2953
Here's my log id: 271a323e2503abbb33d4da1c

I intially thought it was because I wasn't using the latest client (on ArchLinux), but the latest client gives the same error.

There's an additional detail that may be helpful: I had reset my account before starting this process.

[2017-04-11 22:44] Bezoar commented on #2953
My log id is a27027ea17ef531898e1571c - thank you for looking into this.

[2017-04-11 22:48] maxtaco commented on #2953
Just fixed it. Try again?

On Tue, Apr 11, 2017 at 6:44 PM Mark Welch <notifications@github.com> wrote:

[2017-04-11 22:50] hashhar commented on #2953
Works.

[2017-04-11 23:00] proxa commented on #2953
Can confirm fixed

[2017-04-11 23:02] hashhar opened #2954 "The client seems to hang if pinentry is using pinentry-curses"
The keybase client seems to hang if:

1. The gpg pinentry is set to '/usr/bin/pinentry-curses'.
2. The client issues the command `keybase pgp select`.

Manually looking at the process that is running it seems that keybase is waiting for `/usr/bin/gpg2 --no-tty --armor --export-secret-key fingerprint` and since keybase 'owns' the terminal, there is a deadlock kind of situation.

# Possible Fixes:

[2017-04-11 23:39] Bezoar commented on #2953
Works for me, thanks.

[2017-04-11 23:39] #2953 closed

[2017-04-12 01:59] hashhar commented on #2954
Closing since I already filed one at the keybase/client repository.

[2017-04-12 01:59] #2954 closed

[2017-04-12 16:47] brittup commented on #2945
No access to dns either, its a hosted site. good thinking though!

[2017-04-12 17:30] zQueal commented on #2945
WordPress shouldn't be doing this by default. (I think) From viewing your file it looks like WordPress _is_ rewriting `keybase.txt` to be included into your index--so this is most likely just a simple rewrite issue. If I remember correctly the `htaccess` should look similar to this;

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]

w

[2017-04-12 21:56] amonks opened #2955 "unclear messaging around private key re-encryption on upload"
My private key is regular-ascii-armor-encrypted with a lengthy passphrase.

I'd like keybase to store that encrypted key.

I clicked "edit" next to the fingerprint on my profile on the website, then clicked "host an encrypted copy of my private key".

I saw this modal dialog ![](http://f.monks.co/Screen-Shot-2017-04-12-at-3.53.35-PM-tEsFjEKF0R.png)

It sounds like exactly what I want: I have an en

[2017-04-13 04:02] spaze commented on #2731
It indeed did stop eventually, I'll just close this. Thanks!

[2017-04-13 04:02] #2731 closed

[2017-04-13 10:05] brwnrclse commented on #97
Hey all, Bitbucket seems to have public snippets that operate similarily to Github's Gists.

Here's a sample keybase markdown file I've created.

https://bitbucket.org/snippets/brwnrclse/eAzxx

[2017-04-13 12:01] totakura opened #2956 "Can't import a GPG key"
I tried to import a GPG key after removing an old one using the command:

    keybase pgp select --no-import

When I selected the right key index to import, it printed out `▶ ERROR EOF`

The GPG key has only the public part of the certification key, and both public and private parts for the encryption and signing sub-keys.  The certification key is RSA4096 and the subkeys are ECC keys based on cv2

[2017-04-13 12:06] maxtaco commented on #2956
Can you do 'keybase log send'?

@zapu can you triage?

On Thu, Apr 13, 2017 at 8:01 AM Sree Harsha Totakura <
notifications@github.com> wrote:

[2017-04-13 12:13] totakura commented on #2956
Sure, the log is uploaded with ID 8bf96f15d1e881e6e78cda1c

[2017-04-13 12:14] totakura commented on #2956
I also noticed the same error on another computer which has the private part of the certification key.  It's log is uploaded with ID: e927c3843c009594b5875d1c

[2017-04-13 12:22] maxtaco commented on #2956
Old version, can you upgrade?  Should work.

[2017-04-13 12:51] totakura commented on #2956
I'm using 1.0.20; that is to the latest version, right?

[2017-04-13 12:52] maxtaco commented on #2956
Your log said 1.0.18 I believe.

What platform are you on?

On Thu, Apr 13, 2017 at 8:51 AM Sree Harsha Totakura <
notifications@github.com> wrote:

[2017-04-13 12:54] totakura commented on #2956
I'm on Arch Linux. Strange, `keybase version` says `Client: 1.0.18`.

[2017-04-13 12:55] maxtaco commented on #2956
@oconnor663 can you help?

On Thu, Apr 13, 2017 at 8:54 AM Sree Harsha Totakura <
notifications@github.com> wrote:

[2017-04-13 13:02] totakura commented on #2956
Found it, the package recipe is indeed using the older version. https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/keybase

Reported the package bug here: https://bugs.archlinux.org/task/53661

[2017-04-13 17:24] dennis-linux opened #2957 "Can not confirm FACEBOOK"
https://www.facebook.com/dennis.a.hunter?ref=bookmarks

[2017-04-14 14:31] oconnor663 commented on #2956
For context, this is the Arch `community/keybase` package, which is not the one we maintain or recommend in our [install instructions](https://keybase.io/docs/the_app/install_linux). It's missing the KBFS and GUI elements, and while it's probably going to keep working for the foreseeable future, the divergence is going to get more confusing over time.

[2017-04-15 18:55] michaelherrick commented on #2947
If I understand your suggestion correctly, I have been mulling a similar idea. I would like to be able to run an application on my company web site where I can easily create identity proofs for all my employees.

I don't think any special case needs to be added to Keybase to support this. It can just be a standard web identity verification, with Keybase CLI running on my web server alongside a sim

[2017-04-15 19:44] gh-jslee1301 commented on #2885
yes , i do.. my notebook can online but browser always offline.few days cant fixed it.

[2017-04-15 23:00] Link-Satonaka commented on #2887
This seems to have resolved itself after I chatted with each of my followers through the keybase client.

[2017-04-15 23:00] #2887 closed

[2017-04-16 11:21] soyfrien opened #2958 "Installer fails when MS Visual C++ 2017 Redistributable is present"
The installer fails when trying to install the Microsoft Visual C++ 2015 redistributables on systems with the 2017 versions.

Uninstalling them allows the keybase installer to successfully finish, but Visual Studio 2017 installs these and I'm not sure how else to get them, so this is doubly inconvenient.

Please see [installer log file](https://github.com/keybase/keybase-issues/files/924228/keybas

[2017-04-16 23:46] zoof commented on #2929
Hi, I don't know if it is related or not but today, I noticed that proof of my website (theo.to) has been failing.  Prior to today, it was working fine.  The only change on my end has been a transition from a StartSSL cert to a Let's Encrypt cert.  Clearly my proof is still accessible as you can see at: https://theo.to/keybase.txt

[2017-04-17 07:47] creatrixtiara commented on #518
Metafilter - the user profile allows for public freeform text and as far as I know there is no limit.

[2017-04-17 07:48] creatrixtiara commented on #518
Patreon - make a public post perhaps? Not sure how this would work if you're not a creator but a supporter.

[2017-04-17 17:31] fmartingr commented on #2509
I'm in a similar situation as @jgarber623. What's the reasoning on not freeing the usernames on account deletion and on not allowing us to recover our accounts if we still have our social accounts?

[2017-04-17 19:11] k0shk commented on #2917
@songgao Hello! Is it possible to add verification for protected twitter accounts? May be I can follow "keybase twitter", he can follow back and proof my account?

[2017-04-17 22:41] songgao commented on #2917
That would be possible but I don't think it's of much use. The [idea](https://keybase.io/docs/server_security) of proof verification is not only for keybase servers, but also for every one on the Internet to be able to cryptographically verify. It's actually way more important that other people (not Keybase) can verify your proofs.

[2017-04-18 11:18] taw00 opened #2959 "Secure chat sits in "securing..." loop forever"
Originally posted here: <https://www.reddit.com/r/Keybase/comments/662425/secure_chat_sits_in_a_securing_loop_forever_this/>
Version: keybase-1.0.21.20170414160027.c035b7e-1.x86_64

**The issue:** The keybase application comes up on my desktop. I log in and notice someone has sent me a chat message. This is someone I have been chatting with back and forth for months. I click on his icon and keybas

[2017-04-18 16:11] mlsteele commented on #2929
@zoof That might have to do with your server not serving the whole certificate chain. https://www.ssllabs.com/ssltest/analyze.html?d=theo.to
`Chain issues: Incomplete`

[2017-04-18 16:36] zoof commented on #2929
That was it, thanks!

[2017-04-18 17:26] mlsteele commented on #2929
@zoof great :)

@HXmniDhWNevihHm7PwVyN4Knvt9yQrRt your other domains have basic auth and return 401 to the checkers.

[2017-04-18 17:26] #2929 closed

[2017-04-19 12:33] michbona commented on #2445
@MarcoPolo @mlsteele Hi guys, @marceloatie has repeatedly asked for an approval for a fairly simple pull request. Any chance you can approve that? If not you, can you point me to someone who can? It's beyond annoying to have to manually update a package that's security related. Especially since the reason is silly (distribution-related dependency naming) and a trivial fix is available.

[2017-04-19 12:46] aspiers commented on #2569
Hi @cjb, any more thoughts on this?  The offer to help still stands.

[2017-04-19 14:05] thurloat commented on #2486
@strib is this remedied? I believe I'm facing this as well.

It's been nearly a week since I added an index.md post-reset and still nothing on the site.

[2017-04-19 14:46] cjb commented on #2445
@michbona Thanks for the ping, sorry about that.  Bringing the right people in now.

[2017-04-19 14:49] cjb commented on #2569
@aspiers Hi!  Let's see if the RPM fix PR works -- if so, I think we'd be happiest just continuing to ship RPMs.  In general I think we have the type of paranoia that involves wanting to build, sign and distribute our binaries ourselves, so adding an extra (and seemingly unnecessary) indirection via OBS doesn't feel attractive at the moment.

[2017-04-19 15:19] aspiers commented on #2569
Thanks for the reply!  Well, I wouldn't call it unnecessary - there are several practical advantages to building OBS.  But I understand your point about paranoia; certainly keybase is a special case in that regard since trust in it is paramount to its success.

It might be worth thinking in more detail about exactly what threats are making you paranoid in this context, though :-)

## Threat 1: tro

[2017-04-19 15:29] adrianschroeter commented on #2569
The important point is that the build process is reproducible and the build results can be compared. This is true for any way of building, no matter of individual builds or in some service. OBS has some value here, but you might be able to achieve this also with your own builds.

The value of OBS is in first place when you need to take build dependencies into account, means other packages influenc

[2017-04-19 15:38] LenzGr commented on #2569
I also would like to highlight the possibility to build packages (not just RPMs, but DEBs, too) for multiple distributions from a single source archive as a key highlight of OBS. It's not SUSE-specific.

[2017-04-19 16:49] compumike08 opened #2960 "Desktop Client Supports Adding Phone But No Mobile Apps Available"
In the latest version of the Keybase desktop client, when you add a new device there is an option to add a new phone via scanning a QR code (although the option is labeled as "[in beta]"). However, I was unable to find any Keybase app for mobile phones in either the Android App Store or the Apple App Store. I also was unable to find any mention of mobile phone apps on your [website](https://keybas

[2017-04-19 16:50] compumike08 commented on #2960
Related to issue #2758.

[2017-04-19 16:54] strib commented on #2486
@thurloat: hmm, sorry about that. I've given it a kick and now it seems to be working.  It shouldn't be an issue anymore, not sure what happened.  Will be on the lookout for it.

[2017-04-19 17:33] kolobus commented on #2486
Is there option to delete data, which was there before account reset? It now shows as a separate read only folder.

[2017-04-19 17:37] strib commented on #2486
@kolobus: that's only visible to you.  You can't delete the data, but you can ignore that folder using `rmdir` if you want, so you don't see it anymore.

[2017-04-19 18:13] kolobus commented on #2486
@strib it doesn't hurt, but will it be there forever? ⚱️

[2017-04-19 18:23] strib commented on #2486
Currently yes. We haven't yet built a way for a user to request the complete nuking of their pre-reset data.  It's something we've thought about, but is low priority at the moment.  If it's something particularly sensitive you want gone, let me know and we can work something out manually.

[2017-04-19 19:48] kolobus commented on #2486
Shouldn't it be just totally deleted on account reset?

[2017-04-19 19:51] strib commented on #2486
As I said, it's something we've thought about, but haven't had time to build yet.  The general story is complicated by other folders you could be sharing with people who haven't reset their account yet, so it's not as simple as it seems.

[2017-04-20 07:59] gnoejuan opened #2961 "Ability to create an invite via API"
# My Personal Use Case
I would like to hand out invite codes in a Twitch chat via a chat bot I already have.

[2017-04-21 07:48] rob-nash commented on #2959
I have the same issue. I am using Starbucks wifi.
Version 1.0.21-20170413194119+9dea6e1

[2017-04-21 07:53] rob-nash opened #2962 "Finder App does not display file in public folder"
I don't remember when I created this file. I totally accept that I may have actually created it at some point.

https://keybase.pub/rob_nash/plan.txt

I can't access the file using the macOS Sierra Finder App. I have installed the macOS client App and the command line tools.

I abandoned my account for quite a while and I may have created plan.txt a while ago. I have since reset all of my keys.

[2017-04-21 11:40] taw00 commented on #2959
I finally went to a very high speed network (fiber, I believe) and it continued to sit forever in "securing..." until I exited out completely (an explicit "Quit") and then restarted. I am not sure if my slow network created some caching issue or not, but it did resolve eventually on the high speed network after taking that action. And, going back home to the slow, high-latency, network... it just

[2017-04-21 15:46] zQueal commented on #2959
This is pretty interesting. I've tested the chat before and it seemed to work immediately. Opening the same conversation as before it took upwards of 1 minute to "decode" and initialize two test messages. Probably less than 10 words total.

What are your PC specs? Specifically your processor. Perhaps its an issue with processing?

[2017-04-21 18:00] smitelli opened #2963 "Revoked a PGP key, is there any way to get a revocation certificate now?"
I signed up for Keybase some time ago, and at the time of registration Keybase created and hosted a PGP keypair. I never really exported or used that key for anything. Fast-forward about two years. I created a new PGP keypair locally with the intent to actually start using the new keys in earnest. I revoked the old Keybase-generated key via the web UI and replaced it with my new key. All is well.

[2017-04-21 18:15] strib commented on #2962
Hi @rob-nash, I fixed keybase.pub for you (I think your old public folder was too old to be reset automatically on an account reset, which is what's supposed to happen).  You should be able to start seeing your local public folder changes show up on keybase.pub now.  Please close this out if things look ok to you now.

[2017-04-21 20:18] maxtaco commented on #2963
CC: @zapu?

[2017-04-22 16:34] timcard commented on #518
I know, It's not very popular and it's very old! But in another way it should be easy as a web site to prove and maybe easier. I would love to see a **Gopher** prove. Thanks in advance to concider this and sorry to disturbing the 78 peoples here.

[2017-04-23 01:48] esavier commented on #2907
runquiet.exe is actively blocked by security components, for sure Bitdefender antivirus, propably Windows Defender (after Creators update?), possibly more keybase components are blocked or system functionality is denied (file access, sockets?).

It is able to start sometimes, but it hangs up and stops responding, sometimes starting keybase multiple times creates multiple process groups in process

[2017-04-23 08:27] rob-nash commented on #2962
Thanks

[2017-04-23 08:27] #2962 closed

[2017-04-23 11:26] gdm85 commented on #2306
(I am a bit puzzled that the title of this issue says "Suggestion", since I would consider this a serious bug as it was reported in https://github.com/keybase/client/issues/4739)

Since nobody mentioned it to so far (only in #2605), here is the Filesystem Hierarchy Standard: http://refspecs.linuxfoundation.org/fhs.shtml (you might want to refer to v2.3 if not v3.0 already).

[2017-04-24 06:24] paulhugel commented on #2957
paulghugel unreachable proof is public https://www.facebook.com/paulghugel/posts/620211368180926

[2017-04-24 07:57] rob-nash commented on #2959
MacBook Pro (Retina, 13-inch, Late 2013)
2.8 GHz Intel Core i7
8 GB 1600 MHz DDR3

[2017-04-24 22:35] mindsolve commented on #2934
@MarcelloTheArcane That may be true, but I already had the situation where I was that angry about something, that I worked ~2h to get away from it, (and in the progress accidentally lost all my data) to afterwards recognize what a bad idea this was.

Short: _You sometimes do something in anger, what you later reget_

[2017-04-25 00:38] zanderz commented on #2907
I installed Windows 10 build 16179 and Keybase runs with no runquiet blockage for me. Must be BitDefender, then?
![image](https://cloud.githubusercontent.com/assets/862397/25363908/3079c4b2-2913-11e7-9594-d6bfb25e8098.png)

Another possibility is if you are on a corporate machine with some restrictive security policy. Generally, our executables are signed by an EV certificate from a Microsoft-appr

[2017-04-25 01:11] drjaypfoutz opened #2964 "Antivirus scanners flag runquiet.exe"
It appears runquiet.exe is being flagged by several antivirus programs: https://virustotal.com/en/file/e638a56952be1f3f78b7f1c41fb875c9d6b93717ba4554263ec25b8afdb722d6/analysis/1493082395/

I had to make exclusions for my Bitdefender security program.

[2017-04-25 02:08] danieldavidpeterson commented on #2960
I second this, I still can not find any mention of a mobile app.

[2017-04-25 02:56] zQueal commented on #2960
I know for a fact that there _is_ an Android app under development but, to quote @MarcoPolo;

I can't see them developing an Android client without also developing one for iOS. My advice would be to assume that they're coming, just simply don't hold your breath for anything too soon.

[2017-04-25 03:11] esavier commented on #2907
Then its highly probable that it is actually bitdefender. I assume it is detected by some kind of heuristics , which is blocking either disk or sockets.

From my side this looks like that forever.
Its fine during standard restart of machine but not after sleeping or hibernating.

![2017-04-25 04_56_56-tixati v2 53](https://cloud.githubusercontent.com/assets/5251231/25367098/ee1e851a-2973-11e7-8c25

[2017-04-25 03:47] paulhugel commented on #2957
revoked  Facebook proof
deleted proof on Facebook
Created new Facebook Proof
https://www.facebook.com/paulghugel/posts/698602103675185
rechecked and still says "UNREACHABLE":

![screen shot 2017-04-24 at 5 45 37 pm](https://cloud.githubusercontent.com/assets/6466830/25368098/06d21e40-2916-11e7-9755-e22e7e1153fa.png)

[2017-04-25 04:18] paulhugel commented on #1537
deleted the old install after installing the Mac OSX binary last year ?

[2017-04-25 04:18] #1537 closed

[2017-04-25 13:28] maxtaco commented on #2957
@oconnor663 can you take a look?

[2017-04-25 16:32] oconnor663 commented on #2957
@paulhugel your Facebook proof looks like it's working now, both on keybase.io and when I `keybase id paulhugel` on the command line. Some temporary issue?

Looking at @dennis-linux now.

[2017-04-25 16:34] oconnor663 commented on #2957
@dennis-linux it looks like you've tried to prove the username `dennis7x` on Facebook, but I [don't see any account by that name](https://www.facebook.com/dennis7x). The account you linked to at the very top uses the name `dennis.a.hunter`; is that the account you meant to prove?

[2017-04-25 17:22] zanderz commented on #2907
Thank you for submitting. Is there any other info on the threat warning? I didn't find much by googling.

Note that if it's just a matter of starting the services, you can directly launch `%localappdata%\Keybase\runquiet.exe %localappdata%\Keybase\keybase.exe ctl watchdog2`, or just the keybase.exe part if runquiet is still blocked. Runquiet simply hides the console window.

[2017-04-25 20:49] #659 closed

[2017-04-26 03:22] marcusball commented on #2793
I'm having the same issue. My key expired last week, so I updated the expiration date but I'm getting the same error when trying to update the key using the browser. Unfortunately, I can't use the bash + cURL  method because Windows, and using the keybase command line client is returning this:

[code]

[2017-04-26 03:52] paulhugel commented on #2957
my facebook proof from the OSX GUI was unreachable but now show its good entered command

keybase id --skip-proof-cache

and it shifted timing out several times but now is normal ?
![screen shot 2017-04-25 at 5 47 52 pm](https://cloud.githubusercontent.com/assets/6466830/25417460/fd002c70-29df-11e7-8e7b-03c4465fafb1.png)

[2017-04-26 05:14] esavier commented on #2907
i am looking at this command, and if windows's cmd is at least half as good as linux's, i think you want me to start runquiet and give it keybase.exe as 1'st parameter etc... The problem is that I can't run runquiet.exe, since it has been physically quarantined and removed (whatever that means, because after reboot it appears again, magic), all disk access to it is blocked after BD starts. Windows

[2017-04-26 09:07] taw00 commented on #2959
Duplicated on two machines with me...

1. Lenovo T460s
    * Intel i7 2.6GHz
    * 20GB RAM
2. Razer Blade Stealth
    * Intel i7 2.7Ghz
    * 16GB RAM

So, all are pretty beefy machines. And Intel

[2017-04-26 12:49] maxtaco commented on #2959
@taw00 there might be something wrong with your account. Can you do a `keybase log send`?

[2017-04-26 16:09] #2957 closed

[2017-04-26 18:29] rob-nash commented on #2959
there might be something wrong with my account too :(

[2017-04-26 19:23] maxtaco commented on #2959
log dump: 54cc38f0f65ad6c545973d1c

@mmaxim can you take a look?

[2017-04-26 19:24] maxtaco commented on #2959
I take it back, BTW, there's nothing wrong with your account, but maybe something wrong with this conversation

[2017-04-26 20:56] cdokolas commented on #2907
I got the same problem. I will reboot ASAP. Here is my log ID: 324b9a3406e415e34092871c

[2017-04-26 22:04] onlykey commented on #1946
I too am looking for a solution for this issue. I have this product [OnlyKey](https://crp.to/ok) that supports 32 ECC keys and 4 RSA keys where similar to a smart card the decryption and signing only occurs on the offline hardware. It looks like supporting only offline crypto on the OnlyKey with Keybase client would be possible but there would have to be some way to select to store and use the per

[2017-04-27 06:09] nova77 commented on #2959
Same here: it's been sitting on "securing..." for the past 10 minutes and I have a pretty good connection (1GB/s). Win-10/64.

[2017-04-27 09:36] felnne opened #2965 "Failed to verify twitter claim"
Hi,

I've tried to add a twitter claim for my profile.

My verification tweet is: https://twitter.com/fenfe1_bas/status/857517501877563392

However i've been told:

Could you advise what I should do?

[2017-04-27 09:36] #2965 closed

[2017-04-27 09:37] felnne commented on #2965
I just realised the username is incorrect - please ignore.

[2017-04-27 11:59] tanto259 opened #2966 "Moving keybase.txt to .well-known broke proof"
I moved keybase.txt from `/keybase.txt` to `/.well-known/keybase.txt` yesterday and I just got the email saying my web proof just broke.

I can verify that I can access the proof at `/.well-known/keybase.txt`.
Do I need to wait or do I need to set up a 301 redirect from `/keybase.txt` to `/.well-known/keybase.txt`?

I have already tried to retry proof checking, but I still got the web proof broken

[2017-04-27 12:29] malgorithms commented on #2966
sorry - I think currently the way it works is when keybase verifies a proof it notes which location you chose and won't switch to the other one. It should, but we're unlikely to get to that soon. If I were you, I'd do the simplest thing which is just revoke/redo the domain proof.

[2017-04-27 12:40] tanto259 commented on #2966
Thanks, redoing the proof fix it.

[2017-04-27 12:40] #2966 closed

[2017-04-27 14:31] dltj commented on #2859
@maxtaco - I just tried this on the website and the error is still there. Is the bug being tracked on another ticket?

[2017-04-27 18:45] maxtaco commented on #2793
Cc: @zapu can you triage?

[2017-04-28 10:23] zapu commented on #2956
@totakura do you still have this issue? If so, would you mind posting your public key so I can check if our libraries parse it correctly? Thanks

[2017-04-28 11:00] zapu commented on #2944
Thanks, it looks like a bug on our end. I'm looking into it.

[2017-04-29 08:43] Ravneson commented on #2964
Same issue here applying update today, flagged by bitdefender as Gen:Trojan.Heur.JP.WX2@aib9OVei.

[2017-04-30 00:30] apfelchips opened #2967 "Reset account via signed message"
A very long time ago I've created a keybase account, but for 'security reasons' I foolishly didn't put the credentials into my Password-Manager and used a unique eMail-Address that I also don't know/control anymore to sing up to the service.

So lately I wanted to make some changes to my keybase account and start using all its new features, but all the recovery options don't work for me and so I'm

[2017-04-30 08:25] drjaypfoutz commented on #2964
The exclusions I have made are the following...

Under Excluded Files and Folders:
%userprofile%\appdata\local\keybase (if this is the method of install, which is the native way)

Under Processes:
%userprofile%\appdata\local\keybase\keybase.exe
%userprofile%\appdata\local\keybase\runquiet.exe
%userprofile%\appdata\local\keybase\gui\keybase.exe

These exclusions seem to have worked for my program.

[2017-04-30 12:41] adsactly commented on #1697
Not sure why nobody pursued this at the Keybase Development Team.

[2017-04-30 14:15] juanminm commented on #2964
@Ravneson: It could be because the service wasn't executed. The startup execution command is: `runquiet.exe keybase.exe ctl watchdog2` so make sure that on the "Process" tab of Windows 7 Task Manager or "Details" tab of Windows 8 and later Task Manager, there's a keybase process
with the arguments `ctl watchdog2` (you'll need to add "Command Line" column in task manager)

@drjaypfoutz: Keybase als

[2017-04-30 18:21] skwerlman commented on #1697
@adsactly If you look around this issue tracker, you'll see that there are _literally hundreds_ of similar requests. Keybase devs only have so much time on their hands (they are, surprisingly, mortal), so they need to prioritize what they work on. Currently, it seems like their priority is making sure the client and web interfaces are as nailed down and bug-free as possible, before they move onto

[2017-05-01 17:03] kosborn commented on #2933
Or maybe I can get some help with the password reset email. I must have typed my email address wrong when signing up, because I haven't received anything in any of me inboxes.

[2017-05-01 22:02] beauchef commented on #2964
I have the same problem, but virus name given is: GenVariant.Symmi.73621.
Also, keybasestartup.lnk is flagged.

[2017-05-01 23:15] IVGusa commented on #2964
the same issue what all of you list and with Bitdefender. but I cannot allow exceptions to process bc appdata does show...it does under excluding files and folders. but still stuck...

[2017-05-02 10:55] vcanfield commented on #2808
After almost 3 months, I continue to get encrypted messages that are hoarded on Keybase's servers without my consent. @malgorithms will we get any type of response on this issue?

[2017-05-02 14:38] zapu commented on #2144
Looks like the message from original post verifies fine on both the website and client.

[2017-05-02 19:53] DerfOh opened #2968 "Keybase windows app autostarts at login -- no way to disable, please add option to toggle."
Please add an option to toggle autostart and remove the autostart default.

If I want to use the app I am capable enough to open it via the start menu.

[2017-05-02 21:27] mlsteele commented on #2933
Hi @kosborn sorry for the slow response! You _should_ be able to get back into your account from the pgp key but we have a bug with that right now. I sent you an email about an account reset.

[2017-05-02 21:28] mlsteele commented on #2967
Hi @apfelchips sorry for the slow response! You should be able to get back into your account from the pgp key but we have a bug with that right now. Would you sign an email address that you would like to use for your account after a reset? If you don't want to post it publicly, you can encrypt to my key: https://keybase.io/mlsteele

[2017-05-02 22:12] mlsteele commented on #2933
Ah, looks like that email's not going to work. Would you sign an email address that you would like to use for your account after a reset? If you don't want to post it publicly, you can encrypt to my key: https://keybase.io/mlsteele

[2017-05-02 23:44] BruceWilliams commented on #2270
My reddit proof has also stopped working. The page looks fine, but the KeyBase client says it can't find it. I can see it when I'm not logged in, so presumably I'm not shadow-banned. Here is the link:

https://www.reddit.com/r/KeybaseProofs/comments/37ltwc/my_keybase_proof_redditdomanite_keybasedomanite/

[2017-05-03 11:01] UberActivist commented on #2866
I need my kbfs to be reset as I don't know what happened to the old paperkey, and I had to reinstall windows a month ago. What should I do?

[2017-05-04 08:16] jtsmith0101 commented on #2964
Norton360 (Symantec) is flagging runquiet.exe as "Trojan.Gen.8!cloud".

[2017-05-04 08:35] UberActivist commented on #2866
I need a reset because I lost my paper key and had to reinstall windows last month. What do I need to do?

[2017-05-04 09:09] Xalaxis commented on #2964
Whilst Sophos does not flag the file themselves, they will detect it when using 'Sophos Clean' for a deep scan as it cross-references other Anti-Virus providers:
[code]

Classification: Trojan

[2017-05-04 10:02] oliverklee opened #2969 "Add Mastodon for social proofs"
Mastodon is a new, open-source-powered social network. I propose allowing it for social proofs, too.

[2017-05-04 15:19] mlsteele commented on #2270
@BruceWilliams `keybase id domanite` works fine for me. Are you still having trouble with it? Could you do a `keybase log send` if you are?

[2017-05-04 15:34] mlsteele commented on #2866
@UberActivist Go to https://keybase.io click "Login" then "Recover account" and it should give you instructions. Let me know if you have any trouble.

[2017-05-04 23:03] DoctorEww commented on #146
+1

[2017-05-05 07:19] apfelchips commented on #2967
Oh thanks.

-----BEGIN PGP MESSAGE-----
Version: Keybase OpenPGP v2.0.70
Comment: https://keybase.io/crypto

wcBMA8wAq9xUlS/pAQf9GyRKm2nEO2H5Tfbw1iobm0PFANGg1yGek6dpFK3vpupL
wHeVqdKzoQakRN1s25sgR8nJ4lDMOvsUpDqJe+4xIX1dDfJjyQ8v34JHYj0Gi1S2
0UnMF/NZe+61fEOBY0Vrmoc3w820Vt4bdyqTxr9r9eVTNPFU9+jMcswwBBhB1y+S
oQAUdVivTjSYM6c11NvToZQxkF0UF+0enixaeHlLLyeCavyKvfIulLhmF45wpmMu
No0UiOzJpPNgYc0fZY4Rd5TG0S9qPup

[2017-05-05 13:02] abjugard commented on #763
This issue has been open for a while now. I am very much of the opinion that I had back in feb 2016, that country specific tlds like .se and .de should carte blanche allow the full language of those countries. I know Google Chrome has a wider approach, allowing the use of any language on any tld as long as there is no mixing of languages (there are some restrictions, it's all detailed here: https:

[2017-05-05 19:11] apfelchips commented on #2967
oh sorry didn't see the signing requirement there, anyways here it is...

-----BEGIN PGP MESSAGE-----

hQEMA8wAq9xUlS/pAQf+M0XO4RWwnmcuJwZ7pfbtRopx7tERX2Cqj53SHjXZu1Dk
3Uc8qi2i9UNhIdFz+6D73u3isSsGGFJkzZJDLjVkErtW8eozHJh8O+4tleYso34T
5p17Ase2ErraoBS530cfnJxClym4Ewje7OAnLXyJ+oWPjPHhD5OApo6gSDK3t8Im
BDMXnf+jN4vJyJMkKek9lDEVajtNBb7MxrtfSayo9xPOkxZ00Z0A1ugvkura9bSm
ypJDyqJj7eAl+DUCX2y2u8YXhvZpUW9hjggQb

[2017-05-07 08:32] UberActivist commented on #2866
Just to be clear, I need to reset keybase filesystem (like the OP) not my entire account.

[2017-05-07 13:33] strib commented on #2866
@UberActivist: If you want us to reset your folder, please run this command on an currently-valid keybase device, and substitute the current date and time where indicated:

[code]

and post the results here.

[2017-05-07 14:49] kosborn commented on #2933
Great, thanks!

[code]

[2017-05-08 07:23] ankoh opened #2970 "Broken graph in the Web UI"
I used "Reset your keys & start from scratch" a few times.
Since the last reset, the graph is broken and my chain still shows the previous actions.

https://keybase.io/ankoh/graph

[2017-05-08 09:02] PointyDev opened #2971 "Change name of notifications in Notification Centre on Windows"
Right now, when currently when I'm modifying my KBFS area, Keybase sends a notification, but the name is "electron.app.Keybase", as seen in this image: [https://keybaseneedsbetternotifications.is-me.me/2679a0.png](url)

Another Electron app for example, Discord, just has "Discord" as the name, as seen here: [https://discordhasbetternotificationsthankeybase.is-me.me/e6f126.png](url)

Just thought I

[2017-05-08 09:09] PointyDev commented on #2968
In the meantime, you could disable from either:

- %appdata%\Microsoft\Windows\Start Menu\Programs\Startup
- Start-up tab in Task Manager: [https://keybasestuffidk.is-me.me/3c6cc7.png](url)

[2017-05-08 21:35] #2967 closed

[2017-05-08 23:49] #2472 closed

[2017-05-09 04:50] mkosmo commented on #2753
I'd also love to have this function.  The chat notifications got me thinking about it most:  I really don't like having a plaintext email pointing to the fact that I have pending encrypted communications pending.

[2017-05-09 04:52] jvoss commented on #2753
I tend to agree with mkosmo. It would make more sense to PGP encrypt email notifications.

[2017-05-10 05:52] UberActivist commented on #2866
C:\Users\ubera\AppData\Local\Keybase>keybase sign -m "May 10, 2017 at 12:49 AM CDT (UTC-5): Please reset folder /keybase/private/uberactivist because all the devices that have access have been revoked."
BEGIN KEYBASE SALTPACK SIGNED MESSAGE. kXR7VktZdyH7rvq v5wcIkHbs0lyDLl p6CF2oXFPlMffLw iJNroDWmn6rdqOR ZxAIg53JxPNV9zW Qhi9RPoy72o2GaX lQDNmgh5GqXN0ex 4JOhtvA3dG7reWr zkMCxY7pEVSkFdy QnFGmEAwKrqk4B

[2017-05-10 17:01] strib commented on #2866
Thanks @UberActivist.  I reset your private TLF. Can you please check it out and close this if things seems to be working now?  (Might require a Keybase restart.)

[2017-05-10 19:43] UberActivist commented on #2866
Yep. It's working now. Thank you.

[2017-05-11 13:11] jjatria commented on #2969
This is a duplicate of #2948, and it's already been added to #518

[2017-05-11 14:21] oliverklee commented on #2969
Ah, thanks! Closing.

[2017-05-11 14:21] #2969 closed

[2017-05-11 18:36] zanderz commented on #2938
@Lyxnx Did disabling your antivirus help?

[2017-05-11 18:37] Lyxnx commented on #2938
@zanderz Ah yes, thank you. Sorry - forgot to post back here.

[2017-05-11 18:38] #2938 closed

[2017-05-12 00:12] diego898 commented on #2863
bump?

[2017-05-12 11:54] bmwiedemann commented on #2569
https://lists.opensuse.org/opensuse-factory/2017-04/msg00109.html also has information on which 3 rpm macros to set in your OBS project config to get bit-identical rpms out of it.

[2017-05-12 17:43] weswigham opened #2972 "None of my files on keybase.pub are publically browsable"
And all the links to their folders on https://keybase.io/www are dead links. Probably somewhat related to #2609.

[2017-05-12 17:46] strib commented on #2972
cc: @malgorithms

[2017-05-12 19:08] yincrash opened #2973 "android app login issues"
There doesn't seem to be a way to login using the command line client rather than the gui app.

The command line client asks for a text code from the mobile phone, but the mobile phone asks for a text code from the the already logged in device. The desktop gui client seems to provide a text code properly for this.

My command line client is:
[code]

[2017-05-13 12:26] niall-byrne opened #2974 "Facebook Verification Call Fails"
Hi There,

When adding my proof to facebook, via web, or osx client, the posting link fires a callback that returns a 403, and the proof is stuck in an unreachable state.

Here's the call back it fires after posting (I believe this is the right one, I've tried this several times now):
https://keybase.io/_/facebook_callback?sig_id_med=qXoS9WN9bN3iKAQNx85Z7hfFI454Vx0Q1k9_No1Cnvc&token=lgHZIDFlN2VhZj

[2017-05-13 13:39] maxtaco commented on #2974
CC: @oconnor663

[2017-05-13 14:09] epicpewpew opened #2975 "Information regarding provisioning of device. gpg and gpg2"
I had an issue with provisioning my device whereby keybase would not find the secret key.
* used linux OS. Kali linux to be specific
* initially my gpg keys were generated on the root account
* keybase only works on standard user accounts.
* need to migrate secret key on root to standard user

#### On root
[code]
everything works fine here

[code]
output is as expected

#### On standard user
[code

[2017-05-13 18:45] plambert commented on #373
While certainly not a complete solution, it's possible to verify many common email addresses (gmail, yahoo, etc) via the non-email OAUTH or similar services they provide.  This doesn't work for "small shops," but certainly would cover all the big ones.

[2017-05-13 20:47] mologie opened #2976 "Windows executables do not use ASLR and DEP exploit mitigation techinques"
Hi, it seems like all of Keybase's executables have neither DEP nor ASLR enabled. Attached you'll find a screenshot of "Process Hacker", a Windows task manager replacement, which reads a process main executable's DEP and ASLR status.

![sshot-1](https://cloud.githubusercontent.com/assets/597682/26029099/54bbc5d6-382d-11e7-8e2f-1ffb2361ac7c.png)

[2017-05-14 04:31] manibatra commented on #2974
Having the same issue for the Facebook profile manibatra23

Here is the post :

https://www.facebook.com/manibatra23/posts/10155266038026197?pnref=story

[2017-05-14 07:01] oconnor663 commented on #2974
Same issue as https://github.com/keybase/client/issues/6988.

I do have a repro for this locally. The server error is `missing non-optional field post_id`. Something might've changed on Facebook's end. Digging...

[2017-05-14 07:12] oconnor663 commented on #2974
The issue is that Facebook just changed how the facebook.com/dialog/feed flow works. See the deprecation notice here: https://developers.facebook.com/docs/sharing/reference/feed-dialog#response. I think we started depending on that feature shortly before it was deprecated, and I missed the notice.

[2017-05-14 08:13] oconnor663 commented on #2974
This will probably not be fixable in less than a day. In the meantime, we might want to disable new Facebook proofs more explicitly. Sorry for all the trouble here, folks.

[2017-05-14 10:04] EvanPokroy commented on #1901
I'm getting: ▶ ERROR ImportKey error: openpgp: invalid data: entity without any identities

[2017-05-14 13:11] amillerchip commented on #2107
I did this (on OSX), and I got three prompts:

1. One command-line full-screen prompt asking for my key passphrase (looked like GnuPG. Also the text was garbled so there could have been an encoding problem).
2. A second command-line prompt asking for my key passphrase again.
3. A GUI popup from keybase asking for the _keybase_ passphrase.

I was surprised that the keybase passphrase was needed at

[2017-05-14 17:57] oconnor663 commented on #2974
I've pushed a small server change that should at least make the error message clearer:

![image](https://cloud.githubusercontent.com/assets/860932/26036530/51070fa6-38ad-11e7-9eca-83d156a6f987.png)

[2017-05-14 21:39] SamuelEnglard commented on #2974
@oconnor663 I'd make that error message appear sooner than it does currently.

[2017-05-14 22:09] oconnor663 commented on #2974
Yes, I agree that it's terrible, but this is the first error we get a chance to show with just a server-side change. A much nicer thing to do would be to gray out / hide the entire Facebook section, but that requires shipping client-side changes, which I don't want to rush out on a weekend.

[2017-05-14 22:11] SamuelEnglard commented on #2974
@oconnor663 I get that, but at the same time as an end user it's very confusing. No winning here so yeah

[2017-05-15 00:43] maxtaco commented on #1901
Cc: @zapu on the above

[2017-05-15 02:16] ppdac commented on #2958
I found the redistributable, under _Other Tools and Frameworks_: https://www.visualstudio.com/downloads/

[2017-05-15 03:49] amillerchip opened #2977 "New desktop device via mobile device, prompts for paper key"
https://keybase.io/adamu/graph

When I created `Bronn` by scanning a QR code from `Tyrion`, I was prompted by the desktop client to enter the `current dune` key for rekeying. I cancelled the prompt, and it popped up a few more times, until it eventually stopped.

Is it necessary to enter the paper key? I thought the link from the mobile device was enough. Is this left over from before mobile devic

[2017-05-15 12:25] jackcasey commented on #2380
Seems like this could do with re-opening.
I've had to uninstall on windows. Not due to some moral high ground or anything, but just the fact that my keybase filesystem (including /private/) is mounted and accessible automatically when my windows PC starts up. No password or anything. I really can't have that :(

[2017-05-15 12:56] Brianetta opened #2978 "Cannot provision a new mobile device from the keybase command line client"
Both the mobile app and the command line client are asking me to enter a code. Neither are providing a code.

[2017-05-15 13:28] malgorithms commented on #2972
yes, thanks, this is part of the same issue as 2609.

[2017-05-15 13:28] #2972 closed

[2017-05-15 14:44] zapu commented on #1901
@EvanPokroy would you mind attaching your public key? Do you remember what GPG version was your private key generated with? Thanks.

[2017-05-15 15:06] zanderz commented on #2380
@jackcasey If you log out of Keybase, the filesystem will not be accessible.

[2017-05-15 18:41] zoof opened #2979 "Android client says it can't find pgp app when using passphrase"
Linking through another attached device worked fine.

Running Cyanogenmod 13.0-20160731-NIGHTLY-d2vzw on a Samsung S3.

[2017-05-15 21:41] ckxng commented on #2963
I am new to Keybase, so I can't provide a Keybase-specific answer and I don't want to revoke my own key to test it..., but if you can get a copy of the public key that has been signed by the revocation signature, then that could be uploaded to the keyserver as-is.  The keyserver will read the revocation signature packet out of the public key and incorporate it into the key that it has on file.  It

[2017-05-16 00:00] oconnor663 commented on #2974
New proof flow is in review/testing.

[2017-05-16 00:04] zQueal commented on #2978
Specifically what code are they asking for? A paper key?

[2017-05-16 02:15] smitelli commented on #2963
@ckxng Unfortunately I don't have a public key that was signed by a revocation certificate. Nor do I have the private key from which I can create a fresh revocation certificate. Pretty much all I have is the original public key, and the only reason I have that is because it's available on the keyservers.

[2017-05-16 06:31] ckxng commented on #2963
After some further research (mainly in bug reports, because the documentation is unclear), it seems that "revoke" in this context means "stop using".  (See #3484)  It does not appear that keybase actually generates revocation signatures.  I hope that I am incorrect though; this seems like counterintuitive behavior.

[2017-05-16 07:09] zapu commented on #2963
@smitelli Sorry for not replying right away. As far as PGP keys are concerned, there are two types of revocations:
1) PGP-style revocation, in which you generate and sign PGP revocation signature, attach it to your public key and upload that to Keybase (or other keyservers). The key is still available to fetch on Keybase and is "active" in Keybase-sense, but we try not to use it for encryption or

[2017-05-16 07:55] Brianetta commented on #2978
The CLI client presents the following:

    What kind of device are you adding?
    ​
    (1) Desktop or laptop
    (2) Mobile phone
    ​
    Choose a device type: 2
    ​
    Enter the verification code from your other device here.  To get
    a verification code, run 'keybase login' on your other device.
​
    Verification code:

The mobile app asks me to scan a QR code or, alternatively, to ty

[2017-05-16 12:50] malgorithms commented on #2978
hmm, confirmed we seem to have messed this one case up. It's supposed to show a QR code (even in the terminal), which interestingly I think it does work if you go the other way (provisioning a new CLI device using an existing provisioned phone).

we'll be on this, thanks!

[2017-05-17 10:26] m4xch3 commented on #2974
<img width="410" alt="2017-05-17 13 25 14" src="https://cloud.githubusercontent.com/assets/12981964/26149809/691147b6-3b04-11e7-870b-5fad796bc913.png">

[2017-05-17 12:42] mathewcropper commented on #518
I'd like to suggest [Squarespace](https://www.squarespace.com).

It's possible to add public pages for verification, like `https://mydomain.com/keybase` or `https://mydomain.squarespace.com/keybase`, but it isn't possible to add text files to the root, making these sites unverifiable at the moment (as far as I can tell). My site verification just died after moving to Squarespace 😢

[2017-05-17 12:43] creatrixtiara commented on #518
My site is on SquareSpace and I was able to verify it via domain name!

*---*
*Tiara S. | Creatrix Tiara*
Creative producer, media-maker, artist, writer, activist, organiser,
changemaker
signs up for anything that looks interesting.
http://creatrixtiara.com

*CURRENTLY SEEKING WORK IN MELBOURNE OR REMOTE!*
Contact me for any opportunities, gigs, jobs, and so on related to arts,
media, tech, educat

[2017-05-17 12:46] mathewcropper commented on #518
@creatrixtiara You rock! I had no idea that you could do that. That's my immediate problem solved 👍

I think it would be cool to still consider Squarespace, in case those without access to their site's DNS still want to verify, but I'm a happy man thanks to your help. Thank you!

[2017-05-17 15:17] oconnor663 commented on #2974
@m4xch3 yep, that error's intentional right now, and we'll remove it when the new proof flow is live. Still in Facebook review.

[2017-05-17 20:47] DeepMac commented on #2979
FYI, seen this same error on a Motorola Droid Maxx running Android 4.4.4, Kernel 3.4.42-q6ca5516
Tried installing AGP and then re-starting the passphrase login process, gives the same error message.

[2017-05-18 13:10] zapu commented on #2976
cc @zanderz

![image](https://cloud.githubusercontent.com/assets/451974/26203548/fd97cda6-3bdb-11e7-8b6a-282d8708cc54.png)

Can confirm with Process Explorer. The GUI process enables both DEP and ASLR, but the service process does not.

Also GUI still has "GitHub, Inc." as Company Name.

Thank you for your report.

[2017-05-18 13:15] zapu commented on #2975
`gpg2` manages the keys a bit differently than `gpg`, with gpg-agent being non-optional; so usually the problem is related to Keybase using different `gpg` than the user is using (knowingly or not) and not finding the keys.

I'm glad you managed to solve your issue, thank you for using Keybase!

[2017-05-18 15:23] Brianetta commented on #2978
'''
$ keybase version
Client:  1.0.23-20170517160116+aa0e681
Service: 1.0.23-20170517160116+aa0e681
'''

I can confirm that this issue has been fixed. I successfully provisioned an Android tablet using a QR code displayed on a text terminal.

[2017-05-18 16:42] zanderz commented on #2976
The short answer is that those executables are written in Go, which doesn't have these features. Whether they are truly needed is a matter of a big debate:
https://groups.google.com/forum/#!topic/golang-nuts/Jd9tlNc6jUE
Exploiting the lack of ASLR and DEP would seem to depend on loading some arbitrary, unsafe DLL, but we have made some effort to only load legitimate system DLLs.

[2017-05-18 19:56] oconnor663 commented on #2974
Ok, the fix is live. Please try it out and let me know if you run into problems.

[2017-05-18 20:09] bobtiki commented on #2974
Just worked for me.

[2017-05-18 20:59] SamuelEnglard commented on #2974
Worked for me too!

[2017-05-18 22:41] niall-byrne commented on #2974
Resolve for me as well, thanks for taking care of this.  Is this a bad time to suggest Linkedin?

[2017-05-18 22:43] julesthebit commented on #2974
Yes, working here too. Thanks guys.

[2017-05-18 23:40] xaviex commented on #661
Maybe this could be possible for people who really want it, im the account bio, that is public to all users

[2017-05-19 05:11] aggieben commented on #1554
Twitter removed my old proof tweet recently (maybe today?  yesterday?)  and won't let me post a new one:

![image](https://cloud.githubusercontent.com/assets/1321/26234104/bae50dc4-3c27-11e7-82db-9ecc41e30ede.png)

[2017-05-19 12:43] dsthode commented on #1510
I've changed yesterday the certificate on my website and I had the email this morning too, telling that my web proof just broke, but it's really fine there: https://dsthode.info/keybase.txt

To add some more info, I changed certs from StartCom to Let's Encrypt and also I bundled the cert and the chain in the same file, serving it with the SSLCertificateFile directive in Apache (with StartCom I ser

[2017-05-19 14:54] rsyring commented on #2193
For what it's worth, I had problems with this same error message.  I initially tried:

[code]

Based on suggestions in this issue, I then tried:

[code]

And follow the instructions.  That resulted in keybase being able to decrypt pgp messages.

I'm not sure what `--select-only` is or why it was needed.  If Keybase could have detected that more work was needed on my part (e.g. running with --selec

[2017-05-19 19:23] CTassisF commented on #2974
My Facebook proof is still failing :( I've tried revoking and adding it again a few times already.
Keybase profile:https://keybase.io/ctf
Facebook proof: https://www.facebook.com/ctassisf/posts/10213150101210421

[2017-05-19 20:05] oconnor663 commented on #2974
@CTassisF hmm, it looks correct at first glance. I notice that there's a one letter difference between the sig ID in your post and what I see when I manually base64 the sig ID from https://keybase.io/ctf/chain. Let me look into that..

[2017-05-21 10:40] nikhita opened #2980 "No way to save chats on disk"
Is there a way I can save the chats on my disk? I couldn't find any such information on the website. Apologies if it's already there.

[2017-05-21 20:35] cjb commented on #2980
Hi!  They're actually already cached in a database locally, in a directory called keybase.chat.leveldb.  It sounds like we should think about writing a tool that can export from leveldb to plain text..

[2017-05-21 20:38] nikhita commented on #2980
Thanks for the info! I am fine with it being cached in a database locally.

But I guess a tool like that could be helpful for other users as well.

[2017-05-22 06:17] hfaran commented on #2838
I kind of forgot to follow up on this, but I retried with a new code, and it worked this time. So whatever the issue was, looks like it's gone now. ¯\_(ツ)_/¯

[2017-05-22 06:17] #2838 closed

[2017-05-22 10:16] zoernert commented on #2613
Still exists.... According to the Details TM shows it thinks that KeyBase holds files and encrypts them (what it does by purpose). So signature of installer seems not to be the issue... The question for me is, if it might be possible to build it for cygwin ?

[2017-05-22 12:11] runn1ng commented on #2492
Well, I got to the same point, I have no idea what to do.

I did `keybase pgp select`. I will "change my mind"? How do I change my mind? I cannot find any of the settings you describe in this thread

[2017-05-22 14:11] mlsteele commented on #1510
@danielsmith-eu your site looks completely down to me.

@chekalskiy looks fine now :)

@dsthode Looks like your server is not serving a full certificate chain. It looks ok with browsers because they have CAs bundled. SSL labs is a good test for this: https://www.ssllabs.com/ssltest/analyze.html?d=dsthode.info&hideResults=on&latest Try to get rid of `Chain issues: Incomplete` there.

[2017-05-22 15:45] oconnor663 commented on #2974
Ok, the one letter difference is expected, I always forget that. (Has to do with a signature type byte that we append to the full ID.) `keybase id ctf` is working for me now and showing your Facebook proof -- let me figure out why the server disagrees...

[2017-05-22 16:42] oconnor663 commented on #2974
@CTassisF yep, this was a new server bug. We weren't consistently handling the capital letters in your Keybase username. Fix is in review.

[2017-05-22 17:24] oconnor663 commented on #2974
@CTassisF ok, you should be able to remake your proof now. Let me know how it goes.

[2017-05-22 18:04] dsthode commented on #1510
@mlsteele Ok, set SSLCertificateChainFile and SSLCertificateFile directives in Apache configuration, the SSL Labs warning disappeared and Keybase recognized my web proof.
Thanks!

[2017-05-22 18:49] gclawes commented on #2199
Is there a reason the sigchain is not wiped when a user's account is resetted?

[2017-05-22 18:50] CTassisF commented on #2974
Fixed :) Thanks!

[2017-05-22 20:53] zapu commented on #2979
This issue should be fixed now, would you mind getting a new version and trying this again? Thank you

[2017-05-22 22:49] DeepMac commented on #2979
Yes! It works now, i forgot to update that I tried it over the weekend after I saw the app updated. Registration worked fine and chats are functional.

[2017-05-25 11:53] murshid1988 commented on #2445
I think the problem still exists

[2017-05-25 13:04] #2970 closed

[2017-05-25 20:06] Enigelstewart commented on #2886
Ping

[2017-05-25 20:20] cjb commented on #2886
Yes, these ideas sound interesting.  But we're still early in our spam/abuse protection work, and this anonymous feature would depend on having that in place first, so it won't be happening soon, I'm afraid.

[2017-05-25 23:43] mcaceresb opened #2981 "Cannot log in; can my account be reset?"
I think my account is locked. Can you reset it?

I was testing out keybase, and I revoked the first and only key I had created. As I understand from #2310, if you delete your last key then your account becomes locked and the only way to access it is to have it reset. The exact errors I get:

[code]

If I try to add my public key,

[code]

I looked for a contact form on the site but did not find ou

[2017-05-26 09:09] Oldrego commented on #2981
Im having the same issue as the user above me. My account needs to be reset, but, because I didn't generate a PGP key before I revoked my last key, I can't reset my account.

If there's any way to reset it, I'd be much obliged.

[2017-05-26 12:26] berezovskyi commented on #2132
Same issue, log id `a2e7b1b2c1a4de48757f5d1c`.

[2017-05-26 13:14] maxtaco commented on #2132
I see these warnings:

[code]

@berezovskyi try `keybase pgp select --no-import` instead, it might work.

[2017-05-26 13:17] maxtaco commented on #2981
@Oldrego I reset your account

[2017-05-26 13:18] maxtaco commented on #2981
@mcaceresb I reset your account

[2017-05-26 13:34] berezovskyi commented on #2132
I had to install gpg1 and because `--gpg` flag is ignored by `keybase`, I had to move the `gpg2` symlink to `gpg2.1` and only then I was able to import the key (after exporting private keys from gpg2.1 into gpg1 keyring).

[2017-05-26 13:37] maxtaco commented on #2132
It's not ignored, it's just confusing and maybe buggy since it only applies to the short-lived client but the long-running service is doing the work.

It should always work correctly to do this:

[code]

Sorry for any confusion

[2017-05-26 16:55] automaticgiant commented on #2482
[code]

[2017-05-26 19:04] niall-byrne commented on #2974
There seems to be a secondary issue here, the callback is now throwing a 500 error.

[2017-05-26 19:15] techmagus commented on #2974
Throwing: "Error 500. Something is not right. We will look into it." When posting.

Tried posting manually but it doesn't read the manual posting.

Could be that FB is filtering keybase.io or blocked altogether.

[2017-05-26 19:16] maxtaco commented on #2974
See our earlier announcement on Twitter and in a different GH issue, but FB has shitcanned our App, so we're now in a review/appeal process to reenable it.  Hopefully within 24 hours. Stay tuned!

[2017-05-26 19:29] niall-byrne commented on #2974
Thanks for pointing this out.

[2017-05-26 20:06] io4 opened #2982 "Getting NaCl private key out of paper key?"
I found that the encoding is done using a wordlist ( https://github.com/keybase/client/blob/14968b1b5d4ed1d5862305f336c61a7d2c83d7ce/go/libkb/secwords.go )

I still dont find how the private key can be encoded in *only* 13 words, where each word can hold 11 bits (log2(2048)) (143 bits for 13 words, which AFAIK is less than the key length), or how the encoding/decoding is done.

[2017-05-26 20:23] maxtaco commented on #2982
This is a great question, we stretch the key using scrypt to save typing.  I think the key has about ~100 bytes of entropy and then we stretch pretty aggressively

More details [here](https://github.com/keybase/client/blob/master/go/engine/paperkey_gen.go#L90-L104) and deeper in the call tree.

[2017-05-27 00:18] niall-byrne commented on #2974
I see that the secondary issue is resolved now.
@oconnor663 Thanks for resolving this, and @maxtaco thanks for disseminating the info with respect to facebook's approval process.

[2017-05-27 01:01] spotlightishere opened #2983 "Chrome extension recognizes docs as a user"
When on a page such as https://keybase.io/docs/extension and opening the Chrome extension, the following may occur:
![Extension recognizes docs as a user](https://cloud.githubusercontent.com/assets/10055256/26516572/f94dcebc-424d-11e7-9a62-b413a4625ad1.png)

As `docs` is not a real user, an exception might want to be made for it.

[2017-05-27 01:43] io4 commented on #2982
If I understood the code properly, the logic is:
You get 13 (143/log2(2048)) random words (where first 26 bits must be version and id) and then:
* Scrypt the result converted into bytes with C: 32768, R:8, P: 1 Len: 128
* Feed to passphrase_stream which takes from 64 to 96
* Give to NaCl as a seed to generate a key

[2017-05-27 02:03] strib commented on #2983
cc: @shazow

[2017-05-27 10:19] AlexanderBodin commented on #2981
Seems like I'm having the same issue as the users above. I've reset my account, added & revoked the first device - now I can't reset it anymore.
[code]
@maxtaco I'd appreciate if you could reset my account, too.

[2017-05-27 12:49] gh-jslee1301 opened #2984 "Verify domain"
Proof domain ssl and dns

[2017-05-27 13:10] pressurehead commented on #40
@malgorithms is there a help section for Keybase? I signed up last night and started verifying, but my Keepass didn't save my password. I have tried to reset it at the website but get: You can't reset your passphrase, since you have active device or paper keys. The following devices all have the power to change your passphrase.
Mobile Device
If you have lost all these devices, please contact max@k

[2017-05-27 13:12] maxtaco commented on #40
Did you explicitly click the "sign off" button in the keybase app?

On Sat, May 27, 2017 at 9:10 AM pressurehead <notifications@github.com>
wrote:

[2017-05-27 13:14] pressurehead commented on #40
I have, yes.

[2017-05-27 13:18] maxtaco commented on #40
Ok I don't think this is a bug meaning the app is working as intended.
Unfortunately the only thing we can do is to reset your account.  This is
by design because otherwise someone who had stolen your phone could collude
with someone who has compromised keybase's database to own your account.

When I get back to the office on Tuesday I can reset your account. Send me
an email at that address.

On

[2017-05-27 13:20] pressurehead commented on #40
Thank you very much Max. Especially for responding so quickly on a Saturday morning!

[2017-05-27 15:55] AmirIHz commented on #2981
I have the same problem. I revoked the mobile device on the mobile device itself, and I wanted to readd it. I had added some proof (Twitter, FB and GitHub) already, but not a PGP key yet.

I can log into my account via a browser, however, I can't log in via the macOS app nor the iPhone app.

In the macOS app I get the following error message:
[code]
In the macOS CLI program:
`▶ ERROR eldest called

[2017-05-28 15:45] dbolser opened #2985 "How do I add a random public key to keybase"
I want to verify messages from / encrypt messages to PGP keys on the internet. How can I do that?

[2017-05-29 13:57] outloudvi opened #2986 "Feature Request: Make GitHub Page proved when GitHub account proved"
Lots of people prove their GitHub account and their GH Page (website) together. I think it would be convnient to prove GH Page from GH account when user wants.
What I mean is that, if a user has proved his GitHub account X, the request of proving X.github.io (if the user asks) could be done without extra confirmation.

[2017-05-29 16:02] tglaeser commented on #2974
This still fails for me ...

https://keybase.io/tamglaeser
https://www.facebook.com/tullia.glaeser/posts/1922031968074002

Got the same HTTP 403 return code when creating the post on fb.

Please reopen. Thanks.

[2017-05-29 18:36] jcgruenhage commented on #2984
Already possible.

[2017-05-30 03:58] niall-byrne commented on #2974
@oconnor663 ^

[2017-05-30 06:05] oconnor663 commented on #2974
Thanks for the tag, taking a look.

[2017-05-30 10:16] saj commented on #2863
I think this behaviour **contradicts `keybase`'s own documentation**.

`keybase pgp help gen`

[code]

I `gen`'d a new keypair (with `--multi`) and was surprised to find a new secret key listed in `gpg --list-secret-keys`.  `gpg --export-secret-keys | gpg --list-packets` [confirmed](https://security.stackexchange.com/a/102260) this key was stored in plaintext.

[2017-05-30 11:18] Espionage724 commented on #2445
I managed to get Keybase running on openSUSE Tumbleweed with the following commands:

- Import RPM Key

`sudo rpm --import 'https://keybase.io/docs/server_security/code_signing_key.asc'`

- Add repo

`sudo zypper addrepo --type 'rpm-md' --no-keep-packages --gpgcheck --refresh 'http://prerelease.keybase.io/rpm/$basearch' 'keybase'`

- Install Keybase (use Solution 2/ignore missing libXScrnSaver dep

[2017-05-30 11:22] aspiers commented on #2569
Other options worth considering: release a [Flatpak image](http://flatpak.org/) or an [AppImage](http://appimage.org/) ([type 2 images can be GPG-signed](http://discourse.appimage.org/t/the-future-of-appimage-type-2-and-new-tools/65)) or a [Snapcraft snap](https://snapcraft.io/).  These package delivery mechanisms offer the kind of control and independence you seem to want.  The downside of these

[2017-05-30 12:45] Espionage724 opened #2987 "With baseurl=http://prerelease.keybase.io/rpm/x86_64/, media.1/media should 404?"
I'm trying to add http://prerelease.keybase.io/rpm/x86_64 as a repo on openSUSE but it wants to try probing http://prerelease.keybase.io/rpm/x86_64/media.1/media as well. If I understand right, if the media.1/media doesn't exist, it ignores that and then uses the baseurl. But in this case, it's denying access, which causes zypper to error-out instead.

Related openSUSE bug report: https://bugzilla

[2017-05-30 12:59] maxtaco commented on #2987
cc @cjb and @oconnor663

[2017-05-30 14:10] maxtaco commented on #2981
CC: @chrisnojima

[2017-05-30 14:11] maxtaco commented on #2981
@AmirIHz  why did you revoke `Mobile device`?  You're in a stuck state since you revoked your last device. We're trying to figure out why people wind up here.  I can reset your account in the mean time.

[2017-05-30 14:17] maxtaco commented on #2981
@AmirIHz  I reset your account

[2017-05-30 14:28] maxtaco commented on #2982
Sorry for the cursory previous reply.  I think the full answer is this, as indicated by [this comment](https://github.com/keybase/client/blob/master/go/libkb/constants.go#L451-L464)

  * Pick 13 words out of BIP39
  * Use the first 2 for a public key identifier
  * Limit the last word only 128 of the words from BIP39, which indicate this paper key is version1.

So you wind up with 143-22-4=117 bit

[2017-05-30 14:33] cjb commented on #2987
Thanks for the report.  It's pretty frustrating that the upstream bug is closed wontfix.  I hope it's okay if I CC @aspiers on the chance that he's interested in the experience.

My intuition is that servers returning 403 instead of 404 are properly configured -- they're choosing not to leak metadata about whether a path is valid to a user which doesn't have permissions on that path.

[2017-05-30 14:37] oconnor663 commented on #2974
@tglaeser, here's what our server is got from Facebook when we tried to fetch your posts:

[code]

Any chance you did something interesting with the permissions you're granting the Keybase Facebook app?

[2017-05-30 14:58] aspiers commented on #2987
Thanks for the cc, unfortunately I'm swamped. @cseader submitted the upstream bug, maybe he can help out here.

[2017-05-30 15:15] oconnor663 commented on #2987
What's the simplest workaround for this? Can we create an empty file at that path and call it a day? Or would we need to special-case this path in S3 configs?

[2017-05-30 16:24] AlexanderBodin commented on #2981
@maxtaco  - what about mine?

[2017-05-30 16:40] maxtaco commented on #2981
ok @AlexanderBodin reset

[2017-05-30 17:59] shazow commented on #2983
On it, thanks!

[2017-05-30 18:00] piotryordanov opened #2988 "Feature Request: Allow to increase/reduce font size"
Hello!

I'm using the latest keybase mac app. Is it possible to increase or reduce the font size?

Cheers!

[2017-05-30 19:48] shazow commented on #2983
Fix will be included in the next release, v1.8.11+ (feel free to close this, I don't have permission).

[2017-05-30 21:05] #2983 closed

[2017-05-31 01:52] tglaeser commented on #2974
Thanks for looking into this. Not that I'm aware of. Not sure what you mean by _Keybase Facebook app_, only trying to link the Facebook account to Keybase. I'm using Keybase via the browser as of now to ensure that I'm running the latest Keybase version.

The [post](https://www.facebook.com/tullia.glaeser/posts/1922031968074002) is public and returns HTTP code 200 ...
[code]

[2017-05-31 03:16] oconnor663 commented on #2974
Yeah, this is a little confusing. There is a "Keybase Facebook app", which is the Facebook entity to which you give permission to read your posts, and our servers act as that app when we read your post through the Graph API. The entire flow looks like this:

1. You make a proof in your Keybase client (the real one on your desktop, or the website), and we generate a link for you to click on.
2. The

[2017-05-31 06:23] junderw commented on #2684
This doesn't work with the link provided by `keybase verify facebook ...` on Linux terminal.

I tried adding &from=<ID> to any of the links that showed up halfway through, but none of them worked. I get a 500 Bad response from Facebook.

[2017-05-31 06:26] junderw commented on #2684
It looks like the bad responses were successfully posting to the page public wall, but verifying on the terminal says "not found"...

Would like to see this implemented better. The workaround doesn't seem to work for me.

[2017-05-31 13:42] thadiousk opened #2989 "May I also have my account reset."
I also while playing with keybase revoked the one and only device I had it set up with.

What is the best course of action?

thanks

[2017-05-31 23:40] bgpugh commented on #528
In addition to IRC, there's now also a matrix.org chat in case anyone prefers that network: #keybase:matrix.org or https://riot.im/app/#/room/#keybase:matrix.org

I'm happy to hand off admin/ownership to a keybase employee. I'd bridge in the IRC channel, but there's no chanops to authorize (see @InAnimaTe's comment above)

[2017-06-01 18:35] zQueal opened #2990 "Re-provision the Same Device?"
I run the `Huawei Nexus 6P` with PureNexus as a ROM. I just found out there's a new version available that I want to upgrade to. The only issue is it's cross version, which means a dirty flash isn't possible and I basically need to factory reset my phone.

Once that's all done and I reinstall Keybase I'll need to set it up as a new device which will add yet another orphaned device that I still use

[2017-06-01 18:45] cjb commented on #2990
We recommend that you just do the revoke/provision and ignore the aesthetics.

Since the device keys are just files, it should be possible to back them up and restore them across a device wipe, and if you did so your phone would still be the same device as far as Keybase knows.

But the reason for per-device keys is that we don't think keys should be copied or moved between devices -- it's a hassl

[2017-06-01 18:53] #2990 closed

[2017-06-04 00:33] tglaeser commented on #2974
I'm not convinced that it is _the very last part of step 4_. While the post shows up in fb, the post creation returns with the 403. So it seems that the public post, while created, is somehow invalid.

[2017-06-04 15:13] changedsoul commented on #2369
I will add this also happens to me all the time. Its rare when I can get a folder to respond without crashing my system. I have begun not even using them and wish they were not auto mounted. Sadly I am new to keybase and am working out how to send logs, so no logging has been submitted under the constant crashing. On a positive note, it crashes very reliably :)

[2017-06-04 20:26] niall-byrne commented on #2974
@tglaeser Your issue seems to be an unrelated new issue to the problem @oconnor663 solved here, I want to suggest we close this ticket and open a new one specifically for this issue.

[2017-06-05 00:10] nerdtron123 opened #2991 "Discord Plugin"
You should make a discord plugin for this.

[2017-06-05 00:36] tglaeser opened #2992 "Facebook Verification Post Fails"
This issue is reproducible with account https://keybase.io/tamglaeser.

While posting from keybase to fb, a new post is created in fb but the request returns with HTTP return code 403. So it seems that the public post, while created, is somehow invalid. Validation of the post from keybase to fb later fails.

Also, from the fb settings page, I can tell that _Keybase_ was added to my fb _Apps_. I se

[2017-06-05 00:36] tglaeser commented on #2974
OK, created new ticket #2992.

[2017-06-05 04:03] #2974 closed

[2017-06-05 08:23] therealprocyon opened #2993 "Can't login forgot passphrase signed out of my only device"
Hi,

Can my passphrase be reset? I accidentally signed out of my phone & found out that I couldn't change my passphrase, right now I got no way to login to keybase, it was getting late yesterday etc, so I was kinda dumb, also I forgot to backup my passphrase, so there's that...

Procyon

[2017-06-05 08:44] therealprocyon commented on #2981
Like I said I forgot my passphrase and it asks for my phone, while I can't login on it. Can you reset my passphrase?

[2017-06-05 12:03] taruti commented on #2369
This seems to be due to numerous filesystem drivers conflicting on your machine.

Two solutions:
1) Find out which one causes an issue with Dokan for you by disabling some of them at a time, and update the issue so we can get debugging and solving it.
2) Don't mount KBFS by setting the mount-point to none (@zanderz is there user documentation for this?)

[2017-06-05 14:05] oconnor663 commented on #2992
Do the app permissions not include "Timeline posts"? If not, that's almost certainly what's causing the error, though I thought it gave me a different error message when I tried that case...

![image](https://cloud.githubusercontent.com/assets/860932/26786971/55947a06-49d6-11e7-9a57-1b54425b3dbf.png)

[2017-06-05 14:10] oconnor663 commented on #2684
We had to add a Facebook Login step after Facebook made some changes in how post permissions work, and our new flow breaks this workaround. I'm not sure whether page support will be possible now, without building a separate flow specifically to support it.

[2017-06-05 14:49] greg commented on #2992
I had the same issue 2 days ago, with all permissions enabled and the post set public. Have any updates been pushed since? If so, I can retry and update with details (let me know if there's anything specific you'd like to know).

[2017-06-05 15:12] oconnor663 commented on #2992
@greg yes this looks like the same error: `{"error":{"message":"An unknown error has occurred.","type":"OAuthException","code":1,"fbtrace_id":"A4cfnkQOYxN"}}`

I don't see your proof posts, but is that just because you deleted them after the failure?

[2017-06-05 15:14] greg commented on #2992
@oconnor663 yes, I deleted them after failure (you can probably see that I made several attempts with the same error 😛)

[2017-06-05 18:20] SDGoodwin commented on #2978
Having the same issue

[2017-06-05 18:58] zer0her0 commented on #2895
Yea this is QUITE annoying, and since I bounce between a couple machines I didn't realize it was a UI/UX issue w/ the software originally, I thought I had just forgotten to do it on the machine I was currently on. Now whenever I login to a machine one of the first things I do is move it, because it just bugs me knowing it's "out of place".

[2017-06-05 20:37] ftunholm opened #2994 "Github image not showing"
I added my Github image after i created my keybase account. It does not seem to update in Keybase.

[2017-06-05 21:03] tkdberger commented on #2991
I think it's a matter of "where can you post it". Every service keybase currently allows someone to prove an identity on has a way to easily link to the proof (allowing other people to verify the identity claim). Discord lacks message permalinks, or any way to link to a specific message at all. This makes Discord proofs just about impossible while still being publicly verifiable.

[2017-06-05 21:05] malgorithms commented on #2994
it catches it eventually....but I sped it up for you.

[2017-06-05 21:05] #2994 closed

[2017-06-05 23:40] zQueal commented on #2991
Yes and no. Each message has a unique debugging identifier which can be used to pull a message via the Discord API. So yes it's possible to do programatically, but not publicly. So yes, Discord isn't a very ideal platform for proofs.

[2017-06-05 23:54] changedsoul commented on #2369
These instructions are quite vague. I have no idea how to mount or not mount these folders. It seems the desktop App does it behind the scenes. As for the disabling drivers too, I wouldn't even know where to start. I am going to need a little bit of help working thru this. I am pretty computer literate, but some stuff I just dont know.

[2017-06-06 00:01] nerdtron123 commented on #2991
there's a search feature though

On Mon, Jun 5, 2017 at 7:40 PM, Zach Queal <notifications@github.com> wrote:

[2017-06-06 00:05] zanderz commented on #2369
We don't yet officially support running Keybase separate from the filesystem, but you can just go to your control panel and uninstall the Dokan Library and that should do it. Note you can still use kbfs via client command line options (`keybase fs`) without Dokan drivers. We would be very interested to know whether that clears up your crashes.

[2017-06-06 02:14] tglaeser commented on #2992
The permission include _Timeline posts_ besides _Public profile_, just not marked as required, so I thought it is not relevant in this context.

[2017-06-06 07:00] HTEredrock opened #2995 "Android O Dev Preview - App crashes on start"
Hi,

I've noticed on the dev preview of Android O (Running on a Nexus 6P) that the Keybase app crashes on startup.

I realize its probably not a priority to support Android O yet but I thought I'd log the issue anyway to make sure the issue is known.

If there is anything I can do to help debug, let me know (I'm pretty new to this), otherwise, keep up the great work!

[2017-06-06 08:32] ftunholm commented on #2994
Thanks a lot!

[2017-06-06 09:43] junderw commented on #2684
@oconnor663 Thanks for the update............ this is kind of disappointing... :-(

I was trying to connect https://keybase.io/blockchaindgk with https://www.facebook.com/blockchaindaigakko/ but I guess I'll just have to wait and leave it at just twitter for now...

I personally think keybase.io is a great place for users and companies to verify each other's identities cryptographically, so I can'

[2017-06-06 19:09] oconnor663 commented on #2684
I've filed an [internal task](https://keybase.atlassian.net/browse/CORE-5432) for this. I don't think it's a big overhaul, but it will require server support that it didn't need before. (Though of course missing server support to add the `from` parameter for you was pretty bad before too.)

[2017-06-06 19:38] skwerlman commented on #2991
the search is limited to a certain number of messages, so it's not sustainable as a solution

[2017-06-06 20:18] zQueal commented on #2991
Not only is it restricted to a relatively small number of entries it becomes increasingly cumbersome for someone to actually find a proof unless you're using text objects like hashtags.

Using the Discord Webhook API it makes it relatively simple to hook into a Discord text channel to "search" for proofs if you use something like hashtags, but after a while, considering the size of Keybases' user

[2017-06-06 21:57] ollpu commented on #2981
I wanted to change my first device's name, since I there was a typo in it. I promptly decided to delete it and now my account is in limbo. So I'll need the reset as well? (username ollpu)

[2017-06-06 22:45] outloudvi opened #2996 "Mobile website: "Pick your primary" triggered too easily when modifying other items"
At the mobile website, the "Pick your primary" window is often triggered when editing other information like SNS or Bitcoin addresses.

[2017-06-06 22:47] outloudvi commented on #2996
Environment: Firefox Android 52.0.2 with uBlock Origin installed

[2017-06-07 00:48] changedsoul commented on #2369
Ok well I removed Dokan and I am not crashing, but I also dont have mapped folders anymore.
I tried keybase fs, but the help is hard for me to understand.
I tried keybase kbfsmount getall to find a list of avail letters to mount to (???)
Then did: keybase kbfsmount set Y: ( to mount fs to Y (?????)
Then did : keybase fs ls -a Y: to get a listing of whats in there, but I get an error.

Clearly I ha

[2017-06-07 01:03] zanderz commented on #2369
Sorry for the misunderstanding, but there can be no mapped folders without the Dokan driver. I assumed that would be better than crashing. The `keybase fs` commands are all command line only, such as:
`keybase fs ls /keybase/changedsoul/private` - get a listing of changedsoul's private directory
`keybase fs cp /keybase/changedsoul/private/somedir/somefile c:\destdir` - copy a private file out of k

[2017-06-07 01:28] changedsoul commented on #2369
I try this command: "keybase fs ls /keybase/changedsoul/private" on the command line and I get
- ERROR Invalid remote path

[2017-06-07 02:25] zQueal commented on #2369
Try;

[2017-06-07 03:06] changedsoul commented on #2369
That seems to execute fine,

[2017-06-07 07:50] therealprocyon commented on #2993
I don't need a reset anymore, as it is done already

[2017-06-07 07:50] #2993 closed

[2017-06-07 12:14] anko commented on #2978
As @Brianetta above, I can confirm that provisioning an Android device from a command line keybase works now. Where it asked for a code before, it now instead displays a QR code, and the process completes correctly.

[code]

@SDGoodwin Maybe you need to update keybase? Post `keybase version`.

[2017-06-07 12:38] SDGoodwin commented on #2978
@anko wow, yep that's my fault. Confirmed updated and provisioning was successful.

[2017-06-07 14:54] sawssenb commented on #2981
can you please reset my account, same problem with revoking the device that I was connected on it.

Thanks.
sawssen

[2017-06-07 15:09] therealprocyon commented on #2981
No need for a reset for me anymore

[2017-06-07 15:48] oconnor663 commented on #2992
I'll spend some time investigating this in the coming week, to see if I can repro.

[2017-06-07 16:25] zanderz commented on #2369
Whoops, sorry for the typo

[2017-06-07 19:08] themovement919 commented on #567
can anyone help me move my keys to usb?

[2017-06-07 19:40] strib commented on #2685
Very sorry about the delay, but for what it's worth I think I just made a fix for this (keybase/kbfs#1022).  It will be available in the next release.

[2017-06-07 21:36] alexykot commented on #2978
Can confirm - I've had same issue on version 1.0.18, and it fixed itself after update to 1.0.24

[2017-06-08 06:09] hsoc commented on #2925
Documentation was improved:
If you've lost all your private key(s), you can do this. You will have to prove ownership of your social identities again. If you're using the Keybase chat or filesystem, you will lose data.

[2017-06-08 06:09] #2925 closed

[2017-06-08 15:05] jasmas commented on #1372
This is a duplicate of #590 closed long ago.

I don't think there is any privacy concern and it doesn't seem to me that keybase need take on the burden of email verification to make this happen. This problem was mostly already solved by the existing web of trust.

Since email is by nature transient, keybase actually SHOULD NOT verify email in my opinion because there can be no standing proof for i

[2017-06-09 02:58] lemieux commented on #2889
I'm not sure how I can prove my identity to you with other means. This encrypted message is useless to me since I no longer have my private key. I've verified my account with DNS, and multiple social accounts.

Apparently, my main email account (marc@marcantoinelemieux.com) wasn't linked to that account for some reason, even though I was invited on that one for the alpha. I have no idea on to reco

[2017-06-09 03:01] maxtaco commented on #2889
I see you've proven this github account, so if you consent, I can just reset your account here.  Also, as backup, can you post:

[code]

to twitter?

[2017-06-09 03:02] lemieux commented on #2889
sure thing!

[2017-06-09 03:09] maxtaco commented on #2889
ok, i've reset your account, thanks for bearing with me

you can now use the "passphrase recover" option of the Web-based login form

[2017-06-09 03:12] lemieux commented on #2889
hmm so what's supposed to be different? when trying the form I still don't get any email anywhere to recover my passphrase

[2017-06-09 03:12] maxtaco commented on #2889
oh right, this problem too.  one sec

[2017-06-09 03:14] maxtaco commented on #2889
i see the problem btw, you left out the 2nd `i` in your email address.

[2017-06-09 03:14] lemieux commented on #2889
......... lol.

[2017-06-09 03:15] lemieux commented on #2889
no wonder I didn't get any email ever

[2017-06-09 03:17] maxtaco commented on #2889
yeah, you had `marc@marcantoinelemeux.com`

ok, try the email recovery again, should work

[2017-06-09 03:19] lemieux commented on #2889
all good! thanks a lot :)

[2017-06-09 03:20] lemieux commented on #2889
I wonder how my account got verified in the first place though 🤔 I guess the alpha didn't have much verifications back then

[2017-06-09 03:20] #2889 closed

[2017-06-09 03:21] maxtaco commented on #2889
we don't use email verification for much, since a lot of people don't bother with it.  the DB shows your email was never verified.

[2017-06-09 03:22] lemieux commented on #2889
oh I thought you said it was verified in the first messages of this thread

[2017-06-09 07:46] junderw commented on #973
This issue can be closed right?

![image](https://user-images.githubusercontent.com/11246316/26965966-212dd450-4d33-11e7-95a5-0ffcd68e0191.png)

[2017-06-09 07:47] junderw commented on #973
I might work on fa-ifying the current logo

![image](https://user-images.githubusercontent.com/11246316/26965991-45f54c82-4d33-11e7-9497-4d6ee61841ea.png)

[2017-06-09 10:44] #2876 closed

[2017-06-10 04:47] dabura667 opened #2997 "[Desktop] Device > Add Device should show a QR code"
Currently Mobile app wants to scan a QR code to pair with desktop, but desktop only shows a place to type in a paper key and does not display a QR code.

Expected: Desktop should show a QR code

Workaround: terminal "keybase device add" shows a QR code on the terminal.

[2017-06-10 04:50] dabura667 opened #2998 "[iOS] Pairing with QR code ignores user input name"
If you attempt to first-time log in to user xyz on iOS and scan a QR code for user abc, you will pair with abc.

Expected: a warning should pop up saying that the QR code user and the input username are mismatched to prevent accidental pairing.

Workaround: make sure you are always aware of which account is logged in on your terminal at all times.

[2017-06-10 06:54] dabura667 commented on #973
Made an svg vector graphic if anyone wants to use it.
![keybase_logo](https://user-images.githubusercontent.com/6586275/27000727-79aa2942-4df3-11e7-94ca-079130731210.png)

[code]

[2017-06-10 09:38] douardda opened #2999 "Publish the android app on F-Droid"
It would be nice to publish the android app on a FOSS app store like f-droid. It would make it much easier (I guess) to install it in countries where crypto is regulated (like France, where the app is not available in the play store).

[2017-06-11 00:02] zQueal commented on #2999
https://f-droid.org/forums/topic/read-me-submission-queue-moved-to-gitlab/

[2017-06-11 12:25] linux-modder commented on #2759
motion to close as this is resolved?

[2017-06-11 12:28] linux-modder opened #3000 "ReKey is hanging and takes a paperkey but never rekeys."
[linuxmodder@crypto-lin]~% keybase --version
keybase version 1.0.24-20170608172739+f903fee

Logs:
d71e237893bd3fd21943fc1c

https://github.com/keybase/client/issues/new?body=[write%20something%20useful%20and%20descriptive%20here]%0A%0Amy%20log%20id:%20d71e237893bd3fd21943fc1c

[2017-06-11 14:09] strib commented on #3000
Hi @linux-modder, it looks like you have two folders that are not yet keyed for your paper key yet (which you just created yesterday).  You need to run Keybase on your `cryptodragons-20170604` to rekey those folders.

[2017-06-11 19:09] #2759 closed

[2017-06-11 22:09] DreamFlasher opened #3001 "Find Facebook and Twitter friends"
It would be great to leverage network effects by enabling finding Facebook friends who also use keybase, as well as twitter followers.

[2017-06-11 22:12] DreamFlasher commented on #389
So by now we have Facebook in the list of supported services. It would be really great to have Jabber in there, too. And yes it's possible, because the profiles are public. For example one could include it in the about free text.

[2017-06-11 22:43] Xenthys opened #3002 "Ratelimit client-side DNS checks"
Hello!

When a friend (@Zoddo) started following me, he encountered a validation error on one of my DNS proofs.
After some investigation, we figured out it was caused by my DNS provider (Cloudflare) that seems to stop answering when too many requests are sent in a small time span (< 1s).

I've proven ownership of even more domain names using DNS since our tests, so you should get errors if you try

[2017-06-11 22:56] zQueal commented on #389
#518

[2017-06-11 23:01] linux-modder commented on #3000
That was nuked due to issues with the host machine.  That seems pointless then if it needs rekeyed and can't take a paperkey.

[2017-06-11 23:12] zQueal commented on #3001
It's not automatic, but you can already search based on proofs if you know who you're looking for e.g;

    keybase id zqueal@github
    keybase id DreamFisher@twitter

[2017-06-12 03:22] strib commented on #3000
It can't take that particular paperkey, because you didn't create the paper key until after the folders were unreadable, unfortunately.

I just noticed that both of those folders are with other users.  So all you need to do to get access is to ask those other users to sign into Keybase on one of their devices, and they will do the rekeying for you.

Let me know if you can't figure out which users

[2017-06-12 05:50] jeffmcneill commented on #2674
@zQueal that is not strictly true. Keybase scrapes tweets just fine, without requiring app access to a twitter account. If someone's facebook post wtih Keybase public key/link were made public, it should have no trouble finding it.

I too don't want to turn on the platform for Facebook (and I won't). However, there are people I am connected to on Facebook who may want to be aware I am on Keybase.

[2017-06-12 12:44] zapu commented on #2859
@dltj Sorry for being unable to help before, we are just now going through some backlog of PGP issues. If I'm looking at things correctly, you managed to update your PGP key. I recall testing this scenario lately and I've been able to update expired PGP key using the website, but I admit it's a convoluted and non-obvious thing to do.

Let me know if you have any troubles.

[2017-06-12 13:08] dltj commented on #2859
Hi @zapu -- I'm seeing the same symptoms, I'm afraid.  I updated the key using GPG on my local machine and used the _"Update my key (I edited it elsewhere)"_ option in the web interface to upload the updated public key.  I tried all three signing options and only the _"command line with [bash + GPG + cURL]"_  gives a "Success" message.  I'm still not able to log into the MacOS keybase client or si

[2017-06-12 13:15] malgorithms commented on #2997
thanks - gonna close this because our newest version has this, even in the terminal. make sure to stay updated and you'll get it soon.

[2017-06-12 13:15] #2997 closed

[2017-06-12 13:21] dltj commented on #2859
@zapu: Gist with updated public key and  `gpg --export --armor 304f1344 | gpg --list-packets` output:

https://gist.github.com/dltj/cfb9c85d6022248db5cf32b2ca602b4a

Also, I received a _PGP key updated: "2DA0 8D60 69D2 483D E5E5  37F3 48E5 203C 304F 1344"_ email with the first line that says _"Congratulations! This is your first Keybase key."_

keybase version 1.0.23-20170522181119+8a8aea0 on MacO

[2017-06-12 14:03] dabura667 commented on #2997
Thanks

[2017-06-12 19:24] jaycollett commented on #808
While I understand the one key per device idea, implementing OTP 2fa or the like isn't complicated and if nothing else, helps educate the need for individuals to take more responsibility for security.

[2017-06-12 21:07] linux-modder commented on #3000
That would faster, closing and will do that

[2017-06-12 21:07] #3000 closed

[2017-06-13 11:09] zapu commented on #2859
@dltj are you `dltj` on keybase? Because when I fetch your key using `curl https://keybase.io/dltj/pgp_keys.asc | gpg --import` it doesn't seem to be expired anymore

[code]

What's the error after you try to do `keybase login` ? Can you try to do `keybase log send` afterwards? Thank you.

[2017-06-13 12:50] dltj commented on #2859
@zapu: Yes, I updated the expiration date using `GPG Keychain.app` then upload the updated public key to Keybase using the website.  I tried all three signing options and only the _"command line with [bash + GPG + cURL]"_ gives a "Success" message.  This is what I see on the command line trying to login:

[code]

I've submitted the logs -- the log id is `fbdba211fbbe0c25c53b3f1c`

Thank you for yo

[2017-06-13 13:50] dltj commented on #2859
As an aside, I just found out that I can successfully follow someone on keybase.io if I use the _"command line with [bash + GPG + cURL]"_ signing option.  (Keybase log ID `f1b1b18da3009f297077201c`.)  If I use the other two options, I see the same error messages as display in the original description of the ticket above.

[2017-06-13 16:51] zapu commented on #2859
Got the log, thank you. One more question - do you store encrypted secret key on Keybase.io?

[2017-06-13 19:17] dltj commented on #2859
@zapu: Hmmm -- good question.  I don't _think_ so -- that doesn't sound like something I would do -- but I set up Keybase so long ago I can't remember.  I don't know how to find out if I do.

[2017-06-13 20:51] henryk commented on #1976
I've tracked this for half an hour now and to the best of what I can see, `--no-import` actually does *not*, you know, not import.

Abbreviated log:
[code]

My gpg agent asks for the passphrase to export the secret subkey, which I refused, because I do not want keybase to come anywhere near my secret keys. (Side note: The line numbers in the debug output are mostly useless because they all refer t

[2017-06-13 22:53] zapu commented on #1976
You are correct in your analysis. Thank you for looking over the code.

There are some important details that happen afterwards, though:

in `gpg_import_key.go` on line 200, there is:

[code]

(so `NoSave` will be set to true if `--no-import` was passed to the command).

then in `pgp_import_key.go` on line 294 there is:

[code]

which skips `saveLKS` (which calls `libkb.WriteLksSKBToKeyring`) in t

[2017-06-14 08:57] moontear opened #3003 "Cannot update expired key"
My key has expired quite a while ago. I have updated it locally (extended the expiry date) with no problems and also published to a public OpenPGP server.

I a not able to update my key on keybase. When using the web UI "Update my key (I edited elsewhere)", pasting the public key block I get the following error message:
*Error: Your private key appears corrupted (no valid primary key self-signatur

[2017-06-14 09:15] henryk commented on #1976
Thanks for your quick reply! I wasn't aware that you would actually try to use the key outside of gpg, which is a Bad Idea[tm] :)

Case in point: My new primary/certification key is actually on a smartcard (one of the reasons I want to migrate away from my old 1024D key), so exporting it might prove somewhat challenging. :)
There are subkeys for encryption and signature, which is what keybase was

[2017-06-14 13:44] maxtaco commented on #3003
Cc: @zapu

[2017-06-15 03:01] SuyogSoti commented on #1127
Hey all

I do not know too much about crypto, but I have a couple of questions. Is it not possible to store a private key in the device, and then have one device push it to the others as the user logs on to more and more devices (keybase already keeps track of all of the devices). This way, the keys would not be stored in the keybase servers, and the user would have the private key available with

[2017-06-15 09:00] arthurlogilab commented on #2999
https://gitlab.com/fdroid/rfp/issues/191 and https://github.com/keybase/client/issues/6899

[2017-06-15 14:16] evinhernandez commented on #2985
I am curious . I was just sent an email encrypted and i am trying to decrypt but its not allowing me to. How do i import their public key ?

[2017-06-15 14:23] evinhernandez opened #3004 "Import a public Key"
Hello ,

I am trying to import a public key so i can decrypt the message. when i try doing it in the web app it states that keybase does not have the public key on their servers. I would like to be able to decrypt messages that are not from keybase users is this possible ?

[2017-06-15 20:54] jesseschoff commented on #2525
Please add this functionality. I don't want to have to close the Keybase app to the system tray in Windows every time my computer boots up.

[2017-06-15 22:03] zQueal commented on #2525
--minimized

would be a cool option. Just add it to the startup options by default.

[2017-06-16 17:52] dabura667 opened #3005 "GPG sign commits and tags on github."
GPG signing at least tags would be great.

If for nothing else, because if anyone should be signing commits and tags, it should be keybase... lol

But also because of increased security.

[2017-06-17 14:50] techmagus opened #3006 "Which ciphers does keybase recognise?"
Is there a list of ciphers keybase recognise?

Encountered unknown cipher: 13, it seems that keybase doesn't recognise CAMELLIA256 (and probably anything CAMELLIA).

Will switch to AES256 for now, as a workaround.

[2017-06-18 08:45] jbernardo95 commented on #1952
@cjb What about an account deletion ? If I delete my account and then create a new one ? Does this naming problem disappear ?

[2017-06-18 15:26] cjb commented on #1952
@jbernardo95 No, deleted accounts can't be reclaimed.

[2017-06-18 15:28] maxtaco commented on #1952
This policy prevents users from being tricked if keybase were to
maliciously reset or delete accounts (which we don't do but could
theoretically be coerced to do).

On Sun, Jun 18, 2017 at 11:26 AM Chris Ball <notifications@github.com>
wrote:

[2017-06-18 15:30] jbernardo95 commented on #1952
What If I delete my current account and create a new one with a different username (but same email) is this allowed ?

[2017-06-19 07:49] riinas commented on #2981
@maxtaco I'm having the same problem - I had to fully reinstall the OS on my laptop and lost my pgp key - I've reset the account and removed all devices but now I can't log in with the OSX app on my newly set up machine -
There was an error provisioning
Unknown error: eldest called on user with existing eldest KID
Can my account be reset? Username "riina"
I can't find a contact form on your websit

[2017-06-19 17:22] maxtaco commented on #3006
hi, the Go OpenPGP libraries don't implement Camelia. It's pretty unpopular, so we didn't bother to implement it.

[2017-06-19 23:13] circuitousNerd opened #3007 "- ERROR exec: "gpg/": file does not exist"
Environment:
gpg (GnuPG) 2.0.30 (Gpg4win 2.3.3)
libgcrypt 1.6.6
Windows 10 build 14393
Private key stored on yubikey 4 nano

Steps to reproduce:
Using a fresh keybase account, attempting to upload PGP public key
[code]

[2017-06-20 08:25] blaet commented on #2989
+1

[2017-06-20 08:34] blaet commented on #2981
@maxtaco can you also reset my account?
Was finally setting it up and revoked the only device associated it. Now getting error: ```ERROR Cannot add a new device when all existing devices are revoked. Reset your account on keybase.io```

[2017-06-20 13:24] maxtaco commented on #2981
@blaet I reset your account

[2017-06-20 15:00] kuoirad commented on #2613
You guys might be running into a problem that there is a named malware also called KeyBase.

https://researchcenter.paloaltonetworks.com/2015/06/keybase-keylogger-malware-family-exposed/

[2017-06-20 15:06] kuoirad opened #3008 "Project/application shares name with malware family"
This is related to #2613.

ref: https://researchcenter.paloaltonetworks.com/2015/06/keybase-keylogger-malware-family-exposed/

There is a named malware family called KeyBase.  I suspect it's possible this is why Trend Micro is "aggressively" treating it as malware and deleting installers.

I don't know what a possible fix might be.

[2017-06-20 16:00] nbolt commented on #1242
any progress on this?

[2017-06-20 16:28] maxtaco commented on #3008
Cc: @zanderz any ideas?

[2017-06-20 17:40] dbolser commented on #2985
I think I used this one: https://sela.io/pgp/

The top hit is this one, but it didn't work:
https://www.igolder.com/pgp/decryption/

[2017-06-20 19:13] HTEredrock commented on #2995
Android O support has been added! Yay!

[2017-06-20 19:13] #2995 closed

[2017-06-20 20:11] zapu commented on #3007
Hello, can you do a `keybase log send`? Thank you

[2017-06-20 20:27] ChrisFernandez commented on #2770
closing this.

[2017-06-20 20:27] #2770 closed

[2017-06-21 06:27] jhonatsz opened #3009 "changing username"
i have read that you  cant change username unless you nuke your account. just a follow up question though when I delete my account keybase prompting that  you cant use your prev name anymore. Does that refer to the username before that I would like to change?

[2017-06-21 06:48] jhonatsz commented on #3009
cc: @malgorithms

[2017-06-21 17:52] sgnls commented on #973
I too found it curious that this hasn't been addressed 'properly' before... but @dabura667, that vector is perfect and supports all desired paths :)

[2017-06-21 21:44] dltj commented on #2859
Thanks for taking a look at this earlier, @zapu -- any thoughts on this now?  I just tried it again on the website and the MacOSX client and still see the _no valid signing key_ errors.

[2017-06-21 23:20] nikhildhamija24 commented on #2189
I am not logged in, an unable to recover my passphrase as well. Forgot password is not working, keybase passphrase recover and keybase passphrase change are also not working. What should i do now?

[2017-06-21 23:20] nikhildhamija24 commented on #2189
@maxtaco

[2017-06-22 15:27] outloudvi commented on #2996
Not reproduced currently after trying several times... Close it for now.

[2017-06-22 15:27] #2996 closed

[2017-06-22 16:18] zapu commented on #2859
Hello, sorry for not getting back to you. We are working on simplifying key updating process serverside, I should have more news soon.

You can check if you are hosting encryped private key by logging on the website and clicking *edit* on the PGP key and seeing if you have an option to delete or export it.

![image](https://user-images.githubusercontent.com/451974/27444603-2703d566-5777-11e7-8eac-

[2017-06-22 18:29] Nalapl3 commented on #518
My idea is teknik.io.

[2017-06-22 19:24] dltj commented on #2859
Ah, yes -- my private key is hosted on keybase.io.  Would things be better or worse if I deleted my private key from the Keybase server?  Also, is there an issue to track the server-side key updating process?

[2017-06-22 19:39] intcreator commented on #1712
@petermaloney's answer is "you have to export GPG_TTY=$(tty)".  Just to be clear, that means to enter the following line as is in your Unix shell:
[code]
Then the issue should be resolved.  I was confused at first so I wanted to clarify.

[2017-06-22 19:48] malgorithms commented on #3009
if you delete your account, you're allowed to signup again with the same email address but pick a new username. What you can't do is sign up again with the old username that you deleted. in other words, usernames aren't recycled. there are too many confusing UX issues around the security to allow that.

hope this answers your Q.

[2017-06-22 19:49] zapu commented on #2859
You could try to remove it, since it's expired anyway (sorry for not offering an option to extend it! it's been in backlog forever), and the new one if you want to.

[2017-06-22 19:58] dltj commented on #2859
Ah, okay -- deleted from the website, and the practical effect is that the "in the browser" signing function is no longer available.  `keybase login` on the command line still gives a _no valid signing keys_ error, so I think I'm no worse off than I was before.

[2017-06-22 20:00] zapu commented on #2859
Can you do `keybase log send` after trying `keybase login` ?

[2017-06-22 20:02] dltj commented on #2859
Done!  Log id is `dea2af4838568c64f46bc81c`

[2017-06-22 20:07] mithunnet007 opened #3010 "Vendor Not able to decrypt Version: BCPG v1.38 file"
Hi All,

I've encrypted a file with encryption public key in 2 different systems. One is Solaris System and another one in Cleo Tool running on Linux. After encrypting the file in Solaris System I've got the below output PGP file.

![image](https://user-images.githubusercontent.com/29640914/27453457-2acc4ab0-57b4-11e7-9509-5e74bb1dc7a4.png)

After encrypting the same file with same encryption publ

[2017-06-22 20:08] zapu commented on #2859
Would you mind checking if you have `~/.config/keybase.devel/secretkeys.*` file? We are trying to figure out if the expired encrypted private key got cached somehow.

[2017-06-22 20:16] jhonatsz commented on #3009
@malgorithms yea thanks!

[2017-06-22 20:16] #3009 closed

[2017-06-22 20:33] gilquinobi opened #3011 "I am not able to decrypt saltpack message using keybase"
My message begins with this
BEGIN KEYBASE SALTPACK ENCRYPTED MESSAGE.

I have used these instructions and also used the online keybase decrypt without any luck, please help

keybase decrypt --infile myfile.txt
keybase decrypt -i myfile.txt -o decrypted.txt
keybase saltpack myfile.txt

[2017-06-22 20:46] oconnor663 commented on #3011
Could you include the whole error message please? We just shipped a v2 of the saltpack format, and that could've caused some problems, but it's hard to know without seeing the error.

[2017-06-22 20:47] dltj commented on #2859
I didn't have a _secretkeys_ file there, but did at ~/Library/Application\ Support/Keybase/secretkeys.dltj.mpack (this is on MacOSX).  I removed that (`rm  ./Library/Application\ Support/Keybase/secretkeys.dltj.mpack`) and tried `keybase login` again:

[code]

So I tried moving the entire "Application\ Support/Keybase" directory out of the way and start from scratch.  Success!

[code]

For what it

[2017-06-22 20:49] gilquinobi commented on #3011
I used keybase decrypt -i myfile.txt -o decrypted.txt

ERROR Wrong saltpack message type: wanted an encrypted message, but got an unknown message type instead

[2017-06-22 20:52] oconnor663 commented on #3011
That sounds like a v2 issue. What's the output of `keybase version`? Could you see if updating Keybase fixes the problem for you?

[2017-06-22 21:04] gilquinobi commented on #3011
Client:  1.0.20-20170317111045+6cc2f52
Service: 1.0.20-20170317111045+6cc2f52

[2017-06-22 21:32] zapu commented on #2859
Oh, wow, thank you for digging deeper into it! So there is some unwanted secret key caching. Thank you, this helped a lot!

[2017-06-22 23:00] cjb commented on #3011
@gilquinobi This is an old version, can you upgrade?

[2017-06-23 01:09] GaretJax commented on #2819
I'm running into the same issue. Logging in/out works (on the web), but changing passphrase and logging in over the CLI fails.

[2017-06-23 13:54] oconnor663 commented on #3011
For what it's worth, that does look like the wrong error message. We should be checking the version _before_ we check the message type. I'll file a ticket for that.

[2017-06-23 21:55] JohnTheodore opened #3012 "Keybase chrome app / web browser client"
Some of us have companies that are very strict about what binaries can be run (but not as strict about webapps). It'd be nice if the keybase client could be run as a chrome app.

[2017-06-24 00:45] johnwmail opened #3013 "Rekey mail"
I keep received email like below, even I logined johnw device.

How can I do to solve it?

Thanks.

----------------------------------------

johnwmail -

The following folder needs your quick attention:

/keybase/private/johnwmail
The problem is that your new devices can't access it. Fixing this is easy - just do one of the following:

with device johnw: just open the Keybase app, and it will rek

[2017-06-24 02:05] rpottsoh commented on #2855
Has the windows gui been quietly updated?  Upon start up the UI is not appearing and the icon is still appearing in the tray. :+1:  :1st_place_medal:   I like it!  Thanks!

[2017-06-24 05:18] zanderz commented on #2855
Yes, if the GUI was not foreground when it last ran, it will no longer insist on popping up on update or reboot. The services still start at startup by default, but even if the startup shortcuts are removed, the GUI now will start the service as needed. Thanks for the feedback.

[2017-06-24 05:20] #2855 closed

[2017-06-24 05:49] techmagus commented on #3006
Ah! Alright, all good. :) Thank you for the update!

[2017-06-24 05:49] #3006 closed

[2017-06-24 14:43] unixfox commented on #1598
I've the same issue with my keys stored on my Yubikey NEO.

[2017-06-24 19:52] tglaeser commented on #2992
@oconnor663 FYI, it looks like verification now succeeds. However Keybase doesn't seem to be able to retrieve the avatar from fb.

[2017-06-24 20:56] binamkayastha commented on #2310
I'm getting the same error too, but I dont' have a public key and never successfully added one.
[code]
Could you reset my account as well :) (sorry)

I think it happened cause when I tried to add my key initially, I got the password wrong

[2017-06-24 23:11] oconnor663 commented on #2992
Thanks for the follow-up. The image scraping is a known problem, which we're working on this week.

[2017-06-25 01:57] drzraf commented on #2230
Any hint about how to import an existing ssh-key pair as a gpg [A] subkey would be great
(https://unix.stackexchange.com/questions/372879/)

[2017-06-25 03:32] KeeganEad opened #3014 "Add Participant"
Not sure if this is an issue with functionality or an issue with the UI. Depends on what your intent is I suppose.

If I have a group chat already started, the info icon gives me the option to add a participant.  But then it doesn't actually let me add a participant, it only lets me create a whole new fresh chat with existing group plus that new participant.

Is that how it's supposed to work?  Th

[2017-06-25 03:49] maxtaco commented on #3014
We're working on a long-term fix to this. We need to introduce a concept of "groups" or "teams" which though seemingly trivial is fairly complicated if you want cryptographic guarantees that the keybase server infrastructure isn't inserting participants without your approval.

[2017-06-25 18:07] novas0x2a commented on #2813
Same problem, no aero, {left,right}-clicking tray icon does nothing, and I can't unminimize the client window (seems permanently hidden?). Log is 478abf87eb0932b0bac6161c, shell says:
[code]

[2017-06-25 18:33] novas0x2a commented on #2813
If I turn aero on, everything seems to work as expected, so yeah, pretty sure the problem is that the keybase gui is aero-only in windows.

[2017-06-25 18:38] robyf commented on #2813
I'm afraid it's related to this: https://github.com/electron/electron/issues/1821

The electron developers (keybase uses electron for the GUI) are not willing to even consider looking into this matter :(

[2017-06-25 23:07] zapu commented on #2859
Caching bug has been fixed server-side and will be live soon. Thanks

[2017-06-25 23:16] #2859 closed

[2017-06-26 08:27] jackcasey commented on #2380
@zanderz I have the same issue on my macosx machine. There is no 'logout' option. It seems I can either have my /keybase/private accessible on system start (with no password prompt even), or I can uninstall the app?

[2017-06-26 20:24] zanderz commented on #2380
At the command line (`Keybase Shell` on Windows), issue `keybase logout`. Then the filesystem will be inaccessible at reboot until you log in again.

[2017-06-27 21:17] oconnor663 commented on #2992
@tglaeser this should be fixed now, though unfortunately you need to make a new Facebook proof to re-enable scraping. (It's actually the login flow that does it, not the proof, but currently making a proof is the only time we send you through that flow.)

[2017-06-27 22:11] bradwood commented on #2953
I'm still having this issue... Log ID: 885bfa3776fab86ec5530e1c

[2017-06-27 23:59] maxtaco commented on #2953
@bradwood it seems like your passphrase is long and the OSX keychain threw away your saved password hash.  Does it work to log into the web site?

[2017-06-29 05:54] onelostmuppet commented on #2981
@maxtaco Same issue here unfortunately. Inadvertently revoked my android device after first login and am now unable to add any devices. Could you please reset my account (u: brynley).
Thank you kindly :)

[2017-06-29 14:21] maxtaco commented on #2981
ok, done!

[2017-06-30 04:23] tglaeser commented on #2992
Confirming that the reported issue is resolved as well as the avatar scraping. Please close the issue. Thanks.

[2017-06-30 04:59] #2992 closed

[2017-06-30 12:54] ollpu commented on #2981
@maxtaco Can my account be reset as well? (explained in my earlier message) Thanks!

[2017-06-30 14:08] maxtaco commented on #2981
@ollpu  done!

[2017-07-02 10:24] andreaso commented on #514
Any progress/ETA on deploying IPv6 in prod?

[2017-07-03 10:19] TobiasBales commented on #2724
This would be really great, any chance of it happening anytime soon?

[2017-07-04 09:29] haroon-ali commented on #2739
Hi,
I can help to translate/localize the clients and probably the website into Arabic.
How can I do this?
Is there any localization platform to work on?

[2017-07-04 17:09] dragonsmith commented on #2981
@maxtaco please, reset my account. I was experimenting with how to use keybase mac os x client and unlinked my notebook. Now I'm unable to add it again. `ERROR Cannot add a new device when all existing devices are revoked. Reset your account on keybase.io.` Thank you.

[2017-07-04 17:38] scottstensland commented on #2707
does anyone ever get a response back from max@keybase.io  ?    I too have above issue ... keybase is setup on my desktop computer however I am away traveling so need a way to reset password via email

[2017-07-05 12:30] maxtaco commented on #2981
@dragonsmith  keybase username?

[2017-07-05 12:30] maxtaco commented on #2707
@scottstensland I believe I replied to you this am, but if not, email me

[2017-07-05 14:36] dragonsmith commented on #2981
@maxtaco dr_agon

[2017-07-05 14:39] maxtaco commented on #2981
OK, @dragonsmith, reset...

[2017-07-06 18:15] briandant commented on #2581
Potential fix here: https://github.com/keybase/client/issues/6379#issuecomment-313476120

[2017-07-06 18:45] devang commented on #2981
@maxtaco My account (devang) is in a similar condition. I get the same error as @mcaceresb when trying to add a new key, and the same error as @dragonsmith when adding a device. Thanks.

[2017-07-06 18:47] maxtaco commented on #2981
OK, devang, you are reset

On Thu, Jul 6, 2017 at 2:45 PM, Devang <notifications@github.com> wrote:

[2017-07-07 15:06] A001491 commented on #2981
@maxtaco Same here.

My account: **01123**. Could you reset, please? Thanks.

[2017-07-07 16:11] maxtaco commented on #2981
@A001491 this is a different issue, and it your case a reset doesn't seem required

[2017-07-07 21:12] nakamin commented on #2484
They added this 👍

[2017-07-07 21:12] #2484 closed

[2017-07-08 00:24] A001491 commented on #2981
@maxtaco It's ok. So how could I solve this 'problem'?

[2017-07-08 09:46] dabura667 opened #3015 "[All platforms] User switch feature"
Similar to Slack's team switch option, Keybase should have a user switch option that allows for multiple logged in users on one device.

On iOS and Android, push notifications would be active for all currently logged in users.

Switching between user profiles should be a two tap process.

Just as most people have a personal email and a work email, I personally am planning on using Keybase with a p

[2017-07-08 13:40] AmandaCameron commented on #2987
@cjb Perhaps I'm wrong, but what exact "metadata" could be leaked from a S3 bucket used just for serving apt / rpm / etc folders? zypper / apt / etc don't tend to support passing S3 credentials through to the backing repositories, so it's not like per-user differences make much sense in this context ( Unless I'm missing something, here )

[2017-07-08 13:52] cjb commented on #2987
@AmandaCameron You're not wrong, I'm just speaking generally about the decision of web server software, without any knowledge of what users are serving with it, choosing to return 403 instead of 404 for non-existent paths the user has no permissions on.

Because web server software can reasonably make this decision, I think it's a mistake to interpret 403 as confirming the existence of the file, a

[2017-07-08 14:00] AmandaCameron commented on #2987
Then I guess my question in this area goes to @oconnor663 on whether it'd be acceptable to change the bucket's settings to spit out a 404 instead of a 403 as the default.

[2017-07-08 15:16] Idyllei commented on #3015
I would _love_ this kind of feature. I am a college student and it would be incredibly useful to have separate accounts for personal and academic use (I like to try to keep my lives separate).

I think, however, it should be just a tad more difficult than a two-tap process. That would make it too easy for a malicious user to compromise separate, though related, accounts. Instead, it might be usefu

[2017-07-08 16:47] zQueal commented on #3015
Keybase attempts to tie identities to a single person. Why not just make one key with multiple sub-keys, one for private and one for academic usage, and use them on the same Keybase user?

IMO, that more closely aligns with what Keybase is meant to do. Then you wouldn't need to juggle multiple accounts, either.

Additionally, 2FA is something I'm passionate about and I'd really love to see it some

[2017-07-09 02:28] cjb commented on #2987
It's possible for us to do this, but it's frustrating that Keybase has to special case its web server configuration to make OpenSUSE happy, and it's presumably also frustrating that OpenSUSE has to reach out to every RPM publisher hosting on S3 and ask each of them to do this, and it seems like everyone could save a lot of time if OpenSUSE reconsidered the semantics of this 403, and I guess I was

[2017-07-09 03:35] dabura667 commented on #3015
I would argue a "single persona" would suffice. ie. I have 3 major GPG keyrings attached to three personas I have online. My interactions on all personas are fine, and one of them is connected with my irl name.

Perhaps keybase's vision is different, but I am viewing keybase as "GPG but with a modern SNS feel"... which means I would want to import my 3 personas and switch them freely.

Currently,

[2017-07-10 00:50] ElCyborg commented on #2981
@maxtaco I unfortunately ended up in the same position. I signed up through the client and revoked the device (the client) I was on. Its giving me the same error. Could I get a reset? keybase username is elcyborg

[2017-07-10 13:05] maxtaco commented on #2981
@ElCyborg you are reset

[2017-07-10 15:18] ledubenjamin commented on #2981
Hi @maxtaco , I was testing how to use keybase on my linux laptop  , I've revoke it and now my account is locked. Could you reset it ? thx

[2017-07-12 10:58] cr0bar opened #3016 "Support for secp256k1"
Hi,

Is there any view to support gpg keys using secp256k1? I'm getting unsupported oid at my end.

[code]

Kind regards,
Anthony

[2017-07-12 22:04] Idyllei commented on #3001
@zQueal Why not? Wouldn't that make it easier to follow people you know and make the system more secure?

[2017-07-13 05:44] #2154 closed

[2017-07-13 11:05] NullFlex opened #3017 "Fix for blank loading screen"
1. Start keybase GUI (it wont load till later)
2. Open a keybase shell, appdata local
3.When you are in the folder,  type keybase.exe login
4. Should log you in (gui should work)
5. To mount KBFSDOKAN type kbfsdokan.exe K:

[2017-07-13 11:23] DreamFlasher commented on #3001
It would be great if it were automatic, I semi-automated it with external tools:
=Twitter
1. Export Twitter followers: http://twitterfollowers.me/export/
2. Replace each line such that it is `keybase follow -y username@twitter`
=Facebook
1. Export friend IDs: https://chrome.google.com/webstore/detail/toolkit-for-facebook/fcachklhcihfinmagjnlomehfdhndhep/related
2. Replace each line such that it is

[2017-07-13 16:30] nopdotcom opened #3018 "OS X: kbfs fails when /keybase is not owned by my renumbered uid"
Recently I renumbered uids. This usually involves `chown -R username ~username`. I discovered I had to change the ownership of `/keybase` for the kbfs mount to succeed. Strange error messages spammed me until I did this.

I believe this is the single-user case of #2322.

In this case, my problem would likely be solved if `/keybase` were a symlink to `~/Library/Application Support/Keybase/fs` or so

[2017-07-13 16:32] NullFlex commented on #3017
@zanderz

[2017-07-13 16:35] nopdotcom commented on #3018
Now that I have made a useful bug report, let me separately plead for `/opt/keybase`. It’s available on every Unix we care about.

[2017-07-13 17:37] zanderz commented on #3017
Sorry, are you saying this fixes some previous problem you had? Or are you reporting a problem? If there is still some problem, please do `keybase log send` at the Keybase Shell and describe the issue.

[2017-07-13 18:58] pikimix commented on #2981
@maxtaco I'm in a similar state as a few others here, typo in my (only) device name, and revoked the device. Keybase username is cakemix, can I have my account reset please?

[2017-07-14 13:24] a1exanderjung commented on #710
Any news on this feature? Additionally, for myself and future stumblers of this and other threads, is there documentation on how to add keybase commands and functionality?

[2017-07-14 17:03] maxtaco commented on #2981
@pikimix you are reset

[2017-07-15 10:56] arthar360 commented on #125
More than 3 years and still a missing feature

[2017-07-16 18:41] josh-padnick commented on #1826
We're looking for the exact use case that @fidian describes. In fact, this may well even be a paid feature for Keybase. Just to give some color around our use case:

We started out as a small team of 2, so manual password sharing was good enough. Even though our team are experts at setting up services like HashiCorp Vault, we know enough to know that maintaining *any* extra infrastructure costs mo

[2017-07-16 21:04] zQueal commented on #1826
I'll just throw some quick input in here; I would honestly say that without these two features, having a Keybase team is of little to no value. Encryption is only as strong as your easiest attack vector, which would be anyone able to decrypt your company passwords (or whatever was in your team folder) without having a 2nd factor on their key. (password)

[2017-07-17 02:07] elgumso commented on #1952
I have removed my mobile device to rename it and have ended up in the same situation. Need account reset please.

[2017-07-17 02:19] elgumso commented on #2981
I am in the same situation. Can I please also have an account reset.

[2017-07-17 03:54] virtualdxs commented on #1952
I just thought of a possible replacement: Randomart. You can set openssh to show you the randomart of the host key of the host you're connecting to, and the idea is that you get used to seeing that image every time, and if the key changes, you notice. Could Keybase do a similar thing?

[2017-07-17 04:00] orblivion commented on #160
I just wanted to note something I discovered, that may be of interest to others here who are troubled by the existence of this feature:

* https://keybase.io/dd9jn
* https://gnupg.org/.well-known/keybase.txt

Until this point, I've refused to use Keybase. However, though I don't get it, Werner Koch is okay enough with it to use it. It doesn't make sense to me to refuse to use it anymore if the guy

[2017-07-17 12:57] malgorithms commented on #1826
we're pretty close with an MVP of a team feature. We expect to have it available in skeleton form by the end of the summer. It will have a "signature chain" of team additions and removals, so team additions/removals/role changes will allow be strictly ordered and auditable (it's important keybase can't just add someone to your team.)  Teams will come with both chat and a special files mount. For e

[2017-07-17 13:11] maxtaco commented on #1826
Why don't we bite the bullet and just ship teams this week? It is already
usable!

On Mon, Jul 17, 2017 at 8:57 AM Chris Coyne <notifications@github.com>
wrote:

[2017-07-17 17:34] coolharsh55 commented on #2981
@maxtaco Could you please reset my account as well? Also, is this a bug or an intended behaviour?

[2017-07-17 17:59] BenjaminHCCarr commented on #2975
The solution after much head banging, issue reading, and search for me was to use this:
`benc$ keybase config set gpg.command `which gpg1`
As you need gpg v1 and v2 seems to always fail... on OSX `gpg` is symlinked against `gpg2`

And THEN run:
`keybase pgp select`

[2017-07-17 17:59] BenjaminHCCarr commented on #2132
The solution after much head banging, issue reading, and search for me was to use this:
`benc$ keybase config set gpg.command `which gpg1`
As you need gpg v1 and v2 seems to always fail... on OSX `gpg` is symlinked against `gpg2`

And THEN run:
`keybase pgp select`

[2017-07-17 18:02] zapu commented on #2975
I've been using Keybase against fairly recent gpg2 (compiled from source) on Linux and it seemed to work. Maybe something is different on OSX. Good to hear you got it working in the end!

[2017-07-17 18:10] BenjaminHCCarr commented on #2975
CANCEL THIS... it's not respecting:
`keybase config set gpg.command /usr/local/bin/gpg1`

---

[code]

---

The solution after much head banging, issue reading, and search for me was to use this:
`benc$ keybase config set gpg.command 'which gpg1'` (you need backticks.... but markdown won't escape)
As you need gpg v1 and v2 seems to always fail... on OSX `gpg` is symlinked against `gpg2`

And THEN

[2017-07-17 18:11] BenjaminHCCarr commented on #2975
Mine are current but not working:
[code]

[code]

[code]

[2017-07-17 18:13] zapu commented on #2975
So `keybase pgp select` is not working? Can you do `keybase log send` after a failed attempt? Thank you.

[2017-07-17 18:13] maxtaco commented on #2975
might be that a service restart is needed in there too btw

On Mon, Jul 17, 2017 at 2:13 PM, Michał Zochniak <notifications@github.com>
wrote:

[2017-07-17 18:17] BenjaminHCCarr commented on #2132
Thought it might be the symlink:
`keybase config set gpg.command /usr/local/Cellar/gnupg@1.4/1.4.21/bin/gpg1`
Confirm:
[code]

Run select:
[code]

So something is hard coded against `gpg` which is making it fall back to `gpgv2`

[2017-07-17 18:26] maxtaco commented on #2981
@elgumso  and @coolharsh55 I need usernames.  It's a bug, we haven't gotten around to fixing yet.

[2017-07-17 18:26] maxtaco commented on #2981
cc: @chrisnojima  and @malgorithms

[2017-07-17 18:31] BenjaminHCCarr commented on #2975
[code]

------------
Success! Your log ID is:

  b42c991e35574b948139e11c

Here's a URL to submit new bug reports containing this ID:

  https://github.com/keybase/client/issues/new?body=[write%20something%20useful%20and%20descriptive%20here]%0A%0Amy%20log%20id:%20b42c991e35574b948139e11c

Thanks!
------------

[2017-07-17 18:36] BenjaminHCCarr commented on #2975
No go on service restart (won't restart)
[code]

------------
Success! Your log ID is:

  5cf6d27e098b09b9ded54e1c

Here's a URL to submit new bug reports containing this ID:

  https://github.com/keybase/client/issues/new?body=[write%20something%20useful%20and%20descriptive%20here]%0A%0Amy%20log%20id:%205cf6d27e098b09b9ded54e1c

Thanks!
------------

[2017-07-17 18:37] zapu commented on #2975
Can you try `keybase ctl restart` for service restart?

[2017-07-17 18:38] BenjaminHCCarr commented on #2975
[code]

[2017-07-17 18:39] zapu commented on #2975
Did you have any success in running Keybase at all? Can you talk to you using chat?

[2017-07-17 18:41] coolharsh55 commented on #2981
@maxtaco my username is coolharsh55

[2017-07-17 18:43] BenjaminHCCarr commented on #2975
I can talk to myself yes

I can write to @cjb, but I think he's at lunch

[2017-07-17 18:47] maxtaco commented on #2981
ok @coolharsh55  you are reset.  The real issue is that you revoked your last device, which makes your account useless. We should have better UX around preventing this, though.

[2017-07-17 22:57] BenjaminHCCarr commented on #2132
okay....
so this worked after attempt number xxyyzz:

`keybase config set gpg.command /usr/local/Cellar/gnupg@1.4/1.4.21/bin/gpg1`

This can be gotten on OSX with homebrew: `brew install gnupg@1.4`

---

The restart command is not as listed in `help`:
[code]

You need to run:
`keybase ctl restart`

---

With debug it looks like this:
[code]

[2017-07-17 23:55] elgumso commented on #2981
Thank you @maxtaco, my username is elGumso.

[2017-07-18 06:37] bloodxxx commented on #2981
when I login,ERROR: Cannot add a new device when all existing devices are revoked. Reset your account on keybase.io.   @maxtaco I don't know how to reset my accout on keybase.io .Can you pleae help me reset my account? my username is MiniBai

[2017-07-18 06:38] bloodxxx commented on #2981
when I login,ERROR: Cannot add a new device when all existing devices are revoked. Reset your account on keybase.io. @maxtaco I don't know how to reset my account on keybase.io .Can you please help me reset my account? my username is MiniBai.

[2017-07-18 12:34] maxtaco commented on #2981
OK, reset!

[2017-07-18 12:56] elgumso commented on #2981
I'm still getting "Unknown error: Cannot add a new device when all existing devices are revoked. Reset your account on keybase.io" when attempting to login on the Android app sorry.

[2017-07-18 13:03] maxtaco commented on #2981
@elgumso I just reset your account

[2017-07-19 00:22] nkirsch commented on #2793
I have this issue as well. Expired PGP key; updated locally, don't know how to update in keybase. I can't do anything in keybase due to the expired key.

[2017-07-19 00:45] maxtaco commented on #2793
you can use the Website to update an expired key

[2017-07-19 00:58] leijurv commented on #2793
fwiw @maxtaco as above I could not actually use the website to update the expired key.
I still can't sign on keybase and have to use command line GPG curl to do anything.

[2017-07-19 01:16] maxtaco commented on #2793
We need more detailed error reports to be able to help

[2017-07-19 01:33] leijurv commented on #2793
What kind of detail? I pasted the error up above, and the screenshot of the website error. I don't have anything more

[2017-07-19 01:41] maxtaco commented on #2793
@leijurv do you have the app running?  Why don't you `keybase pgp drop` and then `keybase pgp select --no-import` after that.

cc: @zapu can you help out?

[2017-07-19 02:39] nkirsch commented on #2793
[code]

However, I am still unable to encrypt via the website:

"nkirsch, you're not hosting your private key in Keybase's encrypted key store, so you can't use the in-browser signing script. You can still verify messages, of course."

Suggestions?

[2017-07-19 02:41] maxtaco commented on #2793
This might work:

[code]

[2017-07-19 02:42] nkirsch commented on #2793
It did! Thanks. I had to drop and re-add the key again, but now it's successful:

[code]

Mental note: don't let keys expire...

Thanks for the help!

[2017-07-19 02:43] maxtaco commented on #2793
sure, we've slacked a little on the PGP side of things since we've been
pushing extra hard on chat and team management features. thanks for bearing
with us

On Tue, Jul 18, 2017 at 10:42 PM, Nick Kirsch <notifications@github.com>
wrote:

[2017-07-19 03:11] leijurv commented on #2793
@maxtaco not working for me =(

[code]

[2017-07-19 03:13] leijurv commented on #2793
Would it solve anything to completely regenerate a new PGP key?

[2017-07-19 08:16] Kuret commented on #2981
I'm a little bit confused, I just had my account reset and then, when playing around with it I revoked my device again. I still have my paper keys from my previous install and was under the impression I could use that to recover my old account/proofs so I logged out my only device, thinking I could re-add it with my paperkey somehow. Now I am locked out AGAIN.

My paperkey is useless for recovery

[2017-07-19 09:03] zapu commented on #2793
Does this happen with a newly generated key?

[2017-07-19 12:59] maxtaco commented on #2981
@kuret your account is again reset

[2017-07-19 13:28] leijurv commented on #2793
Generated a completely new PGP key and everything seems to work.

[2017-07-19 13:33] zapu commented on #2793
Would you mind surrendering the old non-working PGP private key to me if it's haven't used it and do not plan to use it anymore?

`ERROR openpgp: invalid data: entity without any identities` has been happening for specific keys for a while now and we couldn't find a fix because we don't have a repro locally.

[2017-07-19 14:43] Kuret commented on #2981
Thanks again. So just to be clear, I always have to have at least ONE device provisioned in order to recover anything without having to reset? I reformat this device regularly and don't know if i'll use keybase on another device so i'm afraid this won't be the last time asking for a reset...

[2017-07-19 14:48] malgorithms commented on #2981
@Kuret  - to clarify, your paper key is totally sufficient to provision a new device without an account reset. you can make a fresh one under the "devices" tab in the app or from the CLI with `keybase paperkey`...so if you wipe your physical device, it'll let you use that paper key to provision.

if you do an account reset, that will revoke all your existing paper keys, so if you've gone through t

[2017-07-19 15:00] Kuret commented on #2981
Thanks for the explanation, however I wanted to do that before resetting but I couldn't find the option or a working command to use a paperkey anywhere. According to the login page on the website I couldn't recover because I still had a device active but I had no access to that device anymore.

I guess i'll just have to be more careful from now on and make sure to re-provision/de-provision stuff b

[2017-07-19 16:48] staktrace opened #3019 "Regenerating proof text for twitter"
I started a proof for twitter but due to unrelated problems was not able to actually publish the tweet at the time. Later I went back to it assuming I would be able to regenerate the tweet text that I needed to tweet, but I don't see any way to do that. If I run `keybase prove twitter staktrace` it asks me if I want to overwrite the existing proof which I don't really want to do.

I cobbled togeth

[2017-07-19 17:48] epicpewpew commented on #2975
Sooooooo umm Close the issue or leave it open?

[2017-07-19 18:17] #2975 closed

[2017-07-19 20:56] gdestuynder commented on #2049
is it still the case that the public repo is out of sync?
atm the CLI client does not support kbfs but there is a kbfslib (and of course a binary of the GUI client)

[2017-07-19 20:59] strib commented on #2049
The CLI client does support KBFS now -- try `keybase fs help`.

[2017-07-19 21:01] strib commented on #2049
Oh, I see, this issue is about package-level dependencies on GUI items.  I guess we haven't done much work on that, but you can always force your way through the install I think, ignoring the dependencies.

And the code in github.com/keybase/kbfs is the dev repo now, and fully public, so you can always build from there.

[2017-07-20 14:29] staktrace commented on #3019
I just ended up overwriting it with a new proof.

[2017-07-20 14:29] #3019 closed

[2017-07-20 18:21] Idyllei opened #3020 "Add Money Transfer Services to list of Services on Profile"
Currently, Bitcoin and Zcash are listed on user profiles, but no other means of money transfer are. Other services should be allowed.

Some services that might be supported are:

* Other cryptocurrencies
* PayPal (which is widely used)
* Google Wallet
* Square Cash
* Ethereum (which technically is a cryptocurrency, or a bunch of them together)
* Ripple

Some cryptocurrencies I'd like to see added

[2017-07-20 23:40] gdestuynder commented on #2049
yeah by default just compiling keybase CLI 1.0.22 gives
`▶ ERROR KBFS client wasn't found`

will try to see if i can build it until this is integrated. thanks!

[2017-07-20 23:42] strib commented on #2049
You need to compile and run `kbfsfuse` in the github.com/keybase/kbfs repo as well, if you want to use chat.

[2017-07-21 17:23] sbont opened #3021 "[Android] Error provisioning during initial login"
Trying to login for the first time at this android device using my keybase username with the passphrase (as I don't have my only other Keybase provisioned device with me), I enter my device name and click continue, and I get:

There was an error provisioning
Unknown error: missing paper key in login context

[2017-07-21 17:26] maxtaco commented on #3021
cc: @patrickxb

thanks for the report!

[2017-07-21 17:26] maxtaco commented on #3021
@sbont, do you mean your 13-word paper key? Or a passphrase you chose?

[2017-07-21 17:29] patrickxb commented on #3021
I'm guessing something messed up in the UI provisioning flow.  https://keybase.io/sbontenbal/chain has PUK, so provisioning new android phone will require another device.

[2017-07-21 18:03] sbont commented on #3021
My chosen passphrase.

[2017-07-21 18:12] sbont commented on #3021
Now using my laptop to verify me it works well.

Then, after successful verification, it redirects me to the first screen (create account / login).
After typing my name and tapping _continue_ it sends me again to the first screen. After terminating the app it opens correctly & logged in. Not sure if related or new issue

[2017-07-22 02:39] Mosesofmason commented on #2817
Same issue.

And what's the green dot and green circle mean?

[2017-07-22 11:41] stetner commented on #373
Maybe change 'Not verified' to 'Not verified (this is normal)'

[2017-07-24 05:13] aleccool213 commented on #2552
https://github.com/keybase/keybase-issues/issues/2552#issuecomment-246027047

This would be nice to have in the docs 👍

[2017-07-24 12:11] staktrace opened #3022 "ERROR per user key bad box coverage (error 284) when provisioning new device"
I'm trying to add a new FreeBSD device. I installed the keybase client via `pkg add keybase` which installed version 1.0.21. I ran `keybase login staktrace` and followed the steps, using another device (OS X, running keybase client v1.0.25-20170715002410+acae5b06f) to provision it.

However, the FreeBSD device fails to complete the process successfully, this is the output I get:

[code]

The `keyb

[2017-07-24 12:26] maxtaco commented on #3022
You need a newer client, can you upgrade?

[2017-07-24 13:51] staktrace commented on #3022
That's the newest version available through `pkg`. I tried building from source but ran into a compilation error:

[code]

It looks like the resinit_nix.go file was added recently so this might be a legitimate compilation failure and not just an artifact of me trying to build on FreeBSD / environment issues.

[2017-07-24 13:52] maxtaco commented on #3022
Cc: @oconnor663

[2017-07-24 14:00] oconnor663 commented on #3022
@staktrace could you edit `resinig_nix.go` to include all the headers from the [FreeBSD man page on `res_init`](https://www.freebsd.org/cgi/man.cgi?query=res_init)? Right now we only include `resolv.h`, but we might want all of these:

[code]

[2017-07-24 14:06] staktrace commented on #3022
@oconnor663 With that change it gives me a linker error:

[code]

Presumably because (according to the man page) res_init is in libc on FreeBSD. I've never done go programming before, can I ifdef out the link to libresolv on FreeBSD?

[2017-07-24 14:08] staktrace commented on #3022
Simply deleting the `LDFLAGS: -lresolv` line seems to work, and the build completes successfully. Presumably that will break on other platforms.

[2017-07-24 14:11] staktrace commented on #3022
... and the local build (which identifies itself as 1.0.26) works to add the FreeBSD device without any errors (which was my original problem).

[2017-07-24 15:50] oconnor663 commented on #3022
Yes, I want to say `-lresolv` was required for darwin. We could split FreeBSD out into its own implementation for that file (or split darwin out, for that matter). I do wish I had a better understanding of why this is breaking, and whether we should expect it to break on all BSD's or just FreeBSD?

[2017-07-24 15:50] oconnor663 commented on #3022
woops

[2017-07-24 16:20] staktrace commented on #3022
I don't have an OpenBSD install lying around so I can't test that unfortunately. However considering that Linux doesn't seem to need libresolv either, it might be better to split darwin out into a separate implementation that links libresolv.

[2017-07-24 16:35] oconnor663 commented on #3022
Ok, let me whip something up :)

[2017-07-24 16:42] oconnor663 commented on #3022
@staktrace, if you build from this PR, does everything work for you?

https://github.com/keybase/client/pull/7876

[2017-07-24 16:50] staktrace commented on #3022
Not on FreeBSD, you still need the extra include files you mentioned earlier:

     #include <sys/types.h>
     #include <netinet/in.h>
     #include <arpa/nameser.h>

[2017-07-24 16:54] oconnor663 commented on #3022
@staktrace I've included them now, could you take another look.

[2017-07-24 16:58] staktrace commented on #3022
@oconnor663 Yup, builds now. Thanks!

[2017-07-25 09:39] tsechov commented on #2981
can I have a reset please?

[2017-07-25 17:30] oconnor663 commented on #3022
(automatic close was incorrect)

[2017-07-25 17:58] oconnor663 commented on #3022
@staktrace the build from master should have this fix now. Can you confirm?

[2017-07-25 18:06] staktrace commented on #3022
@oconnor663 Confirmed master builds and works as expected. Thanks!

[2017-07-25 18:06] #3022 closed

[2017-07-25 18:47] maxtaco commented on #2981
@tsechov  what is your account name?

[2017-07-26 01:52] nscarlson commented on #783
+1

[2017-07-26 07:38] tsechov commented on #2981
tsechov
thx

[2017-07-26 12:49] maxtaco commented on #2981
@tsechov your account is reset

[2017-07-26 14:37] velagand opened #3023 "Windows 10 crashes once keybase loads on startup"
After installing keybase for windows, the OS crashes, and does not allow any programs to run. The computer starts normally, but when keybase loads everything freezes after around 5 seconds.

Booting into safe mode and uninstalling keybase fixed the issue.

[2017-07-26 14:42] malgorithms commented on #1826
those of you watching this thread who are interested in testing some early teams stuff, hit me up on keybase chat...

[2017-07-26 16:25] lukebarton opened #3024 "<username>.keybase.pub 404"
https://lukebarton.keybase.pub/ssh_keys/id_rsa.pub is now giving me `Not Found`

In the keybase app, when I click `Open Folder` viewing my public files I can see the files I expect to see however I can't see my public files via my keybase profile any more:
https://keybase.io/lukebarton

https://keybase.pub/lukebarton/ also gives 404, opposed to
https://keybase.pub/marcopolo/ which seems to work

T

[2017-07-26 16:48] maxtaco commented on #3024
cc: @malgorithms @cjb @strib

[2017-07-26 17:06] malgorithms commented on #3024
back up very shortly - apologies

[2017-07-26 17:08] malgorithms commented on #3024
and the site should be back up

[2017-07-26 17:40] velagand commented on #3023
Yes I am.
`Windows 10 Pro Insider Preview`
`Evaluation copy. Build 16232.rs_prerelease.170624-1334`

[2017-07-26 19:22] tsechov commented on #2981
thank you @maxtaco

[2017-07-26 20:09] zanderz commented on #3023
Sorry about the hang, it is due to a driver bug for which we are testing a fix to be released soon.
Meanwhile, you can use Keybase without the mounted filesystem driver by uninstalling Dokan and running the Keybase installer executable with the `nodriver=1` option.

[2017-07-27 05:29] maximz commented on #1923
I continue to have this issue -- it should be reopened. After a move to Cloudfront, my verification fails. I replaced with a new verification and it continues to fail. I am using a Cloudfront custom SSL certificate for my domain name, with S3 backing.

[2017-07-27 17:22] oconnor663 commented on #1923
I think the issue in these cases is that servers are returning gzip data when the client did not send the `Accept-Encoding: gzip` header. That's why `curl https://www.maximzaslavsky.com/keybase.txt` prints a bunch of garbage to the terminal, for example.

[2017-07-27 22:43] pstimpel opened #3025 "How to make my private already existing key available to the website to use online decryption/signing"
The site tells me I should upload my private (passphrase enabled) key. OK, I'll take that! But how?

Using keybase on windows and android, and it seems I am not able to manage this more or less basic task, since the user documentation is probably the worst part of this wonderful project ;)

And no, I am not going to generate a new keypair, since I want to use my already exisiting one. Wrong thinki

[2017-07-28 02:49] cwh1te commented on #160
Not providing an obvious means of uploading a public key is bad. Asking users to upload their private keys is worse. Storing those private keys unencrypted without the user knowing is just unforgivable (#2863). Shame on you, keybase devs. You should absolutely know better.

[2017-07-28 06:54] maximz commented on #1923
Good catch, thanks @oconnor663 !

[2017-07-28 09:29] a3nm opened #3026 "Keybase asks me to sign my updated public key for no apparent reason"
Hello,

I would like to update my GPG public key on keybase, to replace the current key (which is expired) with a more recent version of the same key. To do this, I can select "Update my key (I edited it elsewhere)", and then paste the new key. However, the Keybase website now asks me "How would you like to sign your updated public key? You'll do this using your private key." and gives me several

[2017-07-28 12:40] maxtaco commented on #3026
We ask for two-way signatures between any two signing keys, much like GPG itself does with signing subkeys. This precaution prevents someone else from claiming your public key as their own, which in turn would allow them to take credit for something you had published. You can see an example [here](https://keybase.io/max/sigchain#d7d09db9572687ca6e90c5f1a9003b310e04e435f5b8d270c2692db75122b5fb0f) i

[2017-07-28 12:52] a3nm commented on #3026
Thanks for your explanations! I understand that you require a signature initially, the first time a key is uploaded,  to guarantee that it is indeed the owner of the key who is claiming that key as their own on Keybase; but I still don't understand why a signature is required for subsequent versions of the same key?

--
Antoine Amarilli
Sent from a mobile device, please excuse brevity and top-post

[2017-07-28 12:58] maxtaco commented on #2863
Hi everyone, thanks for your feedback here.  As I recall, our thinking here is that those users who used Keybase to generate their private keys were unlikely to be GPG experts, and therefore would favor ease-of-use over security.  You guys aren't sitting where I am, and we see so many people forget their passwords and getting locked out.  We were hoping to avoid that issue with that feature, at th

[2017-07-28 13:04] maxtaco commented on #3026
We're pegging the full contents of the user's GPG key so that the server later can't lie by dropping subpackets. In reality this is a big security improvement over traditional GPG key server system.

[2017-07-28 13:58] maxtaco commented on #2863
Some doc fixes landed in [this commit](https://github.com/keybase/client/commit/7a697298b08b4aaca479455b16a28cb388c1ab2f). We'll  get to encrypting the exported private key soon.

[2017-07-28 16:14] a3nm commented on #3026
Thanks again for your explanations! Are you implying that GPG
self-signatures do not cover all packets and subpackets of the key? I
tried to find more detail online about a security problem related to
what you were mentioning, but I haven't been able to find a source. Is
there a more precise explanation somewhere? Is this something that the
GPG team is aware of?

If there is some explanation of th

[2017-07-28 20:25] maxtaco commented on #3026
I am indeed implying that! Your GPG fingerprint is a hash of your primary key.  Self-signatures cover User IDs and embedded JPEGs, but they don't cover (as far as I've seen) key revocations.  I think any key server along the way can permute the packets of your GPG key (or just drop them altogether) in arbitrary ways. This might have been envisioned as a feature as some point, even.

At this point,

[2017-07-29 17:09] a3nm commented on #3026
OK, I think I'm beginning to understand, so let me try to put this in my own words. Self-signatures, like regular signatures, can only apply to keys, subkeys, User IDs, or User Attributes (RFC 4880, Section 5.2.4). They cannot cover the rest of the key data, in particular, to revocations.

Hence, for instance, if a key has a UID x, and the key owner then revokes UID x and creates UID y, the result

[2017-07-30 04:31] awood4929 commented on #2680
Thanks.  Love the product, thanks for all the work on our behalf.

[2017-07-30 04:31] #2680 closed

[2017-08-01 19:41] mologie commented on #2976
Eh, this one got buried. Thank you for pointing out that this is indeed by design. While I can't say that I agree with Go's approach of "our generated code is secure so we don't need hardening features," this isn't something that can be fixed by Keybase. Thus, I'm closing this ticket.

(Please reopen if you wish to continue to track the issue here.)

[2017-08-01 19:41] #2976 closed

[2017-08-04 02:46] josh-padnick commented on #2980
FYI, on MacOS, the folder in question was located on my disk at `/Users/josh/Library/Application Support/Keybase/keybase.chat.leveldb`. Viewing the data required [ldb](https://github.com/0x00A/ldb) over the CLI. Unfortunately, that's as far as I got. I couldn't actually extract any meaningful data from the database.

Note also that you need to quit Keybase before accessing LevelDB so that the lock

[2017-08-04 10:02] awnumar commented on #2808
I agree with this. I don't want to install any of the applications that allow for receiving encrypted messages because they are extremely immature at this time, and so I would appreciate not receiving emails about messages I won't read.

[2017-08-04 12:22] malgorithms commented on #2808
The unsubscribe link in the email lets you turn these emails off. I understand this doesn't solve the original request in this thread, but part of yours at least.

[2017-08-04 13:40] drusepth commented on #2808
Adding a +1 for the original request, having similar concerns.

[2017-08-04 15:07] jleclanche commented on #3003
Yep, getting this as well.

[2017-08-04 15:22] maxtaco commented on #3003
cc: @zapu

[2017-08-05 10:52] superdecimal commented on #2981
Could you please reset my account too? Account name is decimal.

[2017-08-06 02:08] sbosshardt opened #3027 "Fixes for documentation: Merkle Root in Bitcoin Blockchain"
Issues with [merkle_root_in_bitcoin_blockchain](https://keybase.io/docs/server_security/merkle_root_in_bitcoin_blockchain) documentation
====================

Background Info:
------------------------
I don't have much experience with Python. I was able to stumble my way through the tutorial by searching online for Python programming topics (e.g. how to get the first property of an object).

The b

[2017-08-06 09:35] zapu commented on #3003
@jleclanche are you on Windows or Linux/macOS? Were you able to extend your key locally? Are you hosting encrypted secret key on Keybase?

[2017-08-06 09:38] jleclanche commented on #3003
Linux. I have no idea; I used keybase years ago and now I'm noticing my key is out of date, and getting essentially what is described in the original issue.

[2017-08-06 10:14] zapu commented on #3003
And are you also getting the `Error: Your private key appears corrupted (no valid primary key self-signature or key(s) have expired)` error when using "Update my key" option?

[2017-08-06 12:47] linux-modder commented on #3003
@moontear try:

keybase login:
<username>
<select to login with keyabse passphrase>

keybase import <'local version of key' keyid>
keybase pgp update

if that fails try this:

keybase login (same as above)

keybase pgp --select --multi (if there are multiple or adding this one will be a second) keyid

keybase pgp update

[2017-08-06 12:57] zapu commented on #3003
IIRC @moontear has already solved this, he had to remove encrypted secret key from Keybase first because it was trying to sign the update with outdated secret key.

[2017-08-06 16:48] lesserismore opened #3028 "Implicit folder through Finder on Mac"
Running macOS 10.12.5

I used an implicit folder as such, before my_friend had set up a keybase account:
/keybase/private/<my_username>,my_friend@facebook

Once he set up keybase and linked his facebook account, I had to restart Finder before I could successfully run

`open /keybase/private/<my_username>,<friend_username>`

Before restarting, trying to run
`open /keybase/private/<my_username>,my_f

[2017-08-06 17:08] strib commented on #3028
Hi @lesserismore, do you remember any details about what the errors said?  Are you willing to run `keybase log send` so we can help you debug the problem?  A restart shouldn't be required.

[2017-08-06 17:11] lesserismore commented on #3028
I ran
 keybase log send
just now. I do not remember the errors (sorry!)

lesserismore

[2017-08-06 17:12] strib commented on #3028
Thanks, I'll take a look when I have time.  Logs: fe12cb596c05859be8f3201c

[2017-08-06 18:30] linux-modder commented on #3003
Another reason I never uploaded a secret key,  only gpg signed locally

[2017-08-08 00:29] strib commented on #3028
From the logs, this looks like a dup of keybase/client#5841 to me, which we haven't been able to track down yet.  Hopefully we'll have time to look into it soon!  Please let us know if you have any more issues in the meantime.

[2017-08-08 01:21] alanwunsche commented on #2981
Can you please reset alanwunsche?

[2017-08-08 15:57] maxtaco commented on #2981
@superdecimal and @alanwunsche all reset.

[2017-08-09 02:04] maxtaco commented on #3027
thanks for the report, I'll give it a look.

[2017-08-09 02:39] maxtaco commented on #3027
I've fixed the primary problem, which is this:

[code]

We're eventually going to transition to another public key for signing the Merkle Root, and wanted to have the ability to sign with two keys concurrently. Hence, we added another level in that JSON object to index the signature with the Key ID of the key used to generate the signature. We forgot to update the Docs, thanks for finding this mis

[2017-08-09 02:42] maxtaco commented on #3027
here's my full script:

[code]

[2017-08-09 06:21] annabaas commented on #3021
I have this issue on both my laptop and iPad.

I did something stupid: the first time I logged in on my laptop, I gave it the wrong name (that of my personal laptop, not my work one). To change that I removed it in the app and tried to re-register it. That's when the issue started for me.

[2017-08-09 15:40] compumike08 opened #3029 "Keybase Updater Should Have Progress Indicator"
Currently on Windows, when a Keybase client update is available, a pop-up dialog box appears and gives you the option to either snooze or apply the update immediately. However, after you click "Apply", the dialog box disappears and there is no indicator that the update is in progress, even though the update **is** proceeding normally in the background (I was able to verify this by going into the t

[2017-08-10 02:59] acidcruise commented on #2981
Unfortunately I learned about the perils of key revocation the hard way.
@maxtaco if you can reset my account it would be appreciated. Handle is snuff on Keybase

[2017-08-10 13:33] rendall opened #3030 ""A previous version of Dokan Library is already installed." on update."
Keybase setup (after update) stops with a dialog box with this message:

"A previous version of Dokan Library 1.0.4.84 (x64) is already installed. Please uninstall the existing version first, reboot the system and start the setup again."

This is Windows 10.

I think the expected behavior would be that the Keybase update uninstalls or updates this library.

[2017-08-10 13:40] maxtaco commented on #3030
@zanderz please take a look.

On Thu, Aug 10, 2017 at 9:33 AM rendall <notifications@github.com> wrote:

[2017-08-10 16:11] maxtaco commented on #2981
OK, you're reset.

[2017-08-10 17:40] zanderz commented on #3030
@rendall Can you do a `keybase log send` at the Keybase Shell so we can see the installer logs? And/or do you know what version you upgraded from? Thanks.

[2017-08-10 18:17] rendall commented on #3030
Done!  Let me know if you need more info.  Happy to help.

On Thu, Aug 10, 2017 at 8:40 PM, Steve Sanders <notifications@github.com>
wrote:

[2017-08-10 18:54] zanderz commented on #3030
log ad280d5cebc6fc93d22a0c1c

[2017-08-10 21:38] zanderz commented on #3030
@rendall It looks like the updater thought a reboot was pending for several hours, in which case it displays the same upgrade prompt and re-launches the installer. I'm attempting to repro your case, but have you rebooted?

[2017-08-10 22:10] zQueal commented on #3030
I'm almost positive that I also ran into this issue before and it was the result of some type of Windows update which ensured Windows compatibility with a code signing key--or something to that effect.

I can't seem to find any threads I opened from it, but I'll keep looking and update you if I find the Windows Update I had to install to fix the issue.

[2017-08-10 22:16] rendall commented on #3030
I have not yet rebooted.  I was working on a thing, but I'm just about at
its end, so I can reboot it now.

I should say that after I started this issue, but before I sent the keybase
log, I did find and uninstall the Dokan library.  When keybase prompted me
again, I gave it the go-ahead, but it failed with a different error, the
error you're seeing.

I'll reboot now and send you the log again.

O

[2017-08-10 23:31] zanderz commented on #3030
You are saying that you uninstalled Dokan, then did Keybase update again? All the logs show Dokan already installed. Is there a chance that some other software has installed a copy of it?

This second log after rebooting - was there another update/installation attempt between rebooting and sending the log?

Basically, the dokan package thinks it is already installed if the file %windir%\system32\d

[2017-08-11 00:02] rendall commented on #3030
I've now sent the second log.  I suppose it's *possible* that another
program installed Dokan?

My current version is now 1.0.26-20170724103609+b095a79 .  I ran "upd
check" and it appears to be up to date?  Hard to tell :)

On Fri, Aug 11, 2017 at 2:31 AM, Steve Sanders <notifications@github.com>
wrote:

[2017-08-11 00:05] acidcruise commented on #2981
Thanks.

[2017-08-11 00:36] zanderz commented on #3030
The updater log shows that the server is responding with the newer version, 1.0.27-20170802164224+83e6363, but it has stopped trying to install it and the log does not show why.

The log also shows that Dokan still thinks it needs to be rebooted.

Again, If you uninstall Dokan, then reboot, is `%windir%\system32\dokan1.sys` still present?

[2017-08-11 07:12] rendall commented on #3030
I'll check now.  Hold on.

On Fri, Aug 11, 2017 at 3:36 AM, Steve Sanders <notifications@github.com>
wrote:

[2017-08-11 07:16] rendall commented on #3030
%windir%\system32\dokan1.sys is not there.  This is after a reboot.

On Fri, Aug 11, 2017 at 10:12 AM, Rendall <rendall@gmail.com> wrote:

[2017-08-11 08:48] #1366 closed

[2017-08-11 18:09] rendall commented on #3030
Well!  A sudden prompt to install the update!  Good news!
Then:
"A digitally signed driver is required."
Dokan Driver
Dokan Project
Windows blocked the installation of a digitally unsigned driver.  Uninstall
the program or device that uses the driver and check the publisher's
website for a digitally signed version of the driver.  [CLOSE]

Sending log shortly.

On Fri, Aug 11, 2017 at 10:16 AM, Ren

[2017-08-11 18:12] rendall commented on #3030
Interestingly enough, Keybase gave me a "successful install" message, and
then prompted for a reboot, which I just did.

On Fri, Aug 11, 2017 at 9:09 PM, Rendall <rendall@gmail.com> wrote:

[2017-08-11 19:29] ustasb commented on #2981
@maxtaco I'm also seeing this issue for similar reasons. Could you reset ustasb?

[2017-08-11 19:56] maxtaco commented on #2981
OK @ustasb you are reset

[2017-08-13 21:15] smscotten commented on #160
This seems like a good use case for signed subkeys with the master key kept somewhere airgapped. Generate a brand new key pair just for use with keybase, *not* your master key, and *not* the key you use for daily email etc, but one that is still in your main keychain as trusted. And revocable at any time.

I still find it outrageous, but it is a way to make use of the feature without blind faith i

[2017-08-14 22:32] miklb commented on #146
just getting started with keybase & gpg and was confused by this is as well.

[2017-08-15 13:39] darknessgp commented on #3030
Here's what I did that seems to have worked after getting the "A digitally signed driver is required." error...

1. Uninstall Dokan Library
2. restart
3. go install latest x64 from dokan GitHub (https://github.com/dokan-dev/dokany/releases)
4. restart
5. uninstall Dokan Library
6. restart
7. run "upd check"

For some reason getting the dokan from GitHub on there first seems to cause Windows to acc

[2017-08-15 18:08] zanderz commented on #3030
Sorry for the unsigned driver problems. The release that went out yesterday contains correctly signed ones.

[2017-08-15 18:09] zanderz commented on #3023
The release that went out yesterday contains correctly signed drivers which should fix the freezing problem.

[2017-08-16 10:26] asbjornu commented on #387
The X.509 part of this feature request is covered by #1732, no?

[2017-08-16 18:41] nbolt commented on #2193
I have a similar problem where `keybase gpg decrypt` doesn't find the key but `gpg -d` works fine.

[2017-08-16 21:36] rolandog commented on #661
I agree with @xaviex , perhaps pasting in the bio should be enough?

[2017-08-17 14:28] kiriakosv commented on #2981
Hi, is it possible to reset my account? I was experimenting and deleted both my devices. My username is **kiriakosv**.

[2017-08-17 18:02] maxtaco commented on #2981
@kiriakosv I reset your account

[2017-08-17 21:39] Hootsama commented on #2981
Good afternoon, thinking my IOS device was complete in provisioning, I deleted my machine, and now I'm getting an error that states cannot I cannot provision when all devices are revoked, please reset account.  Account name is ETOPS, recovery address is at riseup.net.  Thank you in advance!

[2017-08-18 10:45] feutl commented on #3021
I ended up with the same situation as @annabaas and did the same thing, deleting my only one device. Now I am stuck as well - same situation.

[2017-08-18 17:39] Nowaker opened #3031 "ERROR openpgp: unsupported feature: unknown EncryptedKey version 75"
My coworker is getting `ERROR openpgp: unsupported feature: unknown EncryptedKey version 75` on Mac. Command is `base64 -D /tmp/pgp | keybase pgp decrypt`. How can he get the message decrypted?

[2017-08-20 03:14] maccelerated commented on #2575
If you are okay storing only the master key on Keybase, you can export only the master SC and E keys with an exclamation mark and that would allow web decryption/signing. The full public key is on Keybase and I haven't encountered any errors yet with the public key containing the extra smart card subkeys.

`gpg --export-secret-keys --armor 6ACFCADF! 6146E284!`

[2017-08-22 05:23] lazylaunda commented on #2981
I revoked my one and only device. Now my account has to be reset. Please help.

[2017-08-22 10:24] rendall commented on #3030
Ok.  I followed @darknessgp instructions precisely and then sent another log.  From my end it appears that all is well.

Since I submitted this as a bug report and not a support ticket, I'll leave it up to you when to close it.  Happy to continue to help, if you need.  You can also let me know if you want me to close it.

Thanks!

[2017-08-22 13:15] maxtaco commented on #2981
OK @lazylaunda you are reset.

[2017-08-22 17:32] zanderz commented on #3030
The drivers in current updates should be signed properly, getting them from Dokany should no longer be necessary. Please re-open if there are still problems.

[2017-08-22 17:32] #3030 closed

[2017-08-22 19:18] Nowaker opened #3032 "PGP decrypt: automatically wrap with "BEGIN PGP MESSAGE" when no header is specified"
Many tools that output PGP messages (e.g. Terraform's aws_iam_access_key) skip the header. Rather than printing this:
[code]
They'll print this instead:
[code]
The latter is quite hard to decrypt with Keybase. I tried numerous ways of getting this decrypted (e.g. piping with `base64 -d`, etc) and it seems the only way to get it done is to wrap the string with the header. It applies both to `keybas

[2017-08-23 05:28] lazylaunda commented on #2981
@maxtaco thanks bro

[2017-08-23 23:42] m00nwtchr opened #3033 "Portable installof client"
Id like to store the client and commandline on my usb stick

[2017-08-24 10:20] exentio opened #3034 "So many issues I can't think of a proper title"
Without dwelling too much:
1. The linux version of Keybase (but apparently it's the same for every operating system) launches on startup, and you have no control about it in the settings.
I'm dead serious when I say that it scares me, because my `.config/openbox/autostart` file doesn't mention Keybase in any part of it, and there's no trace of it in .xsession.
I had to search on the internet to fi

[2017-08-25 09:40] nicolasegosum commented on #327
+1

[2017-08-25 10:08] consummo commented on #327
+1

[2017-08-27 02:48] hadees commented on #160
What about supporting something like [TREZOR](https://trezor.io/)?  It seem like to me if you want to encourage laymen to use good practice a hardware key seems like an easy way to transfer.

[2017-08-27 09:57] andreadellacorte opened #3035 "Errors with Mackup"
I am trying to use Keybase with Mackup (https://github.com/lra/mackup), but I am getting some errors:

Backing up .subversion ... Traceback (most recent call last): File "/usr/local/Cellar/mackup/0.8.16/libexec/bin/mackup", line 9, in <module> load_entry_point('mackup==0.8.16', 'console_scripts', 'mackup')() File "/usr/local/Cellar/mackup/0.8.16/libexec/lib/python2.7/site-packages/mackup/main.py",

[2017-08-27 14:46] strib commented on #3035
Hi @andreadellacorte -- this looks like a crash in Mackup, which should probably be raised with them.

The Keybase file system returns an "unimplemented" error for some operations, like creating hard links, which it doesn't currently support.  It seems like Mackup isn't prepared for that answer.

[2017-08-27 17:17] drakfyre opened #3036 "Keybase.io web portal should require device authentication for login"
Currently, your password is all that is needed to gain full access to your account, and with that password an attacker can delete your account, revoke permissions, and if you've chosen to store your private key on Keybase, now has access to sign as you.

It seems like it would be very easy to require some form of signed token to be sent from say, your smartphone, at time of login, in addition to y

[2017-08-29 16:43] lukemperez commented on #2840
I seem to be having the same issue from a message that was sent to me. Any solution?

[2017-08-31 21:36] MarcoPolo commented on #2960
Apps are live!

[2017-08-31 21:36] #2960 closed

[2017-08-31 21:37] #2824 closed

[2017-08-31 23:46] vvasuki opened #3037 "saving client-encrypted private key : Error: Passphrase check failed"
I get Error: Passphrase check failed when I try to add my private key at the "Private key encrypt and upload" dialog. The passphrase I'm using is exactly the same one I needed to enter when running `gpg --export-secret-keys -a 1E8B3E346BD2D91B394BD6A9483963B3FF487BFB` (and I tried many many times). What's breaking?

[2017-09-01 12:41] walialu opened #3038 "Change username or re-activate deleted account"
I deleted an account with the username `walialu` and want my current username `emkae` to be either changed to `walialu`, the previously deleted account restored, or the previously deleted account"s name to be selectable again (I tried registering with the account name `walialu` again, and it does't work, because it was previously registered).

When I try to register with my previously deleted user

[2017-09-01 13:15] malgorithms commented on #3038
sorry - this isn't something that we have the capacity to do at Keybase. deleted accounts can't be recovered and the usernames aren't freed up, for security reasons.

wish I had a better answer!

[2017-09-01 13:15] #3038 closed

[2017-09-03 12:55] libBletchley commented on #1375
+1

Indeed.  It's been over 2 years since this ticket, and keybase still hasn't bothered encrypting their own messages.  An embarrassment, IMO.

[2017-09-03 23:37] johnkuszmaul opened #3039 "Decrypting secret key from bundle"
Hello,

I would like to access my secret key without exporting it from my profile or using the Keybase command line tool.

When I login and view user.private_keys.primary.bundle, there is a string which is Base64(MessagePack(some stuff + TripleSec(my private key))). [1]

I believe I have partially reduced this down to TripleSec(my private key), where it is a string beginning with 1c94d7de000…

How

[2017-09-04 14:20] maxtaco commented on #3039
You probably need the salt from the server too.  It's a random string, different for every user.

[2017-09-05 00:47] johnnybubonic commented on #223
i know this is ancient, but it's still open- i'd like to point out GPGME supports this, at the very least pygpgme does: https://github.com/rshk/pygpgme

you can see details of this in the testcases: https://github.com/rshk/pygpgme/blob/master/tests/test_editkey.py#L53
and i also implement them in a utility i'm working on called KANT ("Keysigning and Notification Tool"): https://git.square-r00t.net

[2017-09-05 02:40] johnkuszmaul commented on #3039
Thanks for the response. I looked into it further and I believe the problem was something else -- it seems the python tool and the way Keybase does Triplesec work differently, or I am using it wrong.

When I used the “In-Browser Magical Demo” here https://keybase.io/triplesec, my encrypted secret key (1c94d7de000…) was successfully decrypted(into a string with unreadable characters) when I put my

[2017-09-05 03:31] junderw commented on #808
With the password alone, a malicious person could reset all my keys without access to my "first factor" devices.

Less importantly they could also mess with my notification settings or my bio and name etc.

The latter is less important... but if @oconnor663 and the rest of Keybase really want to push this "first factor" method, they should do the following:

1. Require a provisioned device to appr

[2017-09-05 08:29] milouse commented on #2306
There is another big issues not mentionned by @trainmeditations : I use a very tiny root partition, because that's not the place to store large volume of personal data. We've got `home` for that. if I plan to use the totality of my 10Gb free, or if I try to use more of them, it will fill my root partition, leading to unwanted problems.

IMHO, a more robust/stable/previsible place on linux should b

[2017-09-06 14:03] ruipacheco opened #3040 "Keybase window is stuck to background app"
I had a Firefox instance open in full screen mode and fired up Keybase. Every time I now clicked on the Keybase app icon on my doc the Firefox window would be put into focus and Keybase would be overlaid on top of it. The only way to avoid this is to make Keybase full screen too. I'd really need Keybase to operate individually when not in full screen mode.

I'm on the latest OSX.

[2017-09-06 14:08] ruipacheco opened #3041 "Error talking to user who hasn't added another users"
Someone was trying to talk to me without me following them and they got this error:

This issue was created with their permission and the link shared with them.

[2017-09-06 14:56] feutl commented on #3021
btw. I tried this on the windows client and same problem, it does not resolve by reinstalling or switching clients

[2017-09-06 15:41] bomgar opened #3042 "Keybase UI hangs when i receive a message and the chat is not focused"
Hi,

my keybase UI stop drawing to the screen when I receive a message and I have not focused the current chat.

I'm using Linux and the proprietary nvidia driver. I'm not sure how to debug this further.

The cli continues to work.

[2017-09-07 17:37] Noobydooby opened #3043 "Total noob issue"
I'm trying to get my Keybase set up with my existing PGP key. I'm using gpg4usb as my gpg client, and I've downloaded the desktop Keybase app for windows. I just can't seem import it through the "keybase pgp select query" as it comes back with

ERROR exec: "gpg": executable file not found in %PATH%"

I've tried many different ways after googling answers, like using the import command and specifyin

[2017-09-07 18:18] #3043 closed

[2017-09-07 22:49] ajsantander commented on #2638
Same problem here. The key is there, and is valid, but the app will just not find it.

[2017-09-08 02:49] Cambridgeport90 commented on #710
We definitely need this. Would make verification and setup much simpler.

[2017-09-08 04:54] cjb commented on #710
Hi! Hm, looks like no-one's mentioned KBFS yet.
[code]
Then you can:
[code]

Of course, you could write a wrapper around the wget.

This isn't a streamlined UX, but it has the same security semantics that the streamlined UX would have.

[2017-09-08 04:54] cjb commented on #710
By the way, I'm not saying that Keybase will never add a direct feature for this.  But we haven't yet, and this would be a way to get the same semantics in the meantime.

[2017-09-10 00:21] latkin opened #3044 "Website fails to verify message generated by command line"
I have yet to understand what one can put into the website "verify" box and have it do anything.

Here is test message signed by command line:

[code]

Command line `verify` works:

[code]

Website claims it doesn't even understand what the message is:

![image](https://user-images.githubusercontent.com/5943573/30245058-19be3c3a-9583-11e7-9026-b8f9682470ae.png)

[2017-09-10 00:48] latkin opened #3045 "Windows "Display folders in explorer" flow is broken"
![image](https://user-images.githubusercontent.com/5943573/30245087-e5293e2e-9583-11e7-8e3e-e0cb5a427ce9.png)

I assume this has something to do with the encrypted file sharing stuff, so I clicked on it. Nothing appeared to happen.

Turns out an installer dialog has appeared *behind* the keybase app.

![image](https://user-images.githubusercontent.com/5943573/30245101-32f042ce-9584-11e7-9e91-14df1

[2017-09-10 00:54] strib commented on #3044
The website only works with PGP messages.  The command you used generates Saltpack messages.  You can use `keybase pgp sign` and `keybase pgp verify` if you want to generate messages that the website will understand (if you have a PGP key set up for your account, which is optional).

[2017-09-10 00:58] maxtaco commented on #3044
We ought to (1) fix the error message; and (2) allow saltpack encryption and verification in the Web site. Haven't gotten around to it yet... Thanks for your patience...

[2017-09-10 01:16] latkin commented on #3044
Ok, thanks. How do I know when to use Saltpack and when to use PGP?

[2017-09-10 16:21] strib commented on #3044
I guess it depends on who you're sending it to.  Anyone with a Keybase device listed in their profile can receive Saltpack messages.  And anyone with a PGP key listed can decrypt PGP messages.

[2017-09-11 18:12] zanderz commented on #3045
Thanks for all the screenshots. We will need the log file linked to in that last dialog, and/or the results of doing `keybase log send`, to figure out what happened there.

[2017-09-11 23:04] Faiz7412 commented on #518
Are we ever gonna build it or just be in the ideation phase forever? At least for platforms like Instagram or Youtube channel, the feature should already be there. Why is there so much delay about it?

[2017-09-11 23:16] sparr commented on #518
This issue/thread is explicitly only for initial ideas. If you want to adopt any particular idea here, open a new issue for it where it can be discussed in detail and you can start developing an implementation.

[2017-09-12 20:10] chee opened #3046 "i can't access my account"
hi, i realise this isn't a bug, but i couldn't find any other way of asking for help and i need halp.

this: https://keybase.io/chee is definitely me

there is the tell-tale location of `imternet`, the "hello" at the start of the bio, and the "sugar free pink lemonade energy drink" mentioned was a flavour of Boost that i went through a phase of drinking several thousand cans of every day.

however

[2017-09-15 09:00] michaelpetri commented on #783
Any news on this?

[2017-09-15 11:34] haskel opened #3047 "Can't reset account after remove single device"
Hi
I created account on laptop and then remove my single attached device, because can not found how to rename device.
As result, I can't login on my laptop app with error message "has been revoked, please log in again"
And can't login to android app with error message "Cannot add a new device when all existing devices are revoked. Reset your account on keybase.io"
But, I can't find how to reset my

[2017-09-16 06:35] michel-slm commented on #518
Facebook should be moved from the Accepted to the Completed column, I think?

[2017-09-18 01:35] ekse commented on #3045
Just encountered this issue and found a workaround. I downloaded the latest version of Dokan (1.0.4) from https://github.com/dokan-dev/dokany/releases and the files are showing up in K:\.

[2017-09-18 17:14] bentinata opened #3048 "You can't upload an eldest signature after other signatures."
[code]

I've tried letting GPG choose my default private key using:
`gpg -sa` instead. Same response.

[2017-09-18 18:15] bentinata commented on #3048
Sorry, apparently I've send API request twice.
Closing.

[2017-09-18 18:15] #3048 closed

[2017-09-19 10:58] skorokithakis commented on #2552
I would like to add my support to this. I want to install the Keybase CLI app to my headless server and have no idea where to even begin. The `keybase` binary on my laptop is 44 MB, so I'm not sure if that includes the GUI as well.

I just want to be able to use the keybase CLI program, I don't want Keybase to start with my server or any of the other functionality, but currently I can't do that be

[2017-09-19 13:09] der-Daniel opened #3049 "You are not a member of this team after reset"
Hi,

after resetting my account, I was excluded from the teams. Since the names are unique, I can not create a team with the same name.
Can I somehow get access back to the team?

For Frodo.

[2017-09-19 13:16] malgorithms commented on #3049
if there are other admins/owners of the team, they can easily add you back in. As mentioned in the teams blog post, if you reset your account (or delete it) and are the last admin of a team, you lose control of it permanently. There's nothing keybase can do to steal it, so there's nothing it can do to reassign it. In that case you'll need to pick a new team name and start fresh.

[2017-09-19 13:20] der-Daniel commented on #3049
Dammit

[2017-09-19 13:20] #3049 closed

[2017-09-19 14:02] BSlickMusic commented on #2684
What is the status on this, just curious? Would love to connect my Facebook page but not my actual personal page!

[2017-09-19 14:29] oconnor663 commented on #2684
This has been on the back burner while we were all working on the [Keybase Teams features](https://keybase.io/blog/introducing-keybase-teams) that just got announced. There's going to be a lot of teams work for the next few months, so I'm afraid the answer is "not very soon".

[2017-09-19 14:50] defund opened #3050 "Keybase Team Bug"
After revoking the device that I used to create a Keybase team, I was unable to open the team due to a proof error.

[2017-09-19 14:57] mlsteele commented on #3050
Yeah this is a bug we just fixed and the fix will be out in the upcoming release. Sorry for the inconvenience, after we release the fix the up to date client will be able to load the team again.

[2017-09-19 14:58] defund commented on #3050
Oh, thanks!

[2017-09-19 14:58] #3050 closed

[2017-09-19 15:19] BSlickMusic commented on #2684
Not a problem, it's good you guys are working hard on that in the meantime! Thanks for the quick response.

[2017-09-19 17:05] kometen opened #3051 "Unable to add device on ios using apostrophe"
Nice product. I wanted to add my iphone using "Claus's iphone". But it kept rejecting the name and said only a-z, 0-9, space, apostrophe etc. Turns out the default apostrophe on the ios-keyboard is not the "straight" apostrophe. So when I held the key down a bit longer I could select the straight one and I have my device named the way I wanted.

Otherwise very easy and straightforward. I had insta

[2017-09-19 18:03] maximvid opened #3052 "Cannot Delete Channel in Team"
Hello, I cannot delete a channel I made in a team. I accidentally made the channel in question and the only thing I can do is leave it. I checked on the website and looked at previous issues and could not find a way to delete said channel. There is no way in the console to delete a channel, you can only delete a team or subteam.

[2017-09-19 18:26] mlsteele commented on #3052
Looks like there is `keybase chat delete-channel`. Is your client up to date?

[2017-09-19 18:51] maximvid commented on #3052
Yes, it is. I downloaded keybase half an hour ago using the latest installer on the site (windows version).
![image](https://user-images.githubusercontent.com/32107590/30609642-a9651f76-9d84-11e7-8d4d-94ba9678e242.png)

[2017-09-19 19:03] mlsteele commented on #3052
Ah you're right. `delete-channel` was just added yesterday and will be in the upcoming release.

[2017-09-19 19:07] maximvid commented on #3052
Ok, thank you!

[2017-09-19 19:07] #3052 closed

[2017-09-19 19:38] viking commented on #2833
I thought the same thing. :)

[2017-09-19 20:29] rorywoods commented on #3045
Same issue here. Log ID is 46bab6aa0a22b22019bbd11c. Per @ekse, after installing the latest Dokan release  manually and restarting Keybase, the K: drive mounts properly.

[2017-09-19 21:38] BorisVerk commented on #2552
Still not working on [macOS](url)

[code]

[2017-09-20 00:45] fiatjaf commented on #2332
I'm curious about what has happened here. I'm afraid the same situation will happen with most of my not-very-techy friends to whom I've presented Keybase.

The question has just arisen because I didn't expect my keys to vanish from my phone after I uninstalled the Keybase app and later reinstalled it (which left me out of one device I thought I had).

[2017-09-20 17:30] zanderz commented on #3045
Sorry for the troubles with the repair path. The one possible problem with using drivers directly from Dokan is that if/when we update the drivers we ship, our updater won't know how to upgrade from those, and there will (hopefully) be an error message saying you have to remove those first. We're still looking into your failures - thanks for reporting those.

[2017-09-20 19:29] BSlickMusic opened #3053 "Leaving a team as a sole member - aka fat fingered the name"
Is it possible to do so at this time, or do I have to stare at my ugly creation for a bit?

[2017-09-21 09:04] risicle commented on #637
This is the only thing keeping me from making/recommending keybase as my central resource for identity.

[2017-09-21 12:43] aspiers commented on #2569
Hi again @cjb, any more thoughts on the additional information I and some other SUSE folks shared here? :-)  Thanks!

[2017-09-21 16:05] cjb commented on #2569
@aspiers Hi again!  We use a FUSE filesystem (for `/keybase`) and I'm not sure whether that's possible in Flatpak or AppImage or Snapcraft.  If anyone has any info on that, would be happy to hear it.  We'd need root access to create the `/keybase` dir, even if it's not needed to perform the actual FUSE mount.

Hm, we could consider not installing `/keybase` by default and asking to elevate privile

[2017-09-21 17:11] aendrew opened #3054 "How do you login via the API in NodeJS?"
I'm working on an open source implementation of the API that will enable easy use of it, but I'm getting really stuck on the login portion, I get `Failure in verify PDPKA5` whenever I try to do so.

Here's my code, be forewarned it's long:

[code]

I'm using:
* `hash` from [node-scrypt](https://github.com/barrysteyn/node-scrypt)
* `pack` from [node-msgpack](https://www.npmjs.com/package/msgpack)
*

[2017-09-21 18:55] zanderz commented on #3045
@rorywoods Can you do us a favor and look in your control panel under "Uninstall a program"? Are there more than one Keybase entries? This may explain some of these troubles.

[2017-09-21 22:16] rorywoods commented on #3045
@zanderz Only one Keybase entry. But I do think I had an old version of Keybase installed previous to this one.

[2017-09-22 07:07] vbharathan commented on #2575
Hi @zapu, I'm getting this same error when I try to host an encrypted copy of my private key through the website. (I originally hosted my public key).

`keybase pgp select`
results in - ERROR You already have a PGP key registered

My primary secret key and secret subkeys are offline and I use a Yubikey. Please let me know how I can help with testing.

[2017-09-22 13:04] aendrew commented on #3054
Apologies, I hadn't noticed your excellent login implement, `keybase-login`. I've replaced all of the above with a single call to that and my life is much improved. 😄

[2017-09-22 13:04] #3054 closed

[2017-09-22 13:12] maxtaco commented on #3054
Ah cool, thanks for reminding me, I had forgotten about it!!

[2017-09-22 14:10] oconnor663 commented on #2575
@vbharathan see `keybase pgp select --help`. You need the `--multi` option.

[2017-09-22 14:27] DeepMac commented on #2708
Going back to the original issue DatDraggy opened with... I can confirm it happens for me with the latest Keybase build (keybase version 1.0.30-20170915123343+8c3c799) on Win7 Ultimate x64, even after reboots.

In my case, already had a K drive. The PC has a built-in memory card reader with 4 slots. These present to the OS as Generic USB devices (Generic - MS/MS-Pro USB Device), which Windows Disk

[2017-09-22 16:22] vbharathan commented on #2575
Hi @oconnor663 ,

Thanks for the quick reply! I have a public key hosted already, and I'm trying to host the stubs for the corresponding private key which I have stored on my Yubikey.

When I run `keybase php select --multi` it updates the existing public key with the identical public key.

I got here because I tried to use the "Host an encrypted copy of my private key" through the web UI and got

[2017-09-22 16:53] zapu commented on #2575
Can you confirm that storing encrypted private key is what you want? The idea behind Yubikey and other hardware key cards is for the private key to be stored on them and nowhere else for every day use (apart from backups created during key generation). I'm not 100% familiar with inner workings of Yubikey but I wouldn't be surprised if there was no way to export private keys back from Yubikey once

[2017-09-22 17:32] nsvrana commented on #3045
Same issue here, it looks for a file called: Keybase_1.0.31-20170921162535+71e03df.386

This was a first time install of Keybase on Windows 10 Insider Preview, Fast Ring build number 16294.1

[2017-09-22 18:21] zanderz commented on #3045
@nsvrana Logs show that the Dokan drivers released by the Dokany project were already installed, which this repair process is not equipped to recognize. We'll try to reproduce this condition, but possibly your filesystem mount was already working and the GUI still presented that it wasn't because the drivers from our package were not installed.

Had you installed those explicitly, or could it be t

[2017-09-22 18:39] nsvrana commented on #3045
@zanderz - I had installed them in an attempt to fix this issue _prior_ to my edit. I have uninstalled the driver, used the repair process, and now it works. So the initial issue of looking for dokanclean inside the installer package still exists, but the solution is to point it to the Keybase installer downloaded from the website.

[2017-09-22 19:12] zanderz commented on #2708
@DeepMac Keybase only checks if a drive letter is already in use when it is first installed, and afterwards uses it without checking, so it depends on the order. If K is in use before Keybase is ever installed and Keybase still takes it, we would like to see the logs from that to see why. Otherwise, if Keybase is using K: and some other software or user tries to assign it to something else, there

[2017-09-22 19:15] DatDraggy commented on #2708
For me it did try to use K: on installation. I'm not sure if that was changed yet

[2017-09-22 21:24] vbharathan commented on #2575
Hi, so yes the Yubikey stores the full private key and it can't be copied off. It uses key stubs on local online machines, and it's these key stubs I'm wondering about storing. Anyway, I found this thread because I was encountering the same issue and saw that when you were checking to see if it was resolved in March and wanted to say I've just encountered it, happy to help you resolve it. Cheers!

[2017-09-23 03:01] Beercow opened #3055 "Can’t log into iphone app"
I recently got a new phone and I am unanle to access my account through the app. I am stuck at a screen that says please prove your you. I do not have the old phone. What can I do?

[2017-09-23 04:04] DeepMac commented on #2708
@zanderz Well I've always had K: assigned to the USB flash drive on this PC (it's a built-in HP thing), and as far as I recall Keybase just blithely decided to use K: anyways from when i first installed it. Bu that was months ago. It wasn't something of priority to look into for me at the time.

If Keybase maintains all install and update logs somewhere, I'm happy to provide them. If not, I can ce

[2017-09-23 05:50] jokester opened #3056 "Difficulty in understanding how PGP secret keys are synced"
I am using 2 PGP keys (A and B) and 2 devices (P and Q) with keybase CLI client.
After importing the keys to keybase and removed private key from keybase site (sorry cannot remember exact order of operations), I found that the export of private (secret) key are working differently in 2 devices:
- keybase client in P can export secret key of both A and B
- keybase client in Q can export secret key

[2017-09-23 21:07] DeepMac commented on #2708
Followup: I did a few reboots and the K drive returned to the earlier behavior: It's listed as Keybase with the icon, but trying to open it gives the insert disk error. So changing the drive letter assignment back and forth didn't fix anything. I didn't really expect it to, just FYI.

I'll try uninstalling and re-installing it, but first see if I can dig-up the original installer logs

[2017-09-23 22:21] #1379 closed

[2017-09-23 22:33] zanderz commented on #2708
To exercise the letter selection, you can do `keybase kbfsmount set ""` at the Keybase Shell and then reboot, then the logs should show which letters Keybase thought were available. It picks the next available one higher than K:.

Also, you can change the drive letter specifically with `keybase kbfsmount set X:` and rebooting.

[2017-09-24 16:09] DeepMac commented on #2708
@zanderz I did the `keybase kbfsmount set ""` before rebooting and now it's assigned to drive letter M, the next available letter. So at least with my current version, the drive detection seems to work correctly. I skimmed through the logs (which are rather enormous) but couldn't find the drive detection part.

Conjecturing, this may have been an issue with either the first install, or an earlier

[2017-09-25 00:39] slajax commented on #2818
Did you manage to figure out how to disable the popups everytime you tab into a KBFS dir?

[2017-09-25 01:11] zQueal commented on #3055
Use a paper key.

[2017-09-25 01:11] chiumichael opened #3057 "Reply to a message - feature request"
Would be very helpful if one could reply to a message like in whatsapp.

[2017-09-25 14:40] maxtaco commented on #3056
We don't have a great story for sync'ing your PGP keys across your devices. We only have our original method, which was based on the strength of your (stretched) keybase passphrase, and then "push to server."  If we could wave a magic wand, we would replace that with a KBFS-based, or Per-User-Key-based system, which wouldn't be dependent upon password security (which doesn't have great entropy).